/*************************** STANDARD PAGE STYLES ***************************/
/* Making everything transition over time */
* { transition-duration: .2s; }
/* Setting body font, layout, etc. */
body {
	background-color: var(--bg);
	color: var(--text);
	padding: 0.5em 1em;
	font-family: Georgia;
	display: grid;
	column-gap: 1em;
}
/* Setting standard link/bold/italics colors and styles */
a { color: var(--links) }
a:hover { color: var(--links-hover) }
a:not(:hover) { text-decoration: none }
strong, bold { color: var(--bold) }
em, i:not([class*='fa']) { color: var(--italics) }
/* Setting standard heading colors */
h1, h2, h3, h4, h5, h6 { color: var(--headings) }
/* Setting text highlight colors */
::selection {
	background-color: var(--highlight-bg);
	color: var(--highlight);
}
::moz-selection {
	background-color: var(--highlight-bg);
	color: var(--highlight);
}


/****************************** HEADER SECTION ******************************/
/* Layout and borders */
header {
	border-top: 0.25rem solid var(--accent2);
	grid-column: 1/span 2;
}
header::before {
	content: "";
	display: block;
	border-top: 0.1em solid var(--accent2);
	margin-top: 0.15em;
}
/* Overriding link color for heading */
header a { color: var(--headings) }
/* Title section (date, blog title, blog icon) styling */
#title {
	display: grid;
	grid-template-columns: 6em 1fr 6em;
	column-gap: 1em;
	text-align: center;
	align-items: start;
	padding: 0.3em;
	border-bottom: 0.25rem solid var(--accent2);
}
/* Date */
#currdate {
	padding: 0.25em;
	border: thin solid;
}
/* Title */
#title a {
	font-size: 2em;
	display: block;
	padding-top: 0.5em;
}
#title h1 {
	font-family: var(--title-font), serif;
	margin: 0;
}
/* Icon; stamp styling */
.stamp {
	--size: 5em;
	width: var(--size);
	height: var(--size);
	display: inline-block;
	padding: 0.5em 0.625em;
	background: white;
	position: relative;
	-webkit-filter: drop-shadow(0 0 0.25em rgba(var(--text--rgb),0.5));
	filter: drop-shadow(0 0 0.25em rgba(var(--text--rgb),0.5));
	/*The stamp cutout will be created using crisp radial gradients*/
	background: radial-gradient(
		transparent 0px, 
		transparent 0.25em, 
		var(--accent1) 0.25em,
		var(--accent1)
	);
	/*reducing the gradient size*/
	background-size: 1.25em 1.25em;
	/*Offset to move the holes to the edge*/
	background-position: -0.625em -0.625em;
}
.stamp img {
	height: calc(var(--size) - 1em);
	width: calc(var(--size) - 1em);
}
/* Links section, bottom of header */
#links {
	margin-top: 0.15em;
	padding: 0.15em;
	border-top: 0.1em solid var(--accent2);
	border-bottom: 0.1em solid var(--accent2);
	display: grid;
	grid-template-columns: 1fr; /* Assume all links disabled by default*/
	--line-spacing: 0.5em;
}
/* For when only one link block is enabled */
/* Only ask/submit */
#links.ask:not(.random, .archive),
#links.submit:not(.random, .archive),
/* Only random/archive */
#links.random:not(.ask, .submit),
#links.archive:not(.ask, .submit) {
	grid-template-columns:1fr 1fr
}
/* For when both link blocks are enabled */
/* Ask and the random/archive block */
#links.ask.random,
#links.ask.archive,
/* Submit and the random/archive block */
#links.submit.random,
#links.submit.archive {
	grid-template-columns: 1fr 1fr 1fr
}
/* Transforming leftmost/rightmost links to stand out from central links */
#links > :first-child, #links > :last-child {
	text-transform: uppercase;
	font-style: italic;
}
/* Spacing out each links block across page */
#links > :first-child,
#links span:nth-child(even) {
	/* Center align ask/submit, and home if nothing else is enabled */
	text-align: center
}
#links.random > :first-child,
#links.archive > :first-child,
#links.ask > :first-child,
#links.submit > :first-child {
	/* Put home on left if anything else is enabled */
	text-align: left;
}
#links span:last-child { text-align: right }
#links a[href*='home']:last-child { text-align: center }
/* Separators between links */
#links.ask.submit a:first-child,
#links.random.archive a:first-child {
	border-right: thin solid var(--text);
	padding-right: var(--line-spacing);
}
#links.ask.submit a:last-child,
#links.random.archive a:last-child {
	padding-left: var(--line-spacing);
}


/**************************** MAIN POSTS SECTION ****************************/
main {
	width: 100%;
	max-width: var(--post-width);
	justify-self: end;
}


/***************************** BLOG INFO SIDEBAR *****************************/
#sidebar {
	max-width: max(calc(var(--post-width) / 2), 300px);
	padding: 1em 0 1em 2em;
	border-left: 0.2em solid var(--accent2);
	--sidebar-spacing: 0.75em;
}
/* Separators for sidebar sections */
#sidebar > *:not(:last-child) {
	border-bottom: 0.15em solid var(--accent2);
	margin-bottom: var(--sidebar-spacing);
	padding-bottom: var(--sidebar-spacing);
}
/* Custom pages section */
.title,
#pages h2 {
	text-transform: uppercase;
	font-weight: 300;
	text-align: center;
}
#pages h2 { margin: 0 }
#pages a {
	text-align: center;
	display: block;
	padding: 0.5em 0;
	border-top: thin solid var(--accent2);
}
#pages a:last-child {
	border-bottom: thin solid var(--accent2);
}
#pages a:hover { background-color: rgba(var(--links--rgb), 0.05) }



/****************************** RESPONSIVENESS ******************************/
@media (max-width: 800px) {
	/* Slight page shrink */
	body { font-size: 90% }
}
@media (max-width: 700px) {
	/* Resize elements */
	#title a { font-size: 1.5em }
	
	/* For when only one link block is enabled */
	/* Only ask/submit */
	#links.ask:not(.random, .archive),
	#links.submit:not(.random, .archive),
	/* Only random/archive */
	#links.random:not(.ask, .submit),
	#links.archive:not(.ask, .submit) {
		grid-template-columns:1fr 2fr
	}
	/* For when both link blocks are enabled */
	/* Ask and the random/archive block */
	#links.ask.random,
	#links.ask.archive,
	/* Submit and the random/archive block */
	#links.submit.random,
	#links.submit.archive {
		grid-template-columns: 1fr 2fr 2fr
	}
	
	#sidebar { padding-left: 1em }
}
@media (max-width: 600px) {
	/* Further page shrink */
	body { font-size: 80% }
	
	/* Repositioning title elements */
	#title { grid-template-columns: 1fr 1fr }
	#currdate { max-width: 6em }
	#currdate, #title .stamp { justify-self: center }
	#title a {
		grid-row: 2;
		grid-column: 1 / span 2;
	}
	
	/* Stacking links to give them more space */
	#links {
		display: flex;
		flex-direction: column;
		align-items: center;
		row-gap: 0.25em;
	}
}