/* #region GENERAL STYLES */
/* #region Scroll bar */
* {
	scrollbar-color: var(--text) var(--bg-pg);
	scrollbar-width: thin;
	background-position: center;
}
::-webkit-scrollbar {
	width: 0.5em;
	height: 0.5em;
	background-color: var(--bg-pg);
}
::-webkit-scrollbar-corner { background-color: var(--text) }
::-webkit-scrollbar-thumb { background-color: var(--text) }
/* #endregion */
html {
	background-color: var(--bg-pg);
	color: var(--text);
	font-family: var(--bfont);
	height: 100%;
}
a {
	color: var(--text);
	transition: color .2s;
	text-decoration: none;
}
#desc a, .post .bodyitemcontent a {
	text-decoration: underline;
	text-underline-offset: 0.2em;
}
a:hover, a:focus { color: var(--accent) }
blockquote {
	margin-inline: 0.9em;
	border-inline-start: 0.1em solid var(--accent);
	padding: 0.2em 0 0.2em 1em;
}
blockquote > :first-child { margin-block-start: 0 }
blockquote > :last-child { margin-block-end: 0 }
/* Accessibility */
#skip, #hiddentitle, #search label, .hidden#hdr {
	position: fixed;
	font-size: 1px;
	top: -100rem;
}
/* Tooltips */
#s-m-t-tooltip {
	margin: 1em;
	padding: 0.25em 0.5em;
	background-color: var(--bg);
	color: var(--text);
	box-shadow: 0.1em 0.1em 0.5em rgba(var(--text--rgb), 0.25);
}
/* #region Casing */
body.upper #footer,
body.upper #name, body.upper #blognav a, body.upper #title,
body.upper #search button, body.upper #search input,
body.upper #pages, body.upper #pagination,
body.upper #hdr, body.upper .newdate,
body.upper .post header, body.upper .post footer .topline,
body.upper .post .user,
body.upper .post .body .read_more, body.upper .more_notes_link_container > *,
body.upper .post .notes .action a,
body.upper .photowrapper .highres, body.upper .ask .asker,
body.upper a.poll-see-results {
	text-transform: uppercase;
}
body.upper .post .body > a.title h4, body.upper .post#notes .title { font-variant: small-caps }
body.lower #footer, body.lower #blognav a, body.lower #title,
body.lower #search button, body.lower #search input,
body.lower #pages, body.lower #pagination,
body.lower #hdr, body.lower .newdate,
body.lower .post header, body.lower .post footer .topline,
body.lower .post .body .read_more, body.lower .more_notes_link_container > *,
body.lower .photowrapper .highres, body.lower .ask .asker,
body.lower a.poll-see-results {
	text-transform: lowercase;
}
/* #endregion */
/* Roundness */
#avatar.square, #s-m-t-tooltip,
#search form, #search button,
.post, .photowrapper .highres,
.post .notes .avatar {
	border-radius: var(--roundness)
}
/* #endregion */



/* #region PAGE LAYOUT */
body {
	display: grid;
	--navbar-size: 3.5em;
	min-height: 100%;
}
body:not(.ntop) { grid-template-rows: auto 1fr auto }
body.ntop { grid-template-rows: auto auto 1fr auto }
body.nleft { margin-left: var(--navbar-size) }
body.nright { margin-right: var(--navbar-size) }
/* #region Banner */
#banner {
	position: relative;
	display: flex;
}
#banner img {
	max-height: 25em;
	width: 100%;
}
#banner span {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: var(--htsize);
	color: var(--text-h);
	font-family: var(--tfont);
	padding: .25em;
	line-height: 1;
}
#banner span.bg { background: rgba(var(--bg--rgb), var(--hbg)) }
html:not(.alt) #banner .alt, html.alt #banner .og { display: none }
/* #endregion */
/* Footer */
#footer {
	padding: 0.5em 1em;
	display: flex;
	flex-flow: row wrap;
	gap: 0.5em 1em;
	align-items: center;
	justify-content: center;
	letter-spacing: 0.1em;
	text-align: center;
}
#footer a { padding: 0.5em 1em }
/* #endregion */



/* #region NAVBAR */
#navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--bg);
	padding-inline: 1em;
	z-index: 5;
	gap: 1em;
	line-height: 1;
}
body.ntop #navbar {
	position: sticky;
	top: 0;
	width: 100vw;
	height: var(--navbar-size);
}
body:not(.ntop) #navbar { position: fixed }
body.nleft #navbar {
	bottom: 0;
	left: var(--navbar-size);
	width: 100vh;
	height: var(--navbar-size);
	transform: rotate(-90deg);
	transform-origin: bottom left;
}
body.nright #navbar {
	top: 0;
	right: 0;
	height: 100vh;
	width: var(--navbar-size);
	writing-mode: vertical-lr;
	flex-direction: row-reverse;
}
#avnm {
	display: flex;
	align-items: center;
	gap: 0.5em;
	text-decoration: none;
	flex-shrink: 1;
	z-index: 2;
}
body.nright #avnm { flex-direction: row-reverse }
#avatar {
	--size: 2.5em;
	height: var(--size);
	width: var(--size);
}
body.nleft #avatar { transform: rotate(90deg) }
#name {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
#name, #blognav a {
	letter-spacing: 0.1em;
	cursor: pointer;
	padding-block: calc((var(--navbar-size) - 1em) / 2);
	text-decoration: none;
}
/* Blog navigation */
#blognav {
	display: flex;
	gap: 0.6em;
	position: relative;
}
#blognav::before {
	position: absolute;
	content: "";
	display: block;
	background-color: var(--bg);
	z-index: 1;
	pointer-events: none;
}
body:not(.nright) #blognav::before {
	top: 0;
	right: 100%;
	width: 5em;
	height: var(--navbar-size);
}
body.nright #blognav::before {
	top: 100%;
	right: 0;
	width: var(--navbar-size);
	height: 5em;
}
#dropnav:not(.a, s, .r, .c, .e) { display: none !important }
#dropnav.active #shownav { color: var(--accent) }
#blognav > a, #shownav {
	background-color: var(--bg);
	z-index: 1;
	padding-inline: 0.3em;
	margin-inline: -0.3em;
}
#dropnav.active #dropper { box-shadow: 0 0 0.5em rgba(var(--text--rgb), 0.25) }
body:not(.nright) #scrolltotop_parent { order: -1 }
body.nright #scrolltotop_parent { order: 1 }
.tmblr-iframe--unified-controls { z-index: 5 !important }
.iframe-controls--desktop {
	transform: scale(0.75);
	transform-origin: top right;
}
body:not(.ntop) .tmblr-iframe--unified-controls.iframe-controls--phone-mobile { width: calc(100% - var(--navbar-size)) }
body.nleft .tmblr-iframe--unified-controls.iframe-controls--phone-mobile { margin-left: var(--navbar-size) }
body.ntop .tmblr-iframe--unified-controls { margin-top: var(--navbar-size) }
body.nright .tmblr-iframe--unified-controls { margin-right: var(--navbar-size) }
/* #endregion */



/* #region CENTER - GENERAL AND SEARCH */
#center {
	position: relative;
	background-image: var(--bg-img);
	background-position: var(--bg-position);
	background-repeat: var(--bg-repeat);
	background-size: var(--bg-size);
	background-attachment: var(--bg-attachment);
	display: grid;
}
html:not(.alt) #center:not(.i, .p, .d, .t, .pn),
html.alt #center:not(.ai, .p, .d, .t, .pn) { gap: 0 }
/* #region Search form */
body:not(.showsearch) #search { opacity: 0; pointer-events: none }
#search {
	transition: opacity .2s;
	z-index: 4;
}
body.showsearch { overflow: hidden }
#search { position: fixed }
body.nleft #search {
	width: calc(100% - var(--navbar-size));
	height: 100%;
	top: 0;
	left: var(--navbar-size);
}
body.nright #search {
	width: calc(100% - var(--navbar-size));
	height: 100%;
	top: 0;
	left: 0;
}
body.ntop #search {
	width: 100%;
	height: calc(100% - var(--navbar-size));
	top: var(--navbar-size);
	left: 0;
}
#back {
	background-color: var(--bg-pg);
	opacity: 0.75;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
#search form {
	position: absolute;
	top: 50%;
	background-color: var(--bg);
	padding: 1em;
	display: flex;
	gap: 0.5em;
	min-width: 15em;
	width: 50%;
	max-width: 30em;
	text-align: center;
}
body.nleft #search form {
	left: 50%;
	transform: translate(-50%, -50%);
}
body.nright #search form {
	right: 50%;
	transform: translate(50%, -50%);
}
body.ntop #search form {
	left: 50%;
	transform: translate(-50%, -50%);
}
#search input {
	background-color: unset;
	color: var(--text);
	border: none;
	border-bottom: 0.1em solid;
	transition: opacity .2s;
	text-align: center;
	padding: 0.25em 0.5em;
	flex-grow: 1;
}
#search input:placeholder-shown:not(:focus) { opacity: 0.25 }
#search input:placeholder-shown:not(:focus):hover { opacity: 0.5 }
#search button {
	background: none;
	border: none;
	letter-spacing: 0.1em;
	color: var(--text);
	cursor: pointer;
	padding: 0.25em 0.5em;
	transition: color .2s;
}
#search button:hover, #search button:focus { color: var(--accent) }
/* #endregion */
/* #endregion */



/* #region SIDEBAR */
#sidebar {
	display: flex;
	flex-direction: column;
	max-width: 25em;
	text-align: justify;
}
#sidebar > * { margin-block: 0.3rem }
#sidebar > :first-child, #sidebarimg:empty + * { margin-block-start: 0 }
#sidebar > :last-child { margin-block-end: 0 }
/* Sidebar images */
#sidebarimg {
	position: relative;
	display: flex;
	overflow: hidden;
}
html:not(.alt) #sidebarimg.oggrad::after,
html.alt #sidebarimg.altgrad::after {
	content: "";
	background: linear-gradient(transparent 70%, var(--bg-pg) 98%);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: block;
}
html:not(.alt) #sidebarimg img.alt, html.alt #sidebarimg img.og, #sidebarimg:empty { display: none }
/* Title */
#title {
	font-family: var(--tfont);
	font-weight: var(--tweight);
	font-size: var(--tsize);
	line-height: 1;
}
/* Links and pagination */
#pages, #pagination {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	letter-spacing: 0.1em;
	text-align-last: center;
}
#pages a, #pagination > * {
	padding: 0.25em 0.5em;
	margin-inline: -0.5em;
}
#pages a.current-page { font-weight: bold }
/* #endregion */



/* #region POSTS */
#main {
	width: 100%;
	max-width: var(--post-width);
	display: flex;
	flex-direction: column;
	gap: 1.5em;
}
/* Page headers */
#hdr, .newdate {
	text-align: justify;
	text-align-last: center;
	letter-spacing: 0.1em;
}
#hdr h2, .newdate h3 { margin: 0 }
#hdr.day ~ .newdate { display: none }
#hdr p { margin-block: 0.25em 0.5em }
#hdr p a { padding: 0.5em }
.post { background-color: var(--bg) }
#hdr .tag::before { content: "#" }
.search_query::before { content: "\201C" }
.search_query::after { content: "\201D" }
/* Header/footer links */
.post header, .post footer .topline {
	display: flex;
	flex-flow: row wrap;
	gap: 0.25em 0.75em;
	justify-content: space-between;
	font-weight: 600;
	letter-spacing: 0.1em;
	font-size: 0.9em;
}
/* Spaced out links */
.vsn, .lrt, .tags {
	display: flex;
	gap: 0.25em 0.75em;
}
/* #region Like button */
.customlike { position: relative }
.customlike .like_button, .customlike iframe {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100% !important;
	height: 100% !important;
	overflow: hidden;
	opacity: 0;
}
.like_button:not(.liked) ~ .to-unlike,
.like_button.liked ~ .to-like { display: none }
.to-unlike { color: var(--accent) }
/* #endregion */
/* #region Tags */
.tags {
	flex-flow: row wrap;
	margin-top: 0.5em;
}
.tags a::before { content: "#" }
.tags a { transition-property: color, opacity }
.tags a:not(:hover, :focus) { opacity: 0.6 }
.showtags { cursor: pointer }
.showtags.active { color: var(--accent) }
/* #endregion */
/* #region Post body: general */
.post .body { margin-block: 1.2em }
.post .user + .bodyitemcontent { padding-inline-start: 0.25em }
.post .bodyitem:not(:last-child) { margin-block-end: 1em }
.post .user {
	font-weight: bold;
	letter-spacing: 0.1em;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	gap: 0.25em;
	margin-block-end: 0.3em;
	overflow-wrap: break-word;
	hyphens: auto;
}
.post .deactivated.user::after {
	content: "(deactivated)";
	opacity: 0.5;
	font-size: 0.8em;
}
.post .bodyitemcontent > :first-child { margin-block-start: 0 }
.post .bodyitemcontent > :last-child { margin-block-end: 0 }
/* #endregion */
/* #region Post body item elements */
.post .body > a.title h4, .post#notes .title {
	margin: 0 0.25em 0.5em;
	text-align: center;
	font-size: 2.25em;
	font-weight: bold;
}
.post h5 { font-size: 1.6em }
.post h6 { font-size: 1.3em }
.post h5, .post h6 { margin-block: 0.5em }
.post .body .read_more, .more_notes_link_container > * { 
	font-weight: bold;
	letter-spacing: 0.1em;
	text-decoration: none;
	text-align: center;
	display: block;
	margin-block: -0.5em;
	padding: 0.5em;
}
/* #endregion */
/* #region Post notes */
.post .notes {
	list-style: none;
	padding: 0;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
	gap: 0.75rem;
}
.post .notes li, .post .notes .with_commentary .avatar_frame, .post .notes .reply .avatar_frame { position: relative }
/* Simple notes */
.post .notes li:not(.reply, .with_commentary:not(.original_post), .more_notes_link_container) { font-size: 0 }
/* Replies and commentary */
.post .notes .reply, .post .notes .with_commentary:not(.original_post) {
	display: grid;
	grid-template-columns: auto 1fr;
	gap: 0.5em 1em;
	align-items: center;
	width: 100%;
	border-block: 0.1em solid var(--accent);
	padding-block: 0.4em;
}
/* Align simple notes to left */
.post .notes li:first-child,
.post .notes .reply + li, .post .notes .with_commentary + li { margin-inline-start: 0 }
/* Usernames */
.post .notes .action a {
	font-weight: bold;
	letter-spacing: 0.05em;
}
/* Avatars */
.post .notes .with_commentary .avatar_frame { grid-row: 1 / span 2 }
.post .notes .clear { display: none }
.post .notes .avatar_frame {
	align-self: first baseline;
	display: flex;
}
.post .notes .avatar { width: 2.5rem; height: 2.5rem }
/* Note icons */
.post .notes .avatar_frame::after,
.post .notes .reblog.without_commentary .tumblelog::after,
.post .notes .reblog.original_post blockquote a::after{
	font: normal normal normal 0.75rem/1 "Phosphor";
	color: inherit;
	flex-shrink: 0;
	speak: none;
	text-transform: none;
	text-decoration: inherit;
	text-align: center;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	display: block;
	position: absolute;
	bottom: -0.25em;
	right: -0.25em;
	background: var(--bg-pg);
	padding: 0.25em;
	border-radius: 100%;
}
.post .notes .reblog.with_commentary .avatar_frame::after,
.post .notes .reblog.without_commentary .tumblelog::after { content: "\f554" }
.post .notes .like .avatar_frame::after { content: "\f460" }
.post .notes .reply .avatar_frame::after { content: "\f331" }
.post .notes .reblog.original_post blockquote a::after { content: "\f5b4"; color: var(--accent) }
/* Commentary blockquotes */
.post .notes .with_commentary blockquote {
	margin: 0 0 0.15em 0.5em;
	padding: 0 0 0 0.5em;
}
/* More notes */
.more_notes_link_container { width: 100% }
.more_notes_link_container > * { margin-block: 0 }
/* #endregion */
/* #endregion */



/* #region POST TYPES */
/* Ask guidelines */
.askwrapper { margin-block-end: 0.5em }
/* Poll blocks */
.bodyitemcontent .poll-post a.poll-row {
	background-color: transparent;
	border-radius: 0;
	border-block: 0.1em solid var(--accent);
	color: inherit;
	transition-property: background-color;
}
.bodyitemcontent .poll-post a.poll-row:is(:hover, :focus) {
	background-color: rgb(from var(--accent) r g b / 0.1);
	color: var(--accent);
}
.bodyitemcontent .poll-post a.poll-row:has(~ .poll-see-results) {
	text-decoration: line-through;
	text-decoration-thickness: 0.1em;
	text-decoration-color: rgb(from currentColor r g b / 0.5)
}
/* #region Photo posts */
.photowrapper {
	position: relative;
	display: flex;
}
.photowrapper > a:first-child, .photowrapper .photopost { width: 100% }
.photowrapper .highres {
	position: absolute;
	bottom: min(5%, 0.5em);
	right: min(5%, 0.25em);
	background: var(--bg);
	padding: min(0.5em, 5%);
	transition-property: color, opacity;
	letter-spacing: 0.1em;
	font-size: 0.9em;
}
.photowrapper:not(:hover) .highres { opacity: 0 }
.bodyitem .npf_photoset { margin-inline: var(--backing) }
.bodyitemcontent .npf_photoset { margin-inline-start: calc(var(--backing) - 0.25em) }
.bodyitemcontent .npf_photoset:first-child { margin-top: 0.5em }
.photowrapper + .bodyitem, .npf_photoset + .bodyitem { margin-block-start: 0.5em }
/* #endregion */
/* #region Link posts */
.bodyitemcontent div.npf-link-block a { text-decoration: none }
div.npf-link-block .title,
div.npf-link-block.no-poster .title { padding: 1rem 0.75rem 0 }
.has-poster .bottom:empty { display: none }
div.npf-link-block:not(.has-poster) .bottom:empty { padding-top: 0 }
/* #endregion */
/* #region Audio posts */
.audiowrapper {
	display: flex;
	flex-direction: column;
	background-size: cover;
}
.audiowrapper span[id^='audio_player'] { display: none }
.audiowrapper .top {
	background-color: rgba(var(--bg-pg--rgb), 0.75);
	display: grid;
	grid-template-columns: 5em 1fr;
	width: 100%;
}
.audiowrapper.hasart .top {
	grid-template-columns: 5em 1fr 5em;
	backdrop-filter: blur(15px);
	background-color: rgba(var(--bg-pg--rgb), 0.75);
}
.audiowrapper .custom_audio_buttons {
	display: flex;
	align-items: center;
	justify-content: center;
}
.audiowrapper .custom_audio_buttons div[style*='block'],
.audiowrapper .custom_audio_buttons div:not([style]) {
	background: var(--bg);
	display: flex !important;
	align-items: center;
	justify-content: center;
	width: 2em;
	height: 2em;
	font-size: 1.5em;
	border-radius: 100%;
	cursor: pointer;
}
.audiowrapper .textinfo {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 0.1em;
	padding-inline-end: 1em;
	padding-block: 0.5em;
}
.audiowrapper .textinfo .trackname { font-weight: bold }
.audiowrapper .textinfo .album { font-style: italic }
.audiowrapper .albumart {
	height: 100%;
	object-fit: cover;
}
.audiowrapper .custom_audio_seekbar {
	background-color: var(--bg-pg);
	display: block;
	height: 0.25em;
	cursor: pointer;
}
.audiowrapper .custom_audio_seekbar_progress {
	background-color: var(--accent);
	display: block;
	height: 100%;
}
.audiowrapper + .bodyitem { margin-block-start: 0.5em }
/* #endregion */
/* Video posts */
.bodyitemcontent iframe, .tumblr_video_container {
	width: 100% !important;
	max-width: 100%;
}
.videowrapper + .bodyitem { margin-block-start: 0.5em }
/* #region Answer posts */
.ask {
	margin: 0 1.75em 1em;
	padding: 1em 0.5em;
	border-block: 0.1em solid var(--accent);
	position: relative;
}
.ask .ph-envelope-open {
	position: absolute;
	top: 0;
	left: 50%;
	font-size: 1.1em;
	background: var(--bg);
	padding: 0.25em;
	border: 0.1em solid var(--accent);
	border-radius: 100%;
	transform: translate(-50%, -65%)
}
.question > :last-child { margin-block-end: 0 }
.ask .asker {
	letter-spacing: 0.05em;
	font-weight: bold;
}
/* #endregion */
/* #endregion */



/* #region RESPONSIVENESS */
@media (min-width: 60rem) { /* Desktop sizing */
	#center {
		grid-template-columns: 1fr 1fr;
		gap: 5%;
		padding: 2em;
	}
	#sidebar {
		position: sticky;
		bottom: 2em;
		align-self: end;
		justify-content: end;
		max-height: calc(100vh - 4em);
	}
	body.ntop #sidebar { max-height: calc(100vh - 4em - var(--navbar-size)) }
	body.sright #sidebar { justify-self: start; grid-column: 2; grid-row: 1 }
	body.sright #main { justify-self: end; grid-column: 1; grid-row: 1 }
	body.sleft #sidebar { justify-self: end; grid-column: 1; grid-row: 1 }
	body.sleft #main { justify-self: start; grid-column: 2; grid-row: 1 }
	
	body.ntop #shownav { display: none }
	body.ntop #dropper {
		display: flex;
		gap: 0.5em;
	}
	
	.post header, .post footer { margin: 1em }
	.post .user, .post .bodyitemcontent, .post .notes { margin-inline: 1em }
	.npf_photoset { --backing: -1em }
}
@media (max-width: 60rem) { /* Mobile sizing */
	body:not(.ntop) { --navbar-size: 2.5em }
	#avatar { --size: 2em }
	
	body.ntop #dropnav {
		position: relative;
		display: flex;
		align-items: center;
	}
	body.ntop #dropper {
		position: absolute;
		top: 100%;
		left: 50%;
		transform: translateX(-50%);
		background: var(--bg);
		display: flex;
		flex-direction: column;
		text-align: center;
		transition: opacity .2s;
	}
	body.ntop #dropnav:not(.active) #dropper { opacity: 0; pointer-events: none }
	body.ntop #dropper a { padding: 0.75em 1em }
	
	#center {
		justify-items: center;
		gap: 2em;
		padding: 2em 5%;
	}
	#sidebar { grid-row: 1 }
	
	.post header, .post footer { margin: 1em 4% }
	.post .user, .post .bodyitemcontent, .post .notes { margin-inline: 4% }
	.npf_photoset { --backing: -4.3% }
}

/* Side navbar, small window height */
@media (min-height: 45rem) {
	body:not(.ntop) #shownav { display: none }
	body:not(.ntop) #dropper {
		display: flex;
		gap: 0.6em;
	}
}
@media (max-height: 45rem) {
	body:not(.ntop) #dropnav {
		position: relative;
		display: flex;
		align-items: center;
	}
	body.nright #dropper {
		writing-mode: horizontal-tb;
		position: absolute;
		top: 0;
		right: 100%;
	}
	body.nleft #dropper {
		transform: rotate(90deg);
		transform-origin: top left;
		position: absolute;
		top: 100%;
		left: 100%;
	}
	body:not(.ntop) #dropper {
		background: var(--bg);
		display: flex;
		flex-direction: column;
		text-align: center;
		transition: opacity .2s;
	}
	body.nright .iframe-controls--desktop ~ #navbar #dropper { top: 1.5rem }
	body:not(.ntop) #dropnav:not(.active) #dropper { opacity: 0; pointer-events: none }
	body:not(.ntop) #dropper a { padding: 0.6em 1em }
}
/* #endregion */