/* General styles */
* {
	scrollbar-color: var(--accent) var(--bg);
	scrollbar-width: thin;
}
::-webkit-scrollbar {
	width: 0.5em;
	height: 0.5em;
	background-color: var(--bg);
}
::-webkit-scrollbar-corner { background-color: var(--accent) }
::-webkit-scrollbar-thumb { background-color: var(--accent) }
html {
	background: var(--bg) linear-gradient(rgba(var(--accent--rgb), 0.2), rgba(var(--accent--rgb), 0.2));
	color: var(--text);
	--roundness: 0.5rem;
	--half-roundness: 0.25rem;
}
a {
	color: var(--accent);
	text-decoration: none
}
#highlight:hover, #desc a:hover, #main a:hover { text-decoration: underline }
.bodyitemcontent iframe, .tumblr_video_container { width: 100% !important }
/* Blockquotes */
blockquote {
	border-left: 0.1875rem solid rgba(var(--accent--rgb), 0.2);
	padding: 0.625em var(--spacing);
	margin: 0.625rem 0;
}
blockquote > :first-child { margin-top: 0 }
blockquote > :last-child { margin-bottom: 0 }
/* Lists */
li::marker { font-family: "Favorit", "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif }
/* Accessibility */
#skip, #hiddentitle, #featured > h2, #notes h2 {
	position: fixed;
	font-size: 1px;
	top: -100rem;
}
/* Show skiplink on focus */
#skip:focus {
	top: 1em;
	left: 50%;
	transform: translateX(-50%);
	font-size: 1em;
	background-color: var(--accent);
	color: var(--bg);
	padding: 0.5em 1em;
	border-radius: 5em;
	font-weight: bold;
}
/* Content/sidebar layout */
body {
	display: grid;
	column-gap: 1.25em;
	justify-content: center;
	align-items: start;
	padding: 1.25em;
}
/* Tooltips */
#s-m-t-tooltip {
	z-index: 10!important;
	margin: 1em;
	padding: 0.5em;
	border-radius: var(--half-roundness);
	background: var(--bg);
	box-shadow: inset 0 0 0 2px rgba(var(--accent--rgb), 0.15);
	color: var(--text);
	font-size: 0.9rem;
}
/* Scroll to top */
#scrolltotop_parent, #showright {
	position: fixed;
	z-index: 1;
	bottom: 0.5em;
	left: calc(100vw - 3.75em);
	display: flex;
	align-items: center;
	justify-content: center;
	width: 2.75em;
	height: 2.75em;
	background-color: rgba(var(--bg--rgb), 0.75);
	color: var(--text);
	border-radius: 100%;
	border: 0.125em solid rgba(var(--text--rgb), 0.4);
	cursor: pointer;
}
#scrolltotop_arrow {
	width: 1.0625em;
	height: 1.0625em;
}
#scrolltotop_parent:hover, #showright:hover {
	background-color: var(--bg);
	border-color: var(--text);
}
#showright { transform: rotate(45deg) }



/***************************** MAIN CONTENT SECTION *****************************/
#center {
	background-color: var(--bg);
	width: 100%;
	max-width: var(--post-width);
	border-radius: var(--roundness);
}
#headerimg img {
	border-radius: var(--roundness) var(--roundness) 0 0;
	height: 15em;
	width: 100%;
	object-fit: contain;
}
#headerimg.cover img { object-fit: cover }
#main, #pagination, #notes { margin: 0 1.25em 1.25em }
.post {
	border: 0.0625rem solid rgba(var(--accent--rgb), 0.25);
	border-radius: var(--half-roundness);
	margin-bottom: 1.25rem;
	--spacing: 1.25rem;
	--unspacing: -1.25rem;
	--vspacing: 1rem;
}
/* Post headers */
.post header {
	padding: var(--spacing) var(--spacing) 0;
	margin-bottom: var(--vspacing);
	font-size: 0.875rem;
	display: grid;
	grid-template-columns: auto auto;
	align-items: center;
	column-gap: 1rem;
	position: relative;
}
.post header a { color: var(--text) }
.viasource {
	display: grid;
	align-items: center;
	grid-template-columns: auto auto auto;
	column-gap: 0.25rem;
	width: fit-content;
}
.viasource a {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-weight: 700;
}
.post header .date {
	justify-self: end;
	text-align: right;
}
.cornerlink {
	position: absolute;
	top: -0.0625em;
	right: -0.0625em;
	border: 0em solid var(--bg);
	border-bottom-left-radius: var(--half-roundness);
	transition: border ease .15s;
}
.post header:hover .cornerlink, .post header:focus-within .cornerlink {
	border-width: 0.5em;
	border-color: var(--bg) var(--bg) var(--accent) var(--accent);
}
/* Post body */
.bodyitem {
	border-top: 0.0625em solid rgba(var(--accent--rgb), 0.25);
	padding-top: var(--vspacing);
}
.bodyitemcontent, .user, .body > .title { padding: 0 var(--spacing) }
.bodyitemcontent > *, .body > .title {
	margin-top: 1rem;
	margin-bottom: 1rem;
}
/* Usernames */
.user {
	display: flex;
	align-items: center;
	font-weight: 700;
}
.usericon {
	--size: 1.5625em;
	height: var(--size);
	width: var(--size);
	border-radius: var(--half-roundness);
}
.username { margin-left: 0.625em }
/* Headings */
.body > .title, .bodyitemcontent h1, .bodyitemcontent h2 { font-weight: normal }
.body > .title, .bodyitemcontent h1 {
	font-size: 1.625rem;
	line-height: 1.3077;
}
.bodyitemcontent h2 {
	font-size: 1.25rem;
	line-height: 1.625rem;
}
/* Read more links */
.read_more {
	display: block;
	text-align: center;
	font-weight: 700;
	padding: 0.375rem 0.625rem;
}
/* Post footers */
.post footer { margin-top: 0.75rem }
.pintags, .notecount {
	padding: 0 var(--spacing);
	margin: 0.75em 0 0;
}
.source, .sublabel { margin: 0.625em var(--spacing) }
.source + footer, .sublabel + footer { margin-top: 0 }
.source a, .sublabel a, .tags a { color: var(--text) }
.source, .sublabel, .tags a:not(:hover), .notecount { opacity: 0.8 }
.sublabel a { font-weight: 700 }
#pinnedpost {
	display: inline-flex;
	align-items: baseline;
	color: var(--accent);
}
#pinnedpost, .tags:first-child a:first-child { margin-left: -0.375rem }
#pinnedpost, .notecount { font-weight: 700 }
#pinnedpost svg { margin-right: 0.375em }
#pinnedpost, .tags a { padding: 0.125em 0.375em }
.tags a { margin-inline: -.375em  .125em } /* Undo extra spacing visually*/
.tags a::before{ content: "#" }
.tags a::after {
	content: " ";
	display: inline-block;
	width: 0;
}
.notecount { display: block }
.post .buttons {
	display: flex;
	margin: 1em var(--spacing) 0;
	border-top: 0.0625em solid rgba(var(--accent--rgb), 0.25);
}
.post .buttons a {
	flex-grow: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0.75rem var(--spacing);
}
.customlike { position: relative }
.customlike iframe {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
}
.pintags:empty, .buttons:empty,
.customlike .like_button:not(.liked) ~ .liked,
.customlike .like_button.liked ~ .unliked { display: none }
.showtags { cursor: pointer }
.showtags.active { color: var(--text) }
/* Pagination */
#pagination {
	display: grid;
	grid-template-columns: 1fr auto 1fr;
	align-items: center;
}
#curr {
	grid-column: 2;
	justify-self: center;
	border-radius: var(--roundness);
	padding: 0 1em;
}
#next { grid-column: 3; justify-self: end }
#pagination a, #curr {
	border: 0.125em solid rgba(var(--accent--rgb), 0.1);
	display: flex;
	align-items: center;
	justify-content: center;
	height: 2.5em;
}
#pagination a {
	border-radius: 100%;
	width: 2.5em;
}
/* Notes section */
.notes {
	list-style: none;
	padding: 0.5em 0;
	margin: 0;
}
.notes li {
	margin: 0.75em 1em;
	display: grid;
	grid-template-columns: 2em 1fr;
	column-gap: 1em;
	align-items: center;
}
.avatar { border-radius: var(--half-roundness) }
.avatar_frame {
	position: relative;
	display: flex;
	align-self: start;
}
.avatar_frame svg {
	position: absolute;
	bottom: -0.25em;
	right: -0.25em;
	display: block;
	--size: 1em;
	width: var(--size);
	height: var(--size);
}
.notes .action {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.action a { color: var(--text) }
.action a:first-of-type, .more_notes_link, .notes_loading { font-weight: 700 }
.action a:first-of-type, .action svg { margin-right: 0.2em }
.answer_content { margin-left: 0.2em }
.more_notes_link, .notes_loading { grid-column: 1 / span 2 }



/************************************* POSTS *************************************/
/* Poll blocks */
.bodyitemcontent .poll-post a.poll-row {
	background-color: transparent;
	border: 0.125em solid rgba(var(--accent--rgb), 0.4);
	color: var(--accent);
}
#main .poll-post a.poll-row:is(:hover, :focus) {
	border-color: var(--accent);
	text-decoration: none;
}
/* Photo posts */
a[href*='image'], .photopost, .videowrapper { display: flex }
a[href*='image'] + .bodyitem,
.photopost + .bodyitem,
.audiowrapper + .bodyitem,
.videowrapper + .bodyitem { border-top: none }
.bodyitemcontent .npf_photoset, figure[data-npf*="video"] { margin-left: var(--unspacing); margin-right: var(--unspacing) }
img.npf_image {
	object-fit: cover;
	cursor: pointer;
}
/* Quote posts */
.bodyitemcontent .npf_quote { font-size: 2.125rem }
.quote.npf_quote::before, .search_query::before { content: "\201C" }
.quote.npf_quote::after, .search_query::after { content: "\201D" }
.quotesource::before { content: "\2014\0020" }
/* Link posts */
.npf-link-block .title,
.npf-link-block.no-poster .title { padding: 1rem 0.75rem 0 }
.has-poster .bottom:empty { display: none }
/* Audio posts */
span[id*='audio_player'] { display: none }
.audiowrapper {
	background-color: var(--accent);
	color: var(--bg);
	display: grid;
	grid-template-columns: 1fr 5.3125rem;
}
.audiowrapper .left {
	position: relative;
	display: grid;
	grid-template-columns: 4.625em 1fr;
	align-items: center;
}
.custom_audio_buttons,
.textinfo {
	position: relative;
	z-index: 5;
	width: fit-content;
	display: flex;
	flex-direction: column;
}
.custom_audio_buttons { justify-self: center }
.custom_audio_buttons, .custom_audio_seekbar { cursor: pointer }
.textinfo { line-height: 1.5 }
.trackname { font-weight: 700 }
.artist, .album { font-size: 0.875rem }
.custom_audio_seekbar {
	position: absolute;
	display: block;
	width: 100%;
	height: 5.3125rem;
}
.custom_audio_seekbar_progress {
	background-color: rgba(var(--bg--rgb), 0.15);
	display: block;
	height: 100%;
}
/* Ask posts */
.ask {
	display: flex;
	padding: 0 var(--spacing) 0.675em;
}
.ask .question {
	position: relative;
	background: rgba(var(--accent--rgb), 0.15);
	flex-grow: 1;
	border-radius: var(--half-roundness);
	padding: 1em var(--spacing) 1.2rem;
}
.ask .question::after {
	content: "";
	position: absolute;
	display: block;
	--width: 0.5rem;
	border: 0.5rem solid transparent;
	border-left-color: rgba(var(--accent--rgb), 0.15);
	top: 0.675rem;
	right: -1rem;
}
.asker {
	margin: 0 0 1.25rem;
	font-size: 0.875rem;
}
.asker a { font-weight: 700 }
.question > :not(.asker):last-child { margin-bottom: 0 }
.ask .usericon {
	--size: 2.5em;
	margin-left: 1.125rem;
}
.ask + .bodyitem { border-top: none }



/************************************ HEADER ************************************/
#bloghead {
	text-align: center;
	 margin: 1em;
}
#headerimg + #bloghead { margin-top: -1em; }
#avatartitle {
	font-size: 1.625em;
	display: block;
}
#avatartitle:empty { margin-bottom: 0.85em }
/* Blog avatar */
#avatartitle img {
	width: 6.5rem;
	height: 6.5rem;
	border: 0.25rem solid var(--bg);
	background-color: var(--bg);
}
#avatartitle img.square { border-radius: 0.375rem }
#headerimg + #bloghead #avatartitle img { margin-top: -3rem }
/* Blog title */
#avatartitle h1 {
	color: var(--text);
	font-family: var(--tfont);
	font-weight: var(--tweight);
	margin: 0.5em 0 0.25rem;
	font-size: 1em;
}
#avatartitle h1:first-child { margin-top: 1.25em }
/* Highlighted link */
#highlight {
	margin: 0.5em 0;
	display: inline-flex;
	align-items: center;
	font-weight: 700;
}
#highlight svg { margin-right: 0.25em }
/* Description */
#desc { margin: 0 }
/* Navigation (ask/submit/etc) */
#blognav {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	margin-top: 1em;
}
#blognav .texts { padding: 0.475em 0.9em } /* Text padding */
#pagination a:hover, #blognav .rounds:hover,
.bodyitemcontent .poll-post a.poll-row:is(:hover, :focus) {
	background-color: rgba(var(--accent--rgb), 0.15);
	border-color: var(--accent);
}
#blognav .texts, #blognav #palette.alt, #blognav .active.dots { /* Default link colors */
	background: var(--accent);
	color: var(--bg);
}
#blognav .rounds { /* Icon link styles */
	color: var(--accent);
	cursor: pointer;
	width: 2.5em;
	height: 2.5em;
}
#blognav .texts, #blognav .rounds { /* All link styles */
	border-radius: 1.25em;
	border: 0.125em solid rgba(var(--accent--rgb), 0.4);
	font-weight: 700;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 0.25em 0.5em;
}
/* Dropdown menu */
#blognav .dropdown { position: relative }
#blognav .menu { /* Actual menu */
	/* positioning */
	position: absolute;
	top: 3em;
	left: 50%;
	transform: translateX(-50%);
	z-index: 2;
	/* appearance */
	border-radius: var(--half-roundness);
	width: max-content;
	background-color: var(--accent);
	overflow: hidden;
	/* layout */
	display: flex;
	flex-direction: column;
}
#blognav .menu a { /* Dropdown links */
	color: var(--bg);
	padding: 0.5em 0.75em;
	font-weight: 600;
}
#blognav a[href]:hover, #blognav a[href]:focus,
#blognav .active.dots:hover, #blognav .active.dots:focus,
#blognav .menu a:hover,	#blognav .menu a:focus,
#pages a.current-page:hover, #pages a.current-page:focus { background-image: linear-gradient(rgba(var(--bg--rgb), 0.15), rgba(var(--bg--rgb), 0.15)) }
/* Search menu */
#divider {
	position: relative;
	display: flex;
	align-items: center;
	margin: 0 1.25em 1.25em;
	border-bottom: 0.0625em solid var(--accent);
	color: var(--accent);
}
#searcher, #close {
	background: transparent;
	border: none;
	color: inherit;
	height: 2.25em;
	width: 2.5em;
	cursor: pointer;
}
#searcher:hover { color: var(--text) }
#divider a {
	display: block;
	padding: 0.5em 0.75em;
	font-weight: 700;
	box-shadow: inset 0 -0.125rem var(--accent);
}
#search {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	display: flex;
	border-radius: var(--half-roundness);
	background: var(--bg) linear-gradient(rgba(var(--accent--rgb), 0.15), rgba(var(--accent--rgb), 0.15));
	color: var(--text);
	box-shadow: 0 0.25em var(--bg);
}
#search input {
	background: transparent;
	border: none;
	flex-grow: 1;
	color: var(--text);
}
#pagehead, #no-posts {
	text-align: center;
	margin: 1.5em 0;
}
#pagehead > * { margin: 0 }
#pagehead .tag::before { content: "#" }



/*********************************** SIDEBAR ***********************************/
#right section {
	background-color: var(--bg);
	border-radius: var(--roundness);
	max-width: 20em;
	padding-bottom: 0.5em;
	min-width: 15em;
	height: fit-content;
}
#right > section + section { margin-top: 1.25em }
/* Headings */
#pagehead h2,
#right section > h2 {
	font-size: 1.125rem;
	font-weight: 700;
	line-height: 1.333;
}
#right section > h2 {
	padding: 0.9375rem;
	margin: 0 0 0.625em;
	border-bottom: 0.0625rem solid rgba(var(--accent--rgb), 0.25);
}
/* Featured posts */
#right #featured {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	column-gap: 0.125em;
	height: 6.5625em;
	overflow: hidden;
	padding-bottom: 0;
	background-image: linear-gradient(rgba(var(--accent--rgb), 0.2), rgba(var(--accent--rgb), 0.2));
}
#featured > div, #featured .feature {
	background-color: var(--bg);
	color: var(--text);
	display: block;
	width: 100%;
	height: 100%;
	overflow: hidden;
	font-size: 0.875rem;
	position: relative;
	line-height: 1.5;
}
.feature > :not(img, figure) {
	font-size: 1em;
	margin: 0;
	padding: 0.625rem;
}
div:not(.hasimg) .feature::after {
	content: "";
	display: block;
	width: 100%;
	height: 50%;
	position: absolute;
	bottom: 0;
	left: 0;
	background: linear-gradient(to bottom, rgba(var(--bg--rgb), 0) 0, rgba(var(--bg--rgb), 0.7) 50%, var(--bg) 100%);
}
/* For figure-images */
div:not(.hasimg) .feature img {
	position: relative;
	z-index: 1;
}
.feature [class*="npf"]:not(p), .feature [class*="npf"] *, .feature figure, .feature iframe, .feature img {
	height: 100% !important;
	width: 100% !important;
	padding: 0;
	margin: 0;
}
.feature img { object-fit: cover }
/* Combined styles: updates section, members section */
#updates .update, #members .member {
	display: grid;
	--lsize: 2.3125em;
	grid-template-columns: var(--lsize) 1fr;
	align-items: center;
	padding: 0.5em 0.625em;
	column-gap: 0.6875em;
	color: var(--text);
}
#updates .ud-time, #members .member img {
	border-radius: var(--half-roundness);
	height: var(--lsize);
	width: var(--lsize);
}
#updates .ud-time, #members .mtext {
	display: flex;
	flex-direction: column;
}
#updates .ud-label, #members .mname, #members .mdesc {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
/* Updates section-specific */
#updates .ud-time {
	align-items: center;
	justify-content: center;
	background-color: var(--accent);
	color: var(--bg);
	font-weight: 700;
	text-transform: uppercase;
	line-height: 1;
}
#updates .ud-month { font-size: 0.8rem }
/* Members section-specific */
#members .mtext {
	font-size: 0.875rem;
	line-height: 1.5;
	overflow: hidden;
}
#members .mname { font-weight: 700 }
#members .member:hover, #pages a:hover { background-color: rgba(var(--accent--rgb), 0.05) }
/* Custom pages */
#pages nav {
	display: flex;
	flex-direction: column;
}
#pages a { padding: 0.5em 1em }
#pages a.current-page {
	background: var(--accent);
	color: var(--bg);
	font-weight: 700;
}



/******************************** MEDIA QUERIES ********************************/
@media (min-width: 50em) {
	body { grid-template-columns: auto auto }
	#showright { display: none }
	#right {
		position: sticky;
		top: var(--top);
	}
}

@media (max-width: 50em) {
	body #right, #right:empty ~ #showright { display: none }
	
	body.showright { overflow: hidden }	
	body.showright #right {
		position: fixed;
		background: rgba(var(--accent--rgb), 0.75);
		display: grid;
		justify-content: center;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		overflow-y: scroll;
		padding: 4em 1em;
		z-index: 6;
	}
	
	#scrolltotop_parent { bottom: 3.75em }
	body.showright #scrolltotop_parent { display: none }
	body.showright #showright {
		left: calc(50vw - 1.375em);
		transform: unset;
		z-index: 6;
	}
}

@media (max-width: 30em) {
	html { font-size: 90% }
	body { padding: 0.5em }
	#main { margin: 0 0.5em 1.25em }
	.post {
		--spacing: 1rem;
		--unspacing: -1rem;
		--vspacing: 0.75rem;
	}
	.post header {
		grid-template-columns: 1fr;
		row-gap: 0.5rem;
	}
	.post header .date { justify-self: start }
}