/* #region Global */
html {
	--accent: #ffffff;

	&.oliver {
		--text: #a97844;
		--bg: #311a05;
	}

	&.angel {
		--text: #7f8a93;
		--bg: #32383e;
	}

	&.vivi {
		--text: #a24759;
		--bg: #2e0b13;
	}

	&.marigold {
		--text: #739cb5;
		--bg: #121b4f;
	}

	&.nina {
		--text: #8b6fb9;
		--bg: #25163e;
	}

	&.nadia {
		--text: #b273a1;
		--bg: #3c193e;
	}

	&.owen {
		--text: #8089b2;
		--bg: #202a55;
	}

	&.simon {
		--text: #809b64;
		--bg: #30361f;
	}

	&.house {
		--text: #87588a;
		--bg: #27002a;
	}

	&.gallery {
		--text: #ab9343;
		--bg: #2c2305;
	}

	&.city {
		--text: #625565;
		--bg: #231e23;
	}

	&.police {
		--text: #91ab81;
		--bg: #282d30;
	}

	&.trueending {
		--text: #a6bec9;
		--bg: #2f4b55;
	}

	&.train {
		--text: #fac15a;
		--bg: #7d122c;
	}
}
body {
	padding: 2vh 2vw;
	min-height: 100vh;
	background: var(--bg);
	color: var(--text);
	--font: var(--title-font), "Helvetica Neue", HelveticaNeue, Arial, sans-serif;
	font-family: "Nokia", var(--font);
	--border-width: 0.21875rem;
	--tx-time: 0.2s;

	@media (min-width: 70rem) {
		display: grid;
		grid-template-columns: 2fr 3fr;
		justify-content: center;
		gap: 1em;
	}
}
/* Links */
a { color: var(--accent) }
/* A11y: Hidden */
.visually-hidden {
	position: fixed;
	top: 100vh;
	left: 100vw;
	font-size: 1rem;
	margin: 0 !important;
	padding: 0 !important;
	clip-path: rect(0 0 0 0);
}
/* Skip to content link */
#skip {
	position: fixed;
	top: 0.5em;
	left: 50%;
	transform: translateX(-50%);
	background-color: var(--bg);
	border: var(--border-width) solid var(--text);
	padding: 0.25em 0.75em;
	text-decoration: none;

	&:not(:hover, :focus-within) {
		top: 100vh;
		left: 100vw;
		clip-path: rect(0 0 0 0);
	}
}
/* Scrollbar */
* {
	scrollbar-color: var(--text) var(--bg);
	scrollbar-width: thin;
	background-position: center !important;
}
::-webkit-scrollbar {
	width: 0.5em;
	height: 0.5em;
	background-color: var(--bg);
}
::-webkit-scrollbar-corner { background-color: var(--text) }
::-webkit-scrollbar-thumb { background-color: var(--text) }
/* #endregion */

/* #region Left */
#bloghead {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 0.5em;
	width: 100%;
	max-width: 30em;

	@media (max-width: 70rem) {
		margin: 0 auto 5vh;
	}
	@media (min-width: 70rem) {
		justify-self: center;
		height: fit-content;
		min-height: 96vh;
		position: sticky;
		top: 2vh;
	}
}
#title {
	text-decoration: none;
	text-align: center;

	h1 {
		margin: 0;
		font-weight: var(--title-font-weight);
	}
	
	img {
		display: block;
		width: 5em;
		height: 5em;
		margin: 0 auto 0.5em;
		
		&.border { border: var(--border-width) solid var(--text) }
	}
}
#blognav {
	display: flex;
	flex-direction: column;
	border: calc(3 * var(--border-width)) double;
	--border: thin solid rgb(from var(--text) r g b / 0.3);

	button, & > a {
		display: block;
		border: none;
		background-color: unset;
		color: var(--accent);
		padding: 0.4em 0.75em;
		text-decoration: none;
		text-align: center;
		cursor: pointer;

		&:not(:first-child) { border-block-start: var(--border) }
		&:is(:hover, :focus) { background-color: var(--text) }
	}
}
#pagination {
	display: flex;
	text-align: center;
	border-block-start: var(--border);

	a, span {
		padding: 0.75em 0.25em;
		flex-grow: 1;
		text-decoration: none;
		display: flex;
		align-items: center;
		justify-content: center;
		line-height: 1;

		&:not(:first-child, :last-child) { border-inline-end: var(--border) }
		&:nth-child(2) { border-inline-start: var(--border) }
	}

	a {
		&[href]:is(:hover, :focus) { background-color: var(--text) }
		&:not([href]) { opacity: 0.25 }
	}
	
	#prev, #next {
		max-width: 4em;

		svg {
			height: 1em;
			width: auto;
		}
	}
	
	#curr {
		background-color: var(--text);
		color: var(--bg);
	}

	span:not(#curr) { color: var(--accent) }
}
#options {
	display: flex;
	flex-direction: column;
	gap: 0.6em;

	@media (min-width: 70rem) { margin-block-start: 0.5em }
	@media (max-width: 70rem) {
		position: fixed;
		bottom: 0.5em;
		left: 0.5em;
		z-index: 2;
		font-size: 0.8em;
		max-width: min(20em, 45vw);
		flex-direction: column-reverse;
	}

	button, label, a {
		display: block;
		text-align: center;
		padding: 0.2em 0.75em;
		color: var(--accent);
		background-color: var(--bg);
		border: var(--border-width) solid var(--text);
		cursor: pointer;

		&:not([disabled]):is(:hover, :focus-within) { background-color: var(--text) }
	}
}
#scrolltotop {
	transition: opacity var(--tx-time);

	&[disabled] {
		opacity: 0;
		pointer-events: none;
	}
}
/* #endregion */

/* #region Center */
#main {}
/* #endregion */

/* #region Posts */
#posts {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2em;
	container: posts / inline-size;

	.separator {
		height: min(1.5em,5vmin);
		width: auto;
		
		@container posts (min-width: 42rem) {
			margin-block-start: 1.25em;
			margin-inline-start: 5em;
		}
	}
}
.post {
	width: 100%;
	--post-content-spacing: 0.5em;

	@container posts (max-width: 42rem) {
		max-width: calc(34.25em + (var(--post-content-spacing) * 2));
	}
	@container posts (min-width: 42rem) {
		max-width: 40.35em;
	}

	&.filtered .filter ~ * { display: none }

	.body {
		display: flex;
		flex-direction: column;
		gap: 1em;
	}
}
.bodyitem {
	display: grid;
	grid-template-columns: auto 1fr;
	
	@container posts (max-width: 42rem) {
		gap: var(--post-content-spacing) var(--post-content-spacing);
		align-items: center;
	}
	@container posts (min-width: 42rem) {
		gap: 0 var(--post-content-spacing);
	}
}
.bodyitemcontent {
	color: var(--text);
	background-color: var(--bg);
	padding: 1em var(--post-content-spacing);
	width: 100%;
	border: var(--border-width) solid var(--text);
	font-family: var(--font);

	@container posts (max-width: 42rem) {
		grid-row: 2;
		grid-column: 1 / span 2;
	}

	p:empty { min-height: 1em }

	& > :first-child { margin-block-start: 0 }
	& > :last-child { margin-block-end: 0 }
}
.user {
	display: contents;

	a {
		font-family: "Squeezed Pixels", var(--font);
		margin-block: 0;
		text-decoration: none;
		color: var(--text);
		
		@container posts (max-width: 42rem) {
			font-size: 1.25em;
			grid-row: 1;
			grid-column: 2;
		}
		@container posts (min-width: 42rem) {
			font-size: 1.5em;
			grid-row: 1;
			grid-column: 1 / span 2;
		}

		&[href]:is(:hover, :focus-within) { --text: var(--accent) }

		span {
			position: relative;
			top: .25em;
			line-height: 1;
		}
	}

	&.deactivated .name::after {
		content: "deactivated";
		opacity: 0.6;
		margin-left: 0.25em;
	}

	svg {
		background-color: var(--text);
		color: var(--bg);
		height: 0.775em;
		width: auto;
		position: relative;
		top: 0.05rem;
		margin-inline-end: 0.6ch;
	}

	.avatar {
		--size: calc(var(--base-size) + (var(--border-width) * 2));
		width: var(--size);
		height: var(--size);
		border: var(--border-width) solid var(--text);
		
		@container posts (max-width: 42rem) {
			--base-size: 2.5em;
			grid-row: 1;
			grid-column: 1;
		}
		@container posts (min-width: 42rem) {
			--base-size: 4.25em;
			grid-row: 2;
			grid-column: 1;
		}
	}

	.badges {
		--size: 0.875em;
		flex-grow: 1;
		display: flex;
		align-items: center;
		gap: 0.15em;
		height: var(--size);

		span {
			position: relative;
			flex-grow: 1;
			max-width: var(--size);
			height: var(--size);

			&:not(:last-child) img {
				position: absolute;
				left: 0;
			}
		}

		img {
			width: var(--size);
			height: var(--size);
			max-width: unset;
			filter: drop-shadow(0 0 0.1em var(--bg));
			display: block;
		}
	}
}

.readmore {
	hr& {
		border-color: rgb(from var(--text) r g b / 0.5);
		border-style: dashed;
		margin-inline: 0.3em;
	}

	a& {
		display: block;
		text-align: center;
		font-family: "Nokia", var(--font);
		font-size: 0.9em;
		background-color: var(--bg);
		border: var(--border-width) solid var(--text);
		padding: 0.25em 0.75em;
		text-decoration: none;
	}
}

/* Video blocks */
.video {
	width: 100%;
	min-height: 20vh;
	max-height: 80vh;
	background: rgb(from var(--accent) r g b / 0.2);
}

/* #region Images and image rows */
img {
	max-width: 100%;
	height: auto;
}
figure { margin: 0 }
.row {
	display: grid;
	grid-auto-flow: column;
	grid-auto-columns: 1fr;
	--post-content-spacing: min(0.2em, 1vw);
	gap: var(--post-content-spacing);
	margin-block: var(--post-content-spacing);

	figure {
		display: flex;
		flex-direction: column;
	}
	img {
		object-fit: cover;
		height: 100%;
		width: 100%;
	}
}
/* #endregion */
/* #region Lightbox */
body:has(#lightbox[open]) { overflow: hidden }
#lightbox {
	border: none;
	background: none;
	padding: 0;
	overflow: visible;

	&::backdrop {
		background-color: rgb(from var(--bg) r g b / 0.9);
	}

	#close {
		position: fixed;
		top: min(1em, 2.5vh);
		right: min(1em, 2.5vw);
		border: none;
		background: none;
		padding: 0;
		background-color: var(--text);
		color: var(--bg);
		cursor: pointer;
		display: flex;

		svg {
			display: block;
			width: 2em;
			height: auto;
			cursor: pointer;
			padding: 0.5em;
			display: inline-block;
		}

		&:hover, &:focus { color: var(--accent) }

		i { font-size: 4em }
	}

	img {
		cursor: pointer;
		box-shadow: 0 0 1em;
		display: block;
		max-width: calc(100vw - 10em);
		max-height: 90vh;
		width: auto;
		height: auto;
		transition-property: none;

		&.left, &.right {
			position: fixed;
			top: 50%;
			transform: translateY(-50%);
			--positioning: calc(100vw - 2em);
			max-height: 75vh;

			&:hover {
				--positioning: calc(100vw - 3em);
				transition-duration: 0.2s;
			}
		}
		&.left {
			right: var(--positioning);
			transition-property: right;
		}
		&.right {
			left: var(--positioning);
			transition-property: left;
		}
	}
}
/* #endregion */

/* Poll block */
.poll {
	display: flex;
	flex-direction: column;
	gap: 0.6em;

	.question {
		margin-block: 0;
		font-size: 1.5em;
	}

	.option, .results {
		display: block;
		text-decoration: none;
		background-color: var(--bg);
		color: var(--accent);
		border: var(--border-width) solid var(--text);
		text-align: center;
		padding: 0.2em 0.75em;
		font-family: "Nokia", var(--font);

		& > :first-child { margin-block-start: 0 }
		& > :last-child { margin-block-end: 0 }
	}
	
	&.complete {
		.option {
			color: var(--text);
			text-decoration: rgb(from currentColor r g b / 0.5) var(--border-width) line-through;
			font-size: 0.9em;
		}
	}
	&.complete .results,
	&:not(.complete) .option {
		&:is(:hover, :focus-within) {background-color: var(--text) }
	}

	.timeleft {
		font-family: "Squeezed Pixels", var(--font);
		display: block;
		text-align: center;
	}
}

/* TODO: Choose one of the following */
/* #region Default Tumblr audio block */
.audiowrapper {
	--box: 5.3125em;
	background-color: var(--accent);
	color: var(--bg);
	display: grid;
	grid-template-columns: 1fr auto;
	min-height: var(--box);

	.left {
		position: relative;
		display: grid;
		grid-template-columns: var(--box) 1fr;
	}
	.textinfo {
		display: flex;
		flex-direction: column;
		line-height: 1;
		align-self: center;
		gap: 0.4em;
	}
	.trackname { font-weight: 700 }
	.artist, .album { font-size: 0.875em }
	.buttons {
		align-self: center;
		justify-self: center;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		font: inherit;
		padding: 0.1em;
		border: none;
		background-color: transparent;
		color: inherit;
		position: relative;
		z-index: 2;
		cursor: pointer;
	}
	audio,
	audio.playing ~ .left .buttons .play,
	audio:not(.playing) ~ .left .buttons .pause {
		display: none;
	}
	.albumart {
		width: var(--box);
		height: max(var(--box), 100%);
		object-fit: cover;
	}
}

/* Seekbar styling */
.seekbar {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	background-color: transparent;
	-webkit-appearance: none;
	--progress-bg: rgb(from var(--bg) r g b / 0.15);

	&:focus { outline: none }

	&::before {
		content: "";
		background-color: var(--progress-bg);
		display: block;
		height: 100%;
		width: var(--progress-width);
		position: absolute;
		top: 0;
		left: 0;
	}

	&::-webkit-slider-runnable-track {
		background: transparent;
		border: 0;
		width: 100%;
		height: 100%;
		cursor: pointer;
	}
	&::-webkit-slider-thumb {
		width: 0px;
		height: 0px;
		border: 0;
		cursor: pointer;
		-webkit-appearance: none;
	}

	&::-moz-range-track {
		background: transparent;
		border: 0;
		width: 100%;
		height: 100%;
		cursor: pointer;
	}
	&::-moz-range-thumb {
		width: 0px;
		height: 0px;
		border: 0;
		cursor: pointer;
	}
	&::-moz-range-progress {
		background-color: var(--progress-bg);
		height: 100%;
	}

	&::-ms-track {
		background: transparent;
		border-color: transparent;
		border-width: 0 0;
		color: transparent;
		width: 100%;
		height: 100%;
		cursor: pointer;
	}
	&::-ms-fill-lower {
		background: var(--progress-bg);
		border: 0;
	}
	&::-ms-fill-upper {
		background: transparent;
		border: 0;
	}
	&::-ms-thumb {
		width: 0px;
		height: 0px;
		border: 0;
		cursor: pointer;
		margin-top: 0px;
		/* Needed to keep the Edge thumb centered */
	}
}
/* #endregion */

/* #region Custom audio block */
.audiowrapper {
	background-color: var(--bg);
	color: var(--text);
	display: flex;
	flex-direction: column;

	.top {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 1em;
		padding: 1em 2em;
	}
	.hasart {
		background-position: center;
		background-size: cover;

		.top {
			backdrop-filter: blur(1em);
			background-color: rgb(from var(--bg) r g b / 0.75);
		}
	}
	.albumart {
		--size: 5em;
		max-width: var(--size);
		max-height: var(--size);
		border-radius: 100%;
	}
	.textinfo {
		display: flex;
		flex-direction: column;
		line-height: 1;
		align-self: center;
		gap: 0.4em;

		&:empty { display: none }
	}
	.trackname { font-weight: 700 }
	.artist, .album { font-size: 0.875em }
	.buttons {
		padding-block: 0.75em;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		line-height: 1;
		gap: 0.5em;

		button {
			--size: 2em;
			width: var(--size);
			height: var(--size);
			display: flex;
			align-items: center;
			justify-content: center;
			cursor: pointer;
			font: inherit;
			font-size: 1.25em;
			border: none;
			border-radius: 100%;
			background-color: transparent;
			color: inherit;

			&:hover {
				color: rgb(from var(--text) r g b / 0.5);
				text-shadow: 0 0 var(--accent);
			}

			&.active { color: var(--accent) }
		}

		.playpause {
			background-color: var(--text);
			color: var(--bg);
			margin-inline: 0.25em;

			&:hover {
				color: var(--bg);
				text-shadow: unset;
				background-color: var(--accent);
				background-image: linear-gradient(rgb(from var(--text) r g b / 0.75), rgb(from var(--text) r g b / 0.75))
			}
		}
	}

	audio,
	audio.playing ~ .buttons .play,
	audio:not(.playing) ~ .buttons .pause,
	.volume.active .mute,
	.volume:not(.active) .unmute,
	.loop.active .repeat,
	.loop:not(.active) .unrepeat {
		display: none;
	}
}

/* Seekbar styling */
.seekbar {
	width: 100%;
	height: 0.5em;
	margin: 0;
	background-color: rgb(from var(--text) r g b / 0.15);
	-webkit-appearance: none;
	--progress-bg: var(--accent);
	position: relative;

	&:focus { outline: none }
	&::before {
		content: "";
		background-color: var(--progress-bg);
		display: block;
		height: 100%;
		width: var(--progress-width);
		position: absolute;
		top: 0;
		left: 0;
		cursor: pointer;
	}

	&::-webkit-slider-runnable-track {
		background: transparent;
		border: 0;
		width: 100%;
		height: 100%;
		cursor: pointer;
	}
	&::-webkit-slider-thumb {
		width: 0px;
		height: 0px;
		border: 0;
		cursor: pointer;
		-webkit-appearance: none;
	}

	&::-moz-range-track {
		background: transparent;
		border: 0;
		width: 100%;
		height: 100%;
		cursor: pointer;
	}
	&::-moz-range-thumb {
		width: 0px;
		height: 0px;
		border: 0;
		cursor: pointer;
	}
	&::-moz-range-progress {
		background-color: var(--progress-bg);
		height: 100%;
	}

	&::-ms-track {
		background: transparent;
		border-color: transparent;
		border-width: 0 0;
		color: transparent;
		width: 100%;
		height: 100%;
		cursor: pointer;
	}
	&::-ms-fill-lower {
		background: var(--progress-bg);
		border: 0;
	}
	&::-ms-fill-upper {
		background: transparent;
		border: 0;
	}
	&::-ms-thumb {
		width: 0px;
		height: 0px;
		border: 0;
		cursor: pointer;
		margin-top: 0px;
		/* Needed to keep the Edge thumb centered */
	}
}
/* #endregion */

/* #region Paywall block */
.paywall {
	background-color: var(--bg);
	color: var(--text);
	padding: 1em 5%;
	margin-block: 1em;
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	gap: 1em;

	&.divider {
		padding: unset;
		background-color: unset;
		color: var(--color);
		flex-direction: row;
		gap: 0.25em;

		&::before, &::after {
			content: "";
			flex-grow: 1;
			display: block;
			border: thin solid var(--color);
		}
	}

	* { margin-block: 0 }
	h2 { font-family: var(--font) }
	h2, strong, a { color: var(--accent) }
	a {
		text-decoration: none;
		border: solid var(--accent);
		padding: 0.5em 1em;
		display: block;
		border-radius: 5em;
	}
}
/* #endregion */
/* #endregion */