/* #region Global */
body {
	background: var(--bg);
	color: var(--text);
	--font: var(--title-font), "Helvetica Neue", HelveticaNeue, Arial, sans-serif;
	font-family: "Nokia", var(--font);
	--border-width: 0.21875em;
	--tx-time: 0.2s;
}
a { color: var(--accent) }
.visually-hidden {
	position: fixed;
	top: 100vh;
	left: 100vw;
	font-size: 1rem;
	margin: 0 !important;
	padding: 0 !important;
	clip-path: rect(0 0 0 0);
}
/* #endregion */

/* #region Header */
.blog-title {
	font-weight: var(--title-font-weight);
}
/* #endregion */

/* #region Posts */
#posts {
	display: flex;
	flex-direction: column;
	align-items: center;
	--post-spacing: 2em;
	gap: var(--post-spacing);
}
.post {
	color: var(--text);
	background-color: var(--bg);
	width: 100%;
	max-width: 40.35em;

	&.filtered .filter ~ * { display: none }

	&:not(:last-child)::after {
		margin-block-start: calc(var(--post-spacing) + 1em);
		margin-inline-start: 2.5em;
		content: "";
		display: block;
		width: 100%;
		height: min(1.5em,5vmin);
		background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFQAAAAHCAYAAACWcWqYAAABPElEQVRIS+2WYRKCIBCFl7qkeY+arN8Ojd6jumTSWxQEFGPAnznTpAbr27ffrgmaDll1ypyb7+Z9EeG9/zWRrHtFg2+X8UobxmaumRe7X2KqrHqlSBE/eMDnwMH4AvpyC6hh4EAc0DsGxLzuCsUvr4SsYebTJ1ELhIzmVU4ox7LGIdkt01gLmxKu4SKw44v7kfWup2Hn5RbNjxnRA50ToT0IPe9WSZsEqAmLlUK3S0HKeUpMb7TptsjTFntWC3DuGJHWxLmSAiTkmRsjKSVhtytcE9sThE6dIqsHCj+2sFljdOeQV7LXaAjfN6tULmbSEds+41YexTGUc5LimK5pWihMNOMmldCSeT/DhHkjgC8nyTlzAwcvHwtHpPt2a/MUCrfWuLNuOUM7vMiIbsG/jpFqpIBfc4tZqjvc/wVwDs9xIb09ygAAAABJRU5ErkJgggAA) center no-repeat;
		background-size: contain;
		/* Don't pixelate */
		image-rendering: optimizeSpeed;
		image-rendering: -moz-crisp-edges;
		image-rendering: -o-crisp-edges;
		image-rendering: -webkit-optimize-contrast;
		image-rendering: pixelated;
		image-rendering: optimize-contrast;
		-ms-interpolation-mode: nearest-neighbor;
	}

	.body {
		display: flex;
		flex-direction: column;
		gap: 0.6em;
	}
}
.bodyitem {
	--spacing: 0.5em;
	display: grid;
	grid-template-columns: auto 1fr;
	gap: 0 var(--spacing);
}
.bodyitemcontent {
	padding: 0.5em var(--spacing);
	width: 100%;
	border: var(--border-width) solid var(--text);
	font-family: var(--font);

	p:empty { min-height: 1em }

	& > :first-child { margin-block-start: 0 }
	& > :last-child { margin-block-end: 0 }
}
.user {
	display: contents;

	a {
		font-size: 1.5em;
		font-family: "Squeezed Pixels", var(--font);
		grid-row: 1;
		grid-column: 1 / span 2;
		margin-block: 0;
		text-decoration: none;
		color: var(--text);

		&[href]:is(:hover, :focus-within) { --text: var(--accent) }

		span {
			position: relative;
			top: .25em;
			line-height: 1;
		}
	}

	&.deactivated .name::after {
		content: "deactivated";
		opacity: 0.6;
		margin-left: 0.25em;
	}

	.question {
		color: var(--bg);
		padding-inline: 3px;
		margin-inline: 3px;
		z-index: 0;
		-webkit-user-select: none; /* Safari */
		user-select: none;

		&::before {
			content: "";
			display: block;
			width: 75%;
			height: 75%;
			background-color: var(--text);
			position: absolute;
			top: -0.2125em;
			left: 1px;
			z-index: -1;
		}
	}

	.avatar {
		--size: calc(4.25em + (var(--border-width) * 2));
		width: var(--size);
		height: var(--size);
		border: var(--border-width) solid var(--text);
		grid-row: 2;
		grid-column: 1;
	}

	.badges {
		--size: 0.875em;
		flex-grow: 1;
		display: flex;
		align-items: center;
		gap: 0.15em;
		height: var(--size);

		span {
			position: relative;
			flex-grow: 1;
			max-width: var(--size);
			height: var(--size);

			&:not(:last-child) img {
				position: absolute;
				left: 0;
			}
		}

		img {
			width: var(--size);
			height: var(--size);
			max-width: unset;
			filter: drop-shadow(0 0 0.1em var(--bg));
			display: block;
		}
	}
}

hr.readmore {
	border-color: rgb(from var(--text) r g b / 0.5);
	border-style: dashed;
	margin-inline: 0.3em;
}

.video {
	width: 100%;
	min-height: 20vh;
	max-height: 80vh;
	background: rgb(from var(--accent) r g b / 0.2);
}

/* #region Images and image rows */
img {
	max-width: 100%;
	height: auto;
}
figure { margin: 0 }
.row {
	display: grid;
	grid-auto-flow: column;
	grid-auto-columns: 1fr;
	--spacing: min(0.2em, 1vw);
	gap: var(--spacing);
	margin-block: var(--spacing);

	figure {
		display: flex;
		flex-direction: column;
	}
	img {
		object-fit: cover;
		height: 100%;
		width: 100%;
	}
}
/* #endregion */
/* #region Lightbox */
body:has(#lightbox[open]) { overflow: hidden }
#lightbox {
	border: none;
	background: none;
	padding: 0;
	overflow: visible;

	&::backdrop {
		background-color: rgb(from var(--bg) r g b / 0.9);
	}

	#close {
		position: fixed;
		top: min(1em, 2.5vh);
		right: min(1em, 2.5vw);
		border: none;
		background: none;
		padding: 0;
		color: #fff;
		cursor: pointer;

		&::before {
			content: "🗙";
			font-size: 1.5em;
			cursor: pointer;
			padding: 0.5em;
			display: inline-block;
		}

		&:hover, &:focus { color: #acacac }

		i { font-size: 4em }
	}

	img {
		cursor: pointer;
		box-shadow: 0 0 1em;
		display: block;
		max-width: calc(100vw - 10em);
		max-height: 90vh;
		width: auto;
		height: auto;
		transition-property: none;

		&.left, &.right {
			position: fixed;
			top: 50%;
			transform: translateY(-50%);
			--positioning: calc(100vw - 2em);
			max-height: 75vh;

			&:hover {
				--positioning: calc(100vw - 3em);
				transition-duration: 0.2s;
			}
		}
		&.left {
			right: var(--positioning);
			transition-property: right;
		}
		&.right {
			left: var(--positioning);
			transition-property: left;
		}
	}
}
/* #endregion */

/* Align poll colors to theme colors */
.poll {
	display: flex;
	flex-direction: column;
	gap: 0.6em;

	.question {
		margin-block: 0;
		font-size: 1.5em;
	}

	.option, .results {
		display: block;
		text-decoration: none;
		background-color: var(--bg);
		color: var(--accent);
		border: var(--border-width) solid var(--text);
		text-align: center;
		padding: 0.2em 0.75em;
		font-family: "Nokia", var(--font);

		& > :first-child { margin-block-start: 0 }
		& > :last-child { margin-block-end: 0 }
	}
	
	&.complete {
		.option {
			color: var(--text);
			text-decoration: rgb(from currentColor r g b / 0.5) var(--border-width) line-through;
		}
	}
	&.complete .results,
	&:not(.complete) .option {
		&:is(:hover, :focus-within) {background-color: var(--text) }
	}

	.timeleft {
		font-family: "Squeezed Pixels", var(--font);
		display: block;
		text-align: center;
	}
}

/* #region Default Tumblr audio block */
.audiowrapper {
	--box: 5.3125em;
	background-color: var(--accent);
	color: var(--bg);
	display: grid;
	grid-template-columns: 1fr auto;
	min-height: var(--box);

	.left {
		position: relative;
		display: grid;
		grid-template-columns: var(--box) 1fr;
	}
	.textinfo {
		display: flex;
		flex-direction: column;
		line-height: 1;
		align-self: center;
		gap: 0.4em;
	}
	.trackname { font-weight: 700 }
	.artist, .album { font-size: 0.875em }
	.buttons {
		align-self: center;
		justify-self: center;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		font: inherit;
		padding: 0.1em;
		border: none;
		background-color: transparent;
		color: inherit;
		position: relative;
		z-index: 2;
		cursor: pointer;
	}
	audio,
	audio.playing ~ .left .buttons .play,
	audio:not(.playing) ~ .left .buttons .pause {
		display: none;
	}
	.albumart {
		width: var(--box);
		height: max(var(--box), 100%);
		object-fit: cover;
	}
}

/* Seekbar styling */
.seekbar {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	background-color: transparent;
	-webkit-appearance: none;
	--progress-bg: rgb(from var(--bg) r g b / 0.15);

	&:focus { outline: none }

	&::before {
		content: "";
		background-color: var(--progress-bg);
		display: block;
		height: 100%;
		width: var(--progress-width);
		position: absolute;
		top: 0;
		left: 0;
	}

	&::-webkit-slider-runnable-track {
		background: transparent;
		border: 0;
		width: 100%;
		height: 100%;
		cursor: pointer;
	}
	&::-webkit-slider-thumb {
		width: 0px;
		height: 0px;
		border: 0;
		cursor: pointer;
		-webkit-appearance: none;
	}

	&::-moz-range-track {
		background: transparent;
		border: 0;
		width: 100%;
		height: 100%;
		cursor: pointer;
	}
	&::-moz-range-thumb {
		width: 0px;
		height: 0px;
		border: 0;
		cursor: pointer;
	}
	&::-moz-range-progress {
		background-color: var(--progress-bg);
		height: 100%;
	}

	&::-ms-track {
		background: transparent;
		border-color: transparent;
		border-width: 0 0;
		color: transparent;
		width: 100%;
		height: 100%;
		cursor: pointer;
	}
	&::-ms-fill-lower {
		background: var(--progress-bg);
		border: 0;
	}
	&::-ms-fill-upper {
		background: transparent;
		border: 0;
	}
	&::-ms-thumb {
		width: 0px;
		height: 0px;
		border: 0;
		cursor: pointer;
		margin-top: 0px;
		/* Needed to keep the Edge thumb centered */
	}
}
/* #endregion */

/* #region Custom audio block */
.audiowrapper {
	background-color: var(--bg);
	color: var(--text);
	display: flex;
	flex-direction: column;

	.top {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 1em;
		padding: 1em 2em;
	}
	.hasart {
		background-position: center;
		background-size: cover;

		.top {
			backdrop-filter: blur(1em);
			background-color: rgb(from var(--bg) r g b / 0.75);
		}
	}
	.albumart {
		--size: 5em;
		max-width: var(--size);
		max-height: var(--size);
		border-radius: 100%;
	}
	.textinfo {
		display: flex;
		flex-direction: column;
		line-height: 1;
		align-self: center;
		gap: 0.4em;

		&:empty { display: none }
	}
	.trackname { font-weight: 700 }
	.artist, .album { font-size: 0.875em }
	.buttons {
		padding-block: 0.75em;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		line-height: 1;
		gap: 0.5em;

		button {
			--size: 2em;
			width: var(--size);
			height: var(--size);
			display: flex;
			align-items: center;
			justify-content: center;
			cursor: pointer;
			font: inherit;
			font-size: 1.25em;
			border: none;
			border-radius: 100%;
			background-color: transparent;
			color: inherit;

			&:hover {
				color: rgb(from var(--text) r g b / 0.5);
				text-shadow: 0 0 var(--accent);
			}

			&.active { color: var(--accent) }
		}

		.playpause {
			background-color: var(--text);
			color: var(--bg);
			margin-inline: 0.25em;

			&:hover {
				color: var(--bg);
				text-shadow: unset;
				background-color: var(--accent);
				background-image: linear-gradient(rgb(from var(--text) r g b / 0.75), rgb(from var(--text) r g b / 0.75))
			}
		}
	}

	audio,
	audio.playing ~ .buttons .play,
	audio:not(.playing) ~ .buttons .pause,
	.volume.active .mute,
	.volume:not(.active) .unmute,
	.loop.active .repeat,
	.loop:not(.active) .unrepeat {
		display: none;
	}
}

/* Seekbar styling */
.seekbar {
	width: 100%;
	height: 0.5em;
	margin: 0;
	background-color: rgb(from var(--text) r g b / 0.15);
	-webkit-appearance: none;
	--progress-bg: var(--accent);
	position: relative;

	&:focus { outline: none }
	&::before {
		content: "";
		background-color: var(--progress-bg);
		display: block;
		height: 100%;
		width: var(--progress-width);
		position: absolute;
		top: 0;
		left: 0;
		cursor: pointer;
	}

	&::-webkit-slider-runnable-track {
		background: transparent;
		border: 0;
		width: 100%;
		height: 100%;
		cursor: pointer;
	}
	&::-webkit-slider-thumb {
		width: 0px;
		height: 0px;
		border: 0;
		cursor: pointer;
		-webkit-appearance: none;
	}

	&::-moz-range-track {
		background: transparent;
		border: 0;
		width: 100%;
		height: 100%;
		cursor: pointer;
	}
	&::-moz-range-thumb {
		width: 0px;
		height: 0px;
		border: 0;
		cursor: pointer;
	}
	&::-moz-range-progress {
		background-color: var(--progress-bg);
		height: 100%;
	}

	&::-ms-track {
		background: transparent;
		border-color: transparent;
		border-width: 0 0;
		color: transparent;
		width: 100%;
		height: 100%;
		cursor: pointer;
	}
	&::-ms-fill-lower {
		background: var(--progress-bg);
		border: 0;
	}
	&::-ms-fill-upper {
		background: transparent;
		border: 0;
	}
	&::-ms-thumb {
		width: 0px;
		height: 0px;
		border: 0;
		cursor: pointer;
		margin-top: 0px;
		/* Needed to keep the Edge thumb centered */
	}
}
/* #endregion */

/* #region Paywall block */
.paywall {
	background-color: var(--bg);
	color: var(--text);
	padding: 1em 5%;
	margin-block: 1em;
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	gap: 1em;

	&.divider {
		padding: unset;
		background-color: unset;
		color: var(--color);
		flex-direction: row;
		gap: 0.25em;

		&::before, &::after {
			content: "";
			flex-grow: 1;
			display: block;
			border: thin solid var(--color);
		}
	}

	* { margin-block: 0 }
	h2 { font-family: var(--font) }
	h2, strong, a { color: var(--accent) }
	a {
		text-decoration: none;
		border: solid var(--accent);
		padding: 0.5em 1em;
		display: block;
		border-radius: 5em;
	}
}
/* #endregion */
/* #endregion */