/******************************** GENERAL STYLES ********************************/
body {
	background: var(--bg);
	color: var(--text);
}
a {
	color: var(--links);
	transition: .3s ease;
	text-decoration: none;
}
/* Link hover styling */
aside a[href], .postbody a[href], .page.title a[href] {
	--height: 0.3em;
	--og: rgba(var(--links--rgb), 0.1);
	--hover: rgba(var(--links--rgb), 0.3);
	background-image: linear-gradient(var(--og), var(--og)),
		linear-gradient(var(--hover), var(--hover));
	background-size: 100% var(--height), 0 var(--height);
	background-position: 100% 100%, 0 100%;
	background-repeat: no-repeat;
}
aside a[href]:hover, .postbody a[href]:hover, .page.title a[href]:hover { background-size: 0 var(--height), 100% var(--height) }
/* Blockquotes */
blockquote {
	margin-left: 0.75em;
	border-left: 0.15em solid var(--bg2);
	padding-left: 0.75em;
}
/* Scrollbar */
* {
	scrollbar-width: thin;
	scrollbar-color: rgba(var(--bg2--rgb), 0.8) var(--text2);
}
::-webkit-scrollbar {
	width: 0.5em;
	height: 0.5em;
	background-color: var(--text2);
}
::-webkit-scrollbar-corner { background-color: var(--bg2) }
::-webkit-scrollbar-thumb { background-color: rgba(var(--bg2--rgb), 0.8) }
/* Text highlighting */
::selection {
	background-color: var(--highlight-bg);
	color: var(--highlight);
}
::moz-selection {
	background-color: var(--highlight-bg);
	color: var(--highlight);
}
/* Accessibility */
#skip, #hiddentitle, form label {
	position: fixed;
	top: -100em;
}
/* Tooltips */
#s-m-t-tooltip {
	/* basic */
	max-width: 25em;
	z-index: 10;
	margin: 2em 1em 0.6em;
	/* style and design */
	padding: 0.5em;
	background-color: var(--bg2);
	box-shadow: 0 0 0.25em var(--bg);
	/* font */
	font-size: 0.75em;
	line-height: 1.25em;
	color: var(--text2);
}
/* Tumblr controls */
.tmblr-iframe.tmblr-iframe--unified-controls {
	z-index: 5;
	transform: scale(0.75);
}
/* Hide things */
.light #darklight .cp-sun, .dark #darklight .cp-moon,
aside div:empty,
.pinnedpost ~ i { display: none }
/* To top and theme installation buttons */
#buttons {
	position: fixed;
	bottom: 0.5em;
	right: 0.5em;
}
#buttons > *, .post header > a, .pagination .arrows, .post .quote i {
	/* layout */
	display: flex;
	align-items: center;
	justify-content: center;
	/* appearance */
	--size: 2em;
	height: var(--size);
	width: var(--size);
	background: var(--links);
	color: var(--bg);
	box-shadow: 0 0 0 var(--bg);
}
#buttons > * {
	font-size: 0.9em;
	transition: 0.3s ease;
	transition-property: box-shadow, text-shadow;
	cursor: pointer;
	margin-top: 0.75em;
}
#buttons > *:hover {
	box-shadow: 0 0 0.5em var(--links);
	text-shadow: 0 0 0.5em var(--bg);
}
/* Roundness: all */
#s-m-t-tooltip, #buttons > *,
img.square, .usericon,
aside div, #search, #search input, #pages a,
.pagination, .pagination .arrows,
.post, .post header > a, .highres,
.bodyitem:last-child::after, .ask::after,
.post .quote i, .quote .separator::before, .quote .separator::after,
.postbody .link[href],
.audiowrapper .custom_audio_buttons, .audiowrapper .albumart, .audiowrapper .custom_audio_seekbar_progress::after {
	border-radius: var(--roundness);
}
/* Roundness: bottom */
#blognav nav {
	border-bottom-left-radius: var(--roundness);
	border-bottom-right-radius: var(--roundness);
}
/* Casing: lower */
.lowercase #s-m-t-tooltip,
.lowercase #title,
.lowercase #pages a,
.lowercase .post header,
.lowercase .post footer,
.lowercase .highres,
.lowercase .chat .label,
.lowercase .link .name,
.lowercase .audiowrapper .textinfo { text-transform: lowercase }
/* Casing: upper */
.uppercase #title,
.uppercase .user,
.uppercase .chat .label,
.uppercase .audiowrapper .textinfo .trackname { text-transform: uppercase }
.uppercase #s-m-t-tooltip,
.uppercase #pages a,
.uppercase .post header,
.uppercase .post footer,
.uppercase .highres,
.uppercase .link .name
.uppercase .audiowrapper .textinfo .making { font-variant: small-caps }



/**************************** HEADER AND DESCRIPTION ****************************/
/* General header */
#phead {
	/* layout */
	display: grid;
	grid-template-columns: 1fr;
	align-items: center;
	column-gap: 0.5em;
	--avatar: 3.5em;
	padding: 0.5em;
	/* appearance */
	font-size: 1.2em;
	background-color: var(--bg2);
	/* position */
	position: sticky;
	top: 0;
	z-index: 4;
}
#phead.avatar { grid-template-columns: var(--avatar) 1fr }
#phead.title { grid-template-columns: 1fr auto }
#phead.avatar.title { grid-template-columns: var(--avatar) 1fr auto }
#phead.avatar.title #title { grid-column: 2 }
#phead.avatar.title #blognav { grid-column: 3 }
#phead a, .post header a, .post footer a, .pagination a {
	color: var(--text2);
	text-decoration: none;
}
#phead a:hover, .post header a:hover, .post footer a:hover, .pagination a:hover { text-shadow: 0 0 0.5em var(--bg) }
/* Avatar */
#avatar img {
	background: var(--bg2);
	border: 0.25em solid var(--bg2);
	position: absolute;
	width: var(--avatar);
	height: var(--avatar);
	top: 0.25em;
}
/* Title */
#title h1 {
	font-size: 1em;
	margin: 0;
	font-family: var(--title-font);
	font-weight: normal;
	white-space: nowrap;
	text-overflow: ellipsis;
}
#title, #title h1 {
	overflow: hidden;
}
/* Blog navigation */
#blognav { justify-self: end }
#blognav, #blognav nav {
	display: flex;
	align-items: center;
	justify-content: center;
}
#blognav a { padding: 0 0.5em }
#blognav a.current-page { color: var(--links) }
#dropdown,
/* Color mode toggle */
#darklight { cursor: pointer }
/* Banner image */
aside {
	background-color: var(--header);
	min-height: 20em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 2em;
}
aside.left { align-items: start }
aside.center { align-items: center }
aside.right { align-items: end }
/* Desc/pages */
aside div {
	/* layout */
	display: grid;
	column-gap: 1em;
	align-items: center;
	padding: 1em;
	width: 50%;
	min-height: 8em;
	/* position */
	position: relative;
	/* appearance */
	background: rgba(var(--bg--rgb), 0.6);
	text-align: center;
	font-size: 0.9em;
}
aside.desc.pages div {
	width: 100%;
	max-width: 35em;
	grid-template-columns: 1fr 1fr;
}
#desc + #pages::before { /* divider */
	content: "";
	display: block;
	height: 90%;
	width: 0.05em;
	position: absolute;
	left: 50%;
	top: 5%;
	background-color: var(--text);
	opacity: 0.25;
}
/* Description */
#desc :first-child { margin-top: 0 }
#desc :last-child { margin-bottom: 0 }
/* Pages */
#pages {
	display: flex;
	flex-wrap: wrap;
}
#pages a {
	background-color: rgba(var(--bg--rgb), 0.2);
	flex-grow: 1;
	text-decoration: none;
	padding: 0.1em 0.5em;
	margin: 0.2em;
	transition-duration: .4s;
	--height: 100%;
	--og: transparent;
	--hover: rgba(var(--bg--rgb), 0.4)
}
#pages a.current-page { background-color: var(--bg) }
/* Search bar */
#search {
	background-color: rgba(var(--bg--rgb), 0.6);
	padding: 0.5em 0.6em;
	margin-top: 1em;
	width: 20em;
	max-width: 100%;
	display: flex;
	align-items: center;
}
#search input {
	margin-left: 0.5em;
	padding: 0.1em 0.4em;
	background-color: var(--bg);
	color: var(--text);
	border: none;
	width: 100%;
}



/******************************* POSTS: GENERAL *******************************/
#main { padding: 0 1em }
/* Page titles */
.page.title, #no-posts { text-align: center }
.page.title h2 {
	margin: 0;
	font-size: 1.3em;
}
.page.title p { margin: 0.3em 0 }
.page.title .tag, .page.title .search_query { color: var(--links) }
.page.title .tag::before { content: "#" }
.page.title .search_query::before { content: "\201C" }
.page.title .search_query::after { content: "\201D" }
/* Post container */
#posts {
	margin: 2em auto;
	width: 100%;
	max-width: calc(var(--post-width) + 2em);
}
/* Individual posts */
.post {
	box-shadow: 0 0 0.25em rgba(var(--bg2--rgb), 0.75);
	margin: 2em 0;
	overflow: hidden;
}
/* Post headers and footers */
.post header, .post footer {
	padding: 0.6em;
	background-color: rgba(var(--bg2--rgb), 0.85);
	color: var(--text2);
	font-size: 0.9em;
}
/* Post header */
.post header {
	/* layout */
	display: grid;
	grid-template-columns: auto 1fr auto;
	align-items: center;
	column-gap: 0.5em;
}
/* Permalink */
.post header > a { font-size: 1.25em }
.post header > a:hover { box-shadow: 0 0 0.3em rgba(var(--bg--rgb), 0.5) }
/* Date/notes and via/source container */
.post header div {
	display: flex;
	flex-direction: column;
}
/* Date/notes */
.datenotes .notes { position: relative }
.date + .notes { margin-left: 1em }
.date + .notes::before {
	content: "";
	display: inline-block;
	height: 100%;
	width: 0.05em;
	background-color: var(--bg);
	opacity: 0.5;
	position: absolute;
	left: -.525em;
}
/* Via/source */
.viasource {
	font-size: 0.85em;
	margin-top: 0.3em;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.viasource i { margin: 0 0.5em }
/* Like/reblog/pinned */
.likereblog {
	display: flex;
	align-items: center;
}
.likereblog > * { margin: 0 0.4em }
.customlike { position: relative }
.customlike .like_button.liked + i { color: var(--links) }
.customlike .like_button.liked + i::before { content: "\eb03" }
.customlike iframe {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
	opacity: 0;
}
/* Post footers */
.post footer { text-align: center }
/* Showtags button */
.showtags {
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}
.showtags i {
	font-size: 0.75em;
	margin: 0 0.5em;
	transition: .4s ease;
}
.showtags.active i { transform: rotate(90deg) }
/* Tags section */
.tags { margin: 0 }
.showtags + .tags { margin-top: 0.5em }
/* Individual tags */
.tags a:not(:last-child)::after { content: ", " }
/* Pagination */
.pagination {
	max-width: var(--post-width);
	margin: 1em auto;
	padding: 0.5em;
	--arrow: 1.6em;
	display: grid;
	grid-template-columns: var(--arrow) 1fr var(--arrow);
	column-gap: 1em;
	align-items: center;
	background: var(--bg2);
}
.pagination .prev { grid-column: 1 }
.pagination .jump {
	grid-column: 2;
	text-align: center;
}
.pagination .jump a {
	margin: 0 4%;
	font-weight: bold;
}
.pagination .current-page { color: var(--links) }
.pagination .next { grid-column: 3 }
.pagination .arrows { font-size: 0.8em }
.pagination .arrows:hover { box-shadow: 0 0 0.5em rgba(var(--bg--rgb), 0.75) }



/********************************* POST STYLES *********************************/
/* General */
.bodyitem {
	margin: 0 0.5em;
	position: relative;
}
.bodyitem:first-child,
.photowrapper + .bodyitem,
.npf_photoset + .bodyitem,
.audiowrapper + .bodyitem,
.videowrapper + .bodyitem { margin-top: 0.75em }
.bodyitem:last-child { margin-bottom: 1em }
.bodyitem:last-child::after, .ask::after,
.quote .separator::before, .quote .separator::after,
.audiowrapper .custom_audio_seekbar_progress::after { /* Stopper */
	content: "";
	display: block;
	--size: 0.45em;
	height: var(--size);
	width: var(--size);
	background: var(--bg2);
}
.bodyitem:last-child::after, .ask::after {
	position: absolute;
	left: 0.9em;
	bottom: -0.2em;
}
.user {
	display: inline-flex;
	align-items: center;
	height: 1.3em;
	margin: 0.35em 0;
	--size: 2.25em;
	margin-left: calc(var(--size) + 0.5em);
}
.usericon {
	position: absolute;
	left: 0;
	width: var(--size);
	margin-right: 0.5em
}
.bodyitem .user.deactivated .username::after,
.ask .user.deactivated .username a::after {
	content: " (deactivated)";
	font-size: 0.8em;
	opacity: 0.75;
}
.user + .bodyitemcontent, .question {
	border-left: 0.15em solid var(--bg2);
	margin: -0.2em 0 0 1.075em;
}
.bodyitemcontent, .question { padding: 1em 1em 0.75em }
.bodyitem:not(:last-child) .bodyitemcontent { padding-bottom: 1.5em }
.bodyitemcontent > :first-child, .question > :first-child { margin-top: 0 }
.bodyitemcontent > :last-child, .question > :last-child { margin-bottom: 0 }
.tmblr-attribution {
	margin: 0.1em 0 0;
	font-size: 0.75em;
	font-style: italic;
}
/* Photo posts */
.photowrapper { position: relative }
.photowrapper a[href*="image"], .photopost { display: flex }
.photopost { width: 100% }
.photowrapper .highres {
	position: absolute;
	bottom: 1em;
	left: 1em;
	background-color: var(--bg);
	padding: 0.4em 0.5em;
}
.photowrapper:not(:hover) .highres { opacity: 0 }
/* Quote posts */
.quote { text-align: center }
.quote .separator {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 2em;
	margin: 1em;
}
.quote .separator div {
	background: var(--bg2);
	display: block;
	height: 0.15em;
	width: 100%;
}
.quote .separator i { position: absolute }
/* Link posts */
.postbody .link[href] {
	display: flex;
	flex-direction: column;
	background-color: rgba(var(--bg2--rgb), 0.8);
	color: var(--text2);
	--og: rgba(var(--links--rgb), 0.5);
	--hover: var(--links);
	--height: 0.75em;
	padding-bottom: var(--height);
	text-align: center;
	overflow: hidden
}
.link .name {
	background: var(--bg2);
	padding: 0.5em;
}
.link .excerpt {
	font-size: 0.85em;
	padding: 0.5em 1em;
}
/* Chat posts */
.chat {
	list-style: none;
	margin: 0.5em 0;
	padding: 0;
}
.chat li { padding: 0.25em 0.5em }
.uppercase .chat .label { font-size: 0.9em }
.chat li:nth-child(even) {
	background-color: rgba(var(--bg2--rgb), 0.1);
	padding-left: 1.5em;
}
/* Audio posts */
.audiowrapper {
	display: grid;
	--size: 4rem;
	grid-template-columns: var(--size) 1fr;
	column-gap: 1em;
	padding: 0.5em 0.5em 0;
	background: var(--bg2);
	color: var(--text2);
	text-align: center;
	align-items: center;
}
.audiowrapper.hasart { grid-template-columns: var(--size) 1fr var(--size) }
.audiowrapper span[id*='audio_player'] { display: none } /* Bring the hidden player out of the grid */
.audiowrapper .custom_audio_buttons {
	background-color: var(--links);
	color: var(--bg);
	font-size: 1.25em;
	height: var(--size);
}
.audiowrapper .custom_audio_buttons div:not([style*='none']) {
	display: flex !important;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
}
.audiowrapper .textinfo .making { font-size: 0.8em }
.audiowrapper .custom_audio_seekbar {
	grid-column: 1/span 3;
	margin: 0 0.225em;
	padding: 0.5em 0;
	background-image: linear-gradient(var(--bg), var(--bg));
	background-size: 100% 0.15em;
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;
}
.audiowrapper .custom_audio_seekbar_progress {
	position: relative;
	height: 0.15em;
	background-color: var(--links);
	display: flex;
	align-items: center;
}
.audiowrapper .custom_audio_seekbar_progress::after {
	background: var(--links);
	position: absolute;
	right: calc(var(--size)/-2);
}
/* Video posts */
.tumblr_video_container, .tumblr_video_iframe { width: 100% !important }
/* Ask posts */
.ask {
	position: relative;
	background: var(--bg2);
	color: var(--text2);
	padding: 0.5em 0.5em 0.75em;
}
.ask .usericon { left: 0.55em }
.ask::after {
	background-color: var(--bg);
	bottom: 0.7em;
	left: 1.4em;
}
.question { border-left-color: var(--bg) }
.ask + .bodyitem { margin-top: 0.75em }



/******************************** MEDIA QUERIES ********************************/
@media (min-width: 35em) {
	/* Blog navigation */
	#dropdown { display: none }
	
	/* Tumblr controls */
	.tmblr-iframe.tmblr-iframe--unified-controls {
		top: 2.25em;
		right: -2.5em;
	}
}

@media (max-width: 35em) {
	body { font-size: 0.9em }

	/* Avatar sizing */
	#phead { --avatar: 2.75em }
	/* Blog navigation */
	#blognav nav {
		/* layout */
		flex-direction: column;
		/* position */
		position: absolute;
		top: 50%;
		/* appearance */
		background-color: var(--bg2);
	}
	#blognav.active nav { top: 100% }
	#blognav:not(.active) nav,
	.tmblr-iframe:not(.active) {
		pointer-events: none;
		opacity: 0;
	}
	#blognav.active nav a {
		padding-top: 0.3em;
		padding-bottom: 0.25em;
	}
	/* Tumblr controls */
	.tmblr-iframe.tmblr-iframe--unified-controls {
		top: -0.5em;
		right: 1em;
		transform: scale(0.9);
		background: linear-gradient(to right, transparent, var(--bg2) 10%);
	}
	.tmblr-iframe.active { right: 1.5em }
	/* Have blognav/iframe slide out together */
	#blognav nav,
	.tmblr-iframe.tmblr-iframe.tmblr-iframe--unified-controls { transition: .3s ease }
	
	/* Reorder description/pages to stop squishing */
	aside.desc.pages div {
		grid-template-columns: 1fr;
		row-gap: 1em;
	}
	#desc + #pages::before {
		width: 90%;
		height: 0.05em;
		position: relative;
		left: 5%;
		top: -0.5em;
	}
	
	/* Post headers */
	.datenotes { font-size: 0.9em }
	.likereblog {
		flex-direction: column;
		position: relative;
	}
}