/* #region GENERAL STYLES */
/* #region Scroll bar */
* {
	scrollbar-color: var(--links) var(--text);
	scrollbar-width: thin;
	background-position: center;
}
::-webkit-scrollbar {
	width: 0.5em;
	height: 0.5em;
	background-color: var(--text);
}
::-webkit-scrollbar-corner { background-color: var(--links) }
::-webkit-scrollbar-thumb { background-color: var(--links) }
/* #endregion */
html {
	background-color: var(--bg);
	color: var(--text);
	font-family: var(--bfont);
}
a {
	color: var(--links);
	text-decoration: none;
	transition: text-shadow .2s;
}
a:hover { text-shadow: 0 0 1em }
#phead a:hover, #blognav a:hover,
#pages a:hover, #pagination a:hover,
.tags a:hover, .stickies a:hover { text-shadow: 0 0 0.2em }
/* Accessibility */
#skip, #hiddentitle, #search label {
	position: fixed;
	font-size: 1px;
	top: -100rem;
}
/* Tooltips */
#s-m-t-tooltip {
	margin: 1em;
	padding: 0.25em 0.5em;
	z-index: 5 !important;
}
/* #region Casing */
body.upper #s-m-t-tooltip, body.upper #title,
body.upper #blognav, body.upper #toggle,
body.upper #pages, body.upper #search label, body.upper #pagination,
body.upper .username, body.upper .title,
body.upper .post.notes .action > a,
body.upper .stickies, body.upper .tags, body.upper .link .name {
	text-transform: uppercase;
}
body.lower #s-m-t-tooltip, body.lower #title,
body.lower #blognav, body.lower #toggle,
body.lower #pages, body.lower #search label, body.lower #pagination,
body.lower .username, body.lower .title,
body.lower .stickies, body.lower .tags, body.lower .link .name {
	text-transform: lowercase;
}
/* #endregion */
/* Roundness */
#s-m-t-tooltip,
#avatar.square, #top, #search input, #pages a, #toggle,
.post .body, .stickies > *, .tags a,
.post .title a, .post.notes .title,
.read_more, .viasource img, .highres, .link, .ask, .seekbar span,
.audiowrapper .custom_audio_buttons, .audiowrapper .albumart, .custom_audio_seekbar,
.page.title a, .post.notes .more_notes_link_container > *,
#scrolltotop_arrow, #buttons a {
	border-radius: var(--roundness)
}
#blognav a {
	border-top-right-radius: var(--roundness);
	border-bottom-right-radius: var(--roundness);
}
/* #endregion */



/* #region TAPE STYLES */
/* #region Main tape 1 */
#title, #h1, #pages a:nth-child(3n+1),
.bodyitem:nth-child(3n+1) .user, .bodyitem:nth-child(3n+1) .username, .ask .user, .ask .username,
blockquote:nth-of-type(3n+1)::before,
.post:nth-child(3n+1) .quote .separator, .post:nth-child(3n+1) .quote .separator i,
.seekbar > span, .tags a:nth-child(3n+1),
.note:nth-child(3n+1)::before {
	background-color: var(--t1-bg);
	color: var(--t1-text);
}
#title, #h1, .alltapes #pages a:nth-child(3n+1),
.alltapes .bodyitem:nth-child(3n+1) .user, .ask .user,
.alltapes blockquote:nth-of-type(3n+1)::before,
.alltapes .post:nth-child(3n+1) .quote .separator,
.alltapes .seekbar > span, .alltapes .tags a:nth-child(3n+1),
.alltapes .note:nth-child(3n+1)::before {
	background-image: var(--t1-img);
	background-repeat: var(--t1-repeat);
	background-size: var(--t1-size);
}
/* #endregion */
/* #region Main tape 2 */
#phead a::after, #pages a:nth-child(3n+2),
.bodyitem:nth-child(3n+2) .user, .bodyitem:nth-child(3n+2) .username,
blockquote:nth-of-type(3n+2)::before, .link .name, .chat li:nth-child(odd),
.post:nth-child(3n+2) .quote .separator, .post:nth-child(3n+2) .quote .separator i,
.tags a:nth-child(3n+2), .page.title a:first-child,
.note:nth-child(3n+2)::before {
	background-color: var(--t2-bg);
	color: var(--t2-text);
}
#phead a::after, .alltapes #pages a:nth-child(3n+2),
.alltapes .bodyitem:nth-child(3n+2) .user,
.alltapes blockquote:nth-of-type(3n+2)::before, .alltapes .link .name,
.alltapes .chat li:nth-child(odd), .alltapes .post:nth-child(3n+2) .quote .separator,
.alltapes .tags a:nth-child(3n+2), .alltapes .page.title a:first-child,
.alltapes .note:nth-child(3n+2)::before {
	background-image: var(--t2-img);
	background-repeat: var(--t2-repeat);
	background-size: var(--t2-size);
}
/* #endregion */
/* #region Main tape 3 */
#phead::before, #pages a:nth-child(3n),
.bodyitem:nth-child(3n) .user, .bodyitem:nth-child(3n) .username,
blockquote:nth-of-type(3n)::before, .link .excerpt, .chat li:nth-child(even),
.post:nth-child(3n) .quote .separator, .post:nth-child(3n) .quote .separator i,
.custom_audio_seekbar, .custom_audio_seekbar_progress,
.tags a:nth-child(3n), .page.title a:last-child,
.note:nth-child(3n)::before {
	background-color: var(--t3-bg);
	color: var(--t3-text);
}
#phead::before, .alltapes #pages a:nth-child(3n),
.alltapes .bodyitem:nth-child(3n) .user,
.alltapes blockquote:nth-of-type(3n)::before, .alltapes .link .excerpt,
.alltapes .chat li:nth-child(even), .alltapes .post:nth-child(3n) .quote .separator,
.alltapes .custom_audio_seekbar_progress,
.alltapes .tags a:nth-child(3n), .alltapes .page.title a:last-child,
.alltapes .note:nth-child(3n)::before {
	background-image: var(--t3-img);
	background-repeat: var(--t3-repeat);
	background-size: var(--t3-size);
}
/* #endregion */
/* #region Accent tape */
#s-m-t-tooltip, #toggle,
#search, .stickies > *, .read_more,
.post .title a, .post.notes .title,
.post.notes .more_notes_link_container > *,
.highres, .custom_audio_buttons div,
#scrolltotop_arrow, #buttons a {
	background-color: var(--ta-bg);
	color: var(--ta-text);
	background-image: var(--ta-img);
	background-repeat: var(--ta-repeat);
	background-size: var(--ta-size);
}
/* #endregion */
/* #region General tape bands */
#pages, .tags {
	display: flex;
	flex-flow: row wrap;
	text-align: center;
}
#pages a, .tags a {
	flex-grow: 1;
	padding: 0.5em 1em;
	margin: 0.25em;
}
/* #endregion */
/* #region No-image alternatives */
html:not(.alt) body.noimga #search input,
html.alt body.noaimga #search input {
	background-color: rgba(var(--ta-text--rgb), 0.1);
}
.maintapes .user::before,
html:not(.alt) body.noimg1 .bodyitem:nth-of-type(3n+1) .user::before,
html:not(.alt) body.noimg1 .ask .user::before,
html:not(.alt) body.noimg2 .bodyitem:nth-of-type(3n+2) .user::before,
html:not(.alt) body.noimg3 .bodyitem:nth-of-type(3n) .user::before,
html.alt body.noaimg1 .bodyitem:nth-of-type(3n+1) .user::before,
html.alt body.noaimg2 .bodyitem:nth-of-type(3n+2) .user::before,
html.alt body.noaimg3 .bodyitem:nth-of-type(3n) .user::before { filter: drop-shadow(-0.1em 0 0em) }
.maintapes .user::after,
html:not(.alt) body.noimg1 .bodyitem:nth-of-type(3n+1) .user::after,
html:not(.alt) body.noimg1 .ask .user::after,
html:not(.alt) body.noimg2 .bodyitem:nth-of-type(3n+2) .user::after,
html:not(.alt) body.noimg3 .bodyitem:nth-of-type(3n) .user::after,
html.alt body.noaimg1 .bodyitem:nth-of-type(3n+1) .user::after,
html.alt body.noaimg2 .bodyitem:nth-of-type(3n+2) .user::after,
html.alt body.noaimg3 .bodyitem:nth-of-type(3n) .user::after { filter: drop-shadow(0.1em 0 0em) }
.maintapes .quote .separator i,
html:not(.alt) body.noimg1 .post:nth-child(3n+1) .quote .separator i,
html:not(.alt) body.noimg2 .post:nth-child(3n+2) .quote .separator i,
html:not(.alt) body.noimg3 .post:nth-child(3n) .quote .separator i,
html.alt body.noaimg1 .post:nth-child(3n+1) .quote .separator i,
html.alt body.noaimg2 .post:nth-child(3n+2) .quote .separator i,
html.alt body.noaimg3 .post:nth-child(3n) .quote .separator i { border: double; border-width: 0 0.3em }
.maintapes .custom_audio_seekbar_progress,
html.alt body.noaimg3 .custom_audio_seekbar_progress,
html:not(.alt) body.noimg3 .custom_audio_seekbar_progress {
	box-shadow: inset -0.05em 0 0, 0.05em 0 0;
}
/* #endregion */
/* #endregion */



/* #region HEADER */
#title, #h1 {
	font-family: var(--tfont);
	font-weight: var(--tweight);
	display: block;
	height: 4rem;
	display: flex;
	align-items: center;
	margin: 0;
	z-index: 3;
}
#avatar {
	width: var(--size);
	height: var(--size);
}
#phead a::after, #pagination {
	content: "";
	display: block;
	height: 3em;
}
#pagination {
	display: flex;
	align-items: center;
	color: var(--t3-text);
}
#pagination a {
	color: var(--t3-text);
	display: inline-flex;
	padding: .75em;
}
#prev { margin-left: -.75em }
#next { margin-right: -.75em }
/* #endregion */



/* #region NAV */
#blognav { display: flex }
#blognav a {
	display: block;
	text-decoration: none;
	transition-property: text-shadow, left;
}
/* #endregion */



/* #region CENTER */
body {
	display: grid;
	justify-content: center;
	justify-items: center;
	overflow-x: hidden;
}
main {
	max-width: var(--post-width);
	width: 100%;
}
/* Central about */
html:not(.alt) aside:not(.ogheader, .search, .desc, .pages),
html.alt aside:not(.altheader, .search, .desc, .pages),
#top:empty { display: none }
#top {
	display: flex; flex-direction: column; /* remove spacing */
	overflow: hidden; /* curve corners */
}
/* Show/hide toggle */
#toggle {
	width: 100%;
	border: none;
	padding: 0.5em 1em;
	margin: 0.5em 0 3em;
	cursor: pointer;
	transition: text-shadow .2s;
}
#toggle:hover { text-shadow: 0 0 0.5em }
#toggle span {
	display: flex;
	align-items: center;
	justify-content: center;
}
aside.page1 #toggle .show,
aside:not(.page1) #toggle .hide { display: none }
aside:not(.page1) #top, aside:not(.page1) #pages { display: none !important }
/* Header image */
.header {
	max-height: 13em;
	background-color: rgba(var(--ta-bg--rgb), 0.1);
	object-fit: var(--h-size);
	object-position: var(--h-position);
}
html.alt .og, html:not(.alt) .alt { display: none }
/* Search bar */
#search {
	width: 100%;
	padding: 0.5em 0.75em;
	display: flex;
	align-items: center;
}
#search input {
	border: none;
	margin-left: 0.75em;
	flex-grow: 1;
	padding: 0.25em 0.5em;
	background-color: var(--ta-bg);
	color: var(--ta-text);
}
/* Description */
#desc {
	background-color: rgba(var(--ta-bg--rgb), 0.1);
	padding: 0.75em 1em 2em;
	text-align: center;
}
#desc:first-child { padding-top: 1em }
aside:not(.pages) #desc { padding-bottom: 1em }
/* Custom pages */
#pages { padding: 0 .75em; margin-top: .25em }
aside.desc #pages { margin-top: -1.25em }
#top:empty + #pages { margin-top: 0 }
a.current-page { font-weight: bold }
/* #endregion */



/* #region FOOTER */
#buttons {
	display: flex;
	position: fixed;
	z-index: 4;
}
#scrolltotop_arrow, #buttons a {
	display: flex;
	justify-content: center;
	align-items: center;
	--size: 2em;
	width: var(--size);
	height: var(--size);
	cursor: pointer;
}
.sticker {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 5;
}
/* #endregion */



/* #region POSTS */
#posts {
	width: 100%;
	display: grid;
	row-gap: 3em;
}
.post { position: relative }
/* Page titles */
.page.title { text-align: center }
.page.title a {
	padding: 0.5em;
	margin: 0 0.5em;
	position: relative;
}
.page.title .tag::before { content: "#" }
.search_query::before { content: "\201C" }
.search_query::after { content: "\201D" }
/* Post titles */
.post .title {
	margin: 0;
	position: relative;
}
/* No posts */
#no-posts { margin-bottom: 0 }
#no-posts .body { padding: 0.25em 1em; text-align: center }
/* Reblogs */
.post .body {
	background-color: rgba(var(--ta-bg--rgb), 0.1);
	padding: 1.75em 0 2em;
}
.post .bodyitem + .bodyitem { margin-top: 1em }
/* Post titles */
.post .title a, .post.notes .title {
	display: block;
	text-align: center;
	font-size: 1.5em;
	padding: 0.2em 0.6em;
	margin-bottom: 0.5em;
}
/* Post usernames */
.post .user, .post .username, .read_more {
	display: flex;
	align-items: center;
	justify-content: center;
}
.post .user {
	height: 2em;
	margin-bottom: 0.5em;
}
.post .username {
	height: 100%;
	position: relative;
	padding: 0 0.25em;
	transition: padding .2s;
	text-shadow: none;
}
.post .user[href]:hover .username { padding: 0 0.75em }
.post .user::before,
.post .user::after {
	content: "";
	border: solid transparent;
	border-width: 1em 0.7em;
}
.deactivated.user .username::after {
	content: "(deactivated)";
	margin-left: 0.2em;
	font-size: 0.95em;
	opacity: 0.6;
}
.bodyitem:nth-of-type(3n+1) .user::before, .ask .user::before { border-right-color: var(--t1-bg) }
.bodyitem:nth-of-type(3n+1) .user::after, .ask .user::after { border-left-color: var(--t1-bg) }
.bodyitem:nth-of-type(3n+2) .user::before { border-right-color: var(--t2-bg) }
.bodyitem:nth-of-type(3n+2) .user::after { border-left-color: var(--t2-bg) }
.bodyitem:nth-of-type(3n) .user::before { border-right-color: var(--t3-bg) }
.bodyitem:nth-of-type(3n) .user::after { border-left-color: var(--t3-bg) }
/* Body content */
.post .bodyitemcontent { margin: 0 1em }
.bodyitemcontent > :first-child, .ask .question > :first-child { margin-top: 0 }
.bodyitemcontent > :last-child, .ask .question > :last-child { margin-bottom: 0 }
blockquote {
	position: relative;
	margin-left: 0;
	padding-left: 2.5em;
}
blockquote::before {
	content: "";
	display: block;
	height: 100%;
	width: 1em;
	position: absolute;
	left: 0.5em;
}
.read_more { padding: 0.5em 1em }
/* Post tags */
.post .tags { margin-top: 0.25em }
/* Stickies general */
.stickies, .likereblog a {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	text-align: center;
}
.stickies a, .submitted {
	color: var(--ta-text);
	padding: 0.5em;
}
.stickies a:hover, #pagination a:hover { text-shadow: 0 0 0.2em }
.stickies { row-gap: 0.25em; column-gap: 1.5em }
header.stickies { margin-bottom: -0.75em }
footer .stickies { margin-top: -0.75em }
/* Header stickies */
.submitted a { margin: -0.5em; margin-left: -0.2em }
#pinnedpost {
	cursor: help;
	display: flex;
	align-items: center;
}
/* Footer stickies */
.source { padding-left: 0.5em }
.submitted, .source, .viasource, .viasource a { display: flex; align-items: center }
.viasource a { padding: 0.3em 0.5em }
.viasource img {
	--size: 1.75em;
	width: var(--size);
	height: var(--size);
	transition: box-shadow .2s;
}
.viasource a:hover img { box-shadow: 0 0 0.5em }
.likereblog {
	display: flex;
	align-items: center;
	justify-content: center;
}
#pinnedpost, .likereblog a { padding: 0.5em 0.6em }
#pinnedpost i, .likereblog i, #buttons i { font-size: 1.15em }
.showtags { cursor: pointer }
.showtags.active i::before { content: "\f873" }
/* Like button */
.customlike { position: relative }
.customlike .like_button.liked + i::before { content: "\fc8f"; }
.customlike iframe {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
	opacity: 0;
}
/* Ask page FAQ wrapper */
.askwrapper { margin-bottom: 1em }
/* Post notes */
.post.notes .title { margin-top: -0.5em }
.post.notes .notes {
	margin: 0;
	padding: 0 1em;
	list-style: none;
}
.post.notes .notes .avatar_frame { display: none }
.post.notes li {
	position: relative;
	padding: 0.25em 1.25em;
}
.post.notes li::before {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 0.75em;
	height: 100%;
}
.post.notes li blockquote { margin: 0.5em 0 0 }
.post.notes .more_notes_link_container::before { content: none }
.post.notes .more_notes_link_container > * {
	display: block;
	margin: 0.25em -1.25em 0;
	padding: 0.5em;
}
/* #endregion */



/* #region POST TYPES */
/* Photo posts */
.photowrapper { position: relative }
.photowrapper a[href*="image"], .photopost { display: flex }
.photopost { width: 100% }
.photowrapper .highres {
	position: absolute;
	bottom: 1em;
	left: 1em;
	padding: 0.4em 0.5em;
	transition: opacity .2s, text-shadow .2s;
}
.photowrapper:not(:hover) .highres { opacity: 0 }
/* Photoset posts */
.bodyitem .npf_photoset { margin: 0 -1em }
.npf_photoset .npf_image { object-fit: cover }
/* Quote posts */
.body .quote { text-align: center }
.quote h2 { font-weight: normal; margin: 0 0.5em }
.quote .separator {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0.5em 0;
}
.quote .separator i { padding: 0.5em }
/* Link posts */
.link {
	display: flex;
	flex-direction: column;
	text-shadow: none;
	transition: box-shadow .2s;
	overflow: hidden;
}
.link:hover { box-shadow: 0 0 0.25em var(--accent) }
.link img {
	width: 100%;
	height: 10em;
	object-fit: cover;
}
.link .name, .link .excerpt {
	position: relative;
	padding: 0.3em 0.75rem;
	text-shadow: none;
}
.link .name { font-size: 1.2em }
/* Chat posts */
.chat {
	padding: 0;
	margin: 0;
	list-style: none;
}
.chat li {
	position: relative;
	padding: 0.2em 0.5em;
}
.chat li:nth-child(even) { padding-left: 1em }
/* Audio posts */
.audiowrapper {
	display: grid;
	grid-template-columns: 4em 1fr auto;
	column-gap: 1em;
	background: rgba(var(--ta-bg--rgb), 0.1);
	padding: 0.5em;
}
.audiowrapper span[id*='audio_player'] { display: none }
.audiowrapper .custom_audio_buttons, .custom_audio_buttons div:not([style]),
.custom_audio_buttons div[style*='block'], .seekbar span {
	display: flex !important;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}
.custom_audio_buttons div {
	height: 4em;
	width: 100%;
	cursor: pointer;
}
.custom_audio_buttons .custom_audio_error_icon { color: red }
.audiowrapper .textinfo {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.textinfo .trackname { font-size: 1.1em }
.textinfo .artist, .textinfo .album { font-size: 0.8em }
.textinfo .album { font-style: italic }
.audiowrapper .albumart { height: 4em }
.audiowrapper .seekbar {
	grid-column: 1 / span 3;
	height: 1.2em;
	display: grid;
	align-items: center;
	text-align: center;
	grid-template-columns: 4em 1fr 4em;
	column-gap: 1em;
	margin-top: 0.5em;
}
.custom_audio_seekbar { cursor: pointer; overflow: hidden }
.seekbar span, .custom_audio_seekbar,
.custom_audio_seekbar_progress { height: 100% }
.maintapes .custom_audio_seekbar_progress,
html:not(.alt) body.noimg3 .custom_audio_seekbar_progress,
html.alt body.noaimg3 .custom_audio_seekbar_progress {
	box-shadow: inset -0.05em 0 0, 0.05em 0 0;
}
.seekbar span {
	position: relative;
	font-size: 0.8em;
}
.custom_audio_time_left::before {
	content: "-";
	padding-right: 0.2em;
}
.bodyitem iframe { max-width: 100% }
/* Video posts */
.videowrapper div, .videowrapper iframe { width: 100% !important }
/* Ask posts */
.ask {
	margin: 0 1em 0.75em;
	background-color: rgba(var(--ta-bg--rgb), 0.1);
	overflow: hidden;
}
.ask .user i { margin-right: 0.5em }
.ask .question { padding: 0 1em 0.75em }
/* #endregion */



/* #region RESPONSIVENESS */
@media (min-width: 60em) { /* Desktop */
	/* Center */
	body { margin: 3.5em 0 6em 20em }
	/* Header */
	#title, #h1 {
		width: calc(100vh + 10rem);
		padding: 1rem 10rem 1rem 14rem;
		transform: rotate(-80deg);
		transform-origin: top left;
		position: fixed;
		left: 2rem;
		bottom: -4rem;
	}
	#avatar {
		--size: 6em;
		position: fixed;
		bottom: 4.25em;
		left: 5em;
		transform: rotate(10deg);
		transform-origin: bottom left;
		z-index: 4;
	}
	#phead::before {
		content: "";
		display: block;
		height: 3em;
	}
	#phead::before, #phead a::after, #pagination {
		position: fixed;
		left: -1em;
		transform: rotate(10deg);
		transform-origin: bottom left;
		z-index: 3;
	}
	#phead::before, #pagination {
		width: 110vw;
		bottom: 10.5em;
	}
	#phead a::after {
		width: 40em;
		bottom: 3em;
	}
	#pagination { padding-left: 40em }
	
	/* Navigation */
	#blognav {
		flex-direction: column;
		position: fixed;
		bottom: 13.5em;
		left: 7.5em;
		transform: rotate(10deg);
		transform-origin: bottom left;
		z-index: 1;
	}
	#blognav a {
		width: fit-content;
		padding: 0.5em 1em 0.5em 2em;
		margin-top: 1em;
		max-width: 15em;
		position: relative;
		left: 0;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	#blognav a:hover { left: .5em }
	#blognav a:nth-last-child(odd) {
		background-color: var(--t2-bg);
		color: var(--t2-text);
	}
	#blognav a:nth-last-child(odd) {
		background-image: var(--t2-img);
		background-repeat: var(--t2-repeat);
		background-size: var(--t2-size);
	}
	#blognav a:nth-last-child(even) {
		background-color: var(--t3-bg);
		color: var(--t3-text);
	}
	.alltapes #blognav a:nth-last-child(even) {
		background-image: var(--t3-img);
		background-repeat: var(--t3-repeat);
		background-size: var(--t3-size);
	}
	
	/* Footer */
	#buttons {
		gap: 1em;
		bottom: 5.6em;
		left: 8.25em;
		transform: rotate(10deg);
		transform-origin: bottom left;
	}
	#buttons.avatar {
		bottom: 4.85em;
		left: 12.4em;
	}
	.sticker {
		max-height: 15em;
		max-width: 10em;
	}
	
	/* Pinned post marker */
	#pinnedpost {
		margin: 0;
		position: absolute;
		left: 100%;
		top: 3em;
		border-radius: 0 var(--roundness) var(--roundness) 0;
	}
	.post.titled.pinned #pinnedpost {
		top: 4.1em;
		left: calc(100% + 1.1em);
		z-index: -1;
		background-color: var(--t1-bg);
		background-image: var(--t1-img);
		background-repeat: var(--t1-repeat);
		background-size: var(--t1-size);
		color: var(--t1-text);
	}
	
	/* Post title */
	.post .title {
		width: calc(100% + 1.5em);
		left: -.75em;
	}
}

@media (max-width: 60em) { /* Mobile */
	/* Center */
	body { margin: 1.5em 0 }
	/* Header */
	header { position: relative }
	#title, #h1 {
		width: calc(100vw + 1em);
		transform: rotate(-2.5deg);
		position: relative;
		top: 0;
		padding: 1rem 2rem;
	}
	#phead a::after {
		position: relative;
		top: -.5em;
		transform: rotate(2.5deg);
	}
	#avatar {
		--size: 4em;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 1.5em;
		z-index: 3;
	}
	
	/* Navigation */
	#blognav {
		margin: 1em 0;
		padding: 0 1.25em;
		gap: 0.5em;
		flex-flow: row wrap;
		justify-content: center;
		width: 100%;
		max-width: var(--post-width);
	}
	#blognav a {
		border-radius: var(--roundness);
		padding: 0.25em .75em;
		flex-grow: 1;
		text-align: center;
	}
	#blognav a:nth-last-child(3n) {
		background-color: var(--t1-bg);
		color: var(--t1-text);
	}
	.alltapes #blognav a:nth-last-child(3n) {
		background-image: var(--t1-img);
		background-repeat: var(--t1-repeat);
		background-size: var(--t1-size);
	}
	#blognav a:nth-last-child(3n+2) {
		background-color: var(--t2-bg);
		color: var(--t2-text);
	}
	.alltapes #blognav a:nth-last-child(3n+2) {
		background-image: var(--t2-img);
		background-repeat: var(--t2-repeat);
		background-size: var(--t2-size);
	}
	#blognav a:nth-last-child(3n+1) {
		background-color: var(--t3-bg);
		color: var(--t3-text);
	}
	.alltapes #blognav a:nth-last-child(3n+1) {
		background-image: var(--t3-img);
		background-repeat: var(--t3-repeat);
		background-size: var(--t3-size);
	}
	#pagination {
		justify-content: center;
		background-color: var(--t3-bg);
		color: var(--t3-text);
		background-image: var(--t3-img);
		background-repeat: var(--t3-repeat);
		background-size: var(--t3-size);
		margin: 2em calc(-1 * ((100vw - 100%) / 2)) 0;
	}
	
	main { padding: 0 1.5em }
	
	/* Footer */
	#buttons {
		gap: .5em;
		bottom: .5em;
		left: .5em;
		flex-direction: column-reverse;
	}
	.sticker {
		max-height: 8em;
		max-width: 6em;
		transition: opacity .5s;
	}
	.sticker:not(.low) {
		opacity: 0;
		pointer-events: none;
	}
	
	/* Post title */
	.post .title {
		width: calc(100% + .4em);
		left: -.2em;
	}
}
/* #endregion */