@charset "UTF-8";
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #017afb;
  font-family: "Source Sans 3", sans-serif;
}

.visuallyhidden, #skip:not(:focus-within, :focus) {
  position: fixed;
  font-size: 1px;
  top: -100rem;
}

#skip {
  position: absolute;
  top: 0.5em;
  left: 50%;
  transform: translateX(-50%);
}

.button-basic, .button-solid-gray, #postviewer[open] > footer a:not([href]), #postviewer[open] > footer button[disabled], #search button[type=submit][disabled], .button-solid-blue, .button-outline {
  color: #f2f3f3;
  padding: 0.75em 1em;
  line-height: 1;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
}

button[disabled] {
  cursor: initial;
}

.button-outline {
  background-color: #015e97;
  border: 0.1875em solid #38b4fe;
}
.button-outline:not([disabled]):active {
  background-color: #063b5d;
  border-color: #015e97;
}

.button-solid-blue {
  background-color: #38b4fe;
  border: none;
}
.button-solid-blue:not([disabled]):hover, .button-solid-blue:not([disabled]):focus {
  background-color: #5fb1e0;
}
.button-solid-blue:not([disabled]):active {
  background-color: #7bc3eb;
}

.button-solid-gray, #postviewer[open] > footer a:not([href]), #postviewer[open] > footer button[disabled], #search button[type=submit][disabled] {
  background-color: #54595d;
  border: none;
  cursor: initial;
}

.bronze {
  color: #fe9500 !important;
}

.silver {
  color: #c8cde1 !important;
}

.gold {
  color: #fee822 !important;
}

.platinum {
  color: #5cedfd !important;
}

.master {
  color: #df81ff !important;
}

.modal {
  width: 80vw;
  border: none;
  padding: 1em 1.25em;
  background-color: #0d1a32;
  color: #f2f3f3;
}
.modal::backdrop {
  background-color: #017afb;
}
.modal a:not([class*=button]) {
  color: #38b4fe;
  text-underline-offset: 0.2em;
}
.modal a:not([class*=button]):not(:hover, :focus) {
  text-decoration: none;
}
.modal > header {
  border-block-end: 0.1em solid #4a4d63;
  --closebtn-size: 4.5em;
  display: grid;
  grid-template-columns: minmax(0, var(--closebtn-size)) 1fr var(--closebtn-size);
  align-items: center;
  padding-block: 0 0.25em;
}
.modal > header h2 {
  margin: 0;
  line-height: 1;
  grid-column: 2;
  text-align: center;
  font-size: 2.9em;
  font-weight: normal;
}
.modal > header .closemodal {
  grid-column: 3;
  border: none;
  background: none;
  color: #f2f3f3;
  cursor: pointer;
}
.modal > header .closemodal:hover, .modal > header .closemodal:focus {
  color: #a5a6a7;
}
.modal > header .closemodal:active {
  color: #4a4d63;
}
.modal > header .closemodal i {
  font-size: 4em;
}
.modal > footer {
  border-block-start: 0.1em solid #4a4d63;
  padding-block-start: 1em;
}
.modal > footer .closemodal {
  display: block;
  margin-inline: auto;
  padding: 1em 9vw;
  font-size: 1.6em;
}

.tmblr-iframe--unified-controls {
  top: 5em !important;
  right: 1em !important;
}

#phead {
  height: 4em;
  background-color: #0d1a32;
  display: flex;
}

.avatar {
  width: 3.25em;
  height: 3.25em;
  border-width: 0.15em;
  border-style: solid;
  border-color: #f2f3f3;
  border-radius: 100%;
}

#userbadge {
  flex-grow: 1;
  display: flex;
  gap: 0.6em;
  padding: 0 1.3em;
  align-items: center;
  border: none;
  border-radius: 0;
  background: none;
  cursor: pointer;
  text-align: start;
}
#userbadge:hover, #userbadge:focus {
  background-color: #363650;
}
#userbadge:active {
  background-color: #5f5f6d;
}
#userbadge .text {
  font-size: 1.3em;
  line-height: 1.2;
}
#userbadge .text * {
  margin: 0;
}
#userbadge .username {
  font-weight: normal;
  font-size: 1.1em;
  color: #f2f3f3;
}
#userbadge .league {
  color: #a5a6a7;
}

#userprofile dd {
  margin-inline-start: 0;
}
#userprofile .profilesection {
  margin: 1em;
  background-color: #22272b;
  --border: 0.1em solid rgba(242, 243, 243, 0.25);
}
#userprofile #about {
  background-color: var(--accent);
}
#userprofile .cards {
  display: grid;
  padding: 0.5em 1em;
}
#userprofile .cards p {
  margin: 0;
}
#userprofile .cards .card {
  font-size: 1.4em;
  color: rgba(242, 243, 243, 0.9);
  position: relative;
}

#profilename {
  display: grid;
  grid-template-columns: auto 1fr;
  -moz-column-gap: 0.6em;
       column-gap: 0.6em;
  align-items: center;
  padding-block: 1em;
}
#profilename .avatar {
  grid-row: 1/span 2;
}

#profilestatus, #profilefavcard {
  padding-block: 0.75em;
  display: grid;
  grid-template-rows: auto 1fr;
  row-gap: 0.8em;
}
#profilestatus .title, #profilefavcard .title {
  line-height: 1;
}
#profilestatus .text, #profilefavcard .text {
  font-size: 0.8em;
  color: #a5a6a7;
}

#profilefavcard {
  padding-block: 0.5em;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto 1fr;
  align-items: center;
}
#profilefavcard .title {
  padding-block-start: 0.25em;
}
#profilefavcard .text {
  padding-block-end: 0.3125em;
}
#profilefavcard img {
  grid-row: 1/span 2;
  grid-column: 2;
  max-height: 4.35em;
  max-width: 6em;
  -o-object-fit: contain;
     object-fit: contain;
}

#profilebanner {
  display: block;
  width: 100vw;
  height: 42.8571428571vw;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: var(--profile-banner-position);
     object-position: var(--profile-banner-position);
}

#desc {
  min-height: 30vh;
  padding: 1em;
  font-size: 1.4em;
}
#desc .title {
  line-height: 1;
  margin: 0;
}
#desc .text {
  font-size: 0.8em;
  color: #a5a6a7;
}
#desc .text > * {
  margin-block: 0;
}
#desc .text > * + * {
  margin-block-start: 0.6em;
}

.weeklytop5 {
  padding: 0.5em;
  font-size: 1.15em;
}
.weeklytop5 h3 {
  margin: 0 0 0.6em;
  font-size: 1em;
  font-weight: normal;
  color: #38b4fe;
}
.weeklytop5 a {
  display: block;
  text-decoration: none;
}
.weeklytop5 a:hover, .weeklytop5 a:focus {
  background-color: rgba(84, 89, 93, 0.5);
}
.weeklytop5 a:active {
  background-color: #54595d;
}
.weeklytop5 a + a {
  border-block-start: var(--border);
}
.weeklytop5 a[href] figure::after {
  content: "\e13a";
  font-family: "Phosphor" !important;
  color: #a5a6a7;
  font-size: 1.8em;
  display: block;
  grid-column: 3;
  grid-row: 1/span 2;
}
.weeklytop5 figure {
  margin: 0;
  padding: 0.6em;
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 0 0.5em;
  align-items: center;
}
.weeklytop5 img, .weeklytop5 svg {
  color: #a5a6a7;
  width: 2.5em;
  height: 2.5em;
  border: 0.1em solid #54595d;
  background-color: #54595d;
  grid-row: 1/span 2;
}
.weeklytop5 figcaption {
  display: contents;
  line-height: 1;
}
.weeklytop5 .name {
  grid-column: 2;
  font-size: 0.9em;
  color: #f2f3f3;
}
.weeklytop5 .score {
  grid-column: 2;
}

#resourcenav {
  background-color: #172039;
  display: flex;
  padding-block: 0.75em;
}
#resourcenav:is(.ask, .submit, .random, .archive):not(.empty) {
  padding-inline: 1.5em 0.6em;
}
#resourcenav a {
  height: 100%;
  min-width: 9em;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.6em;
  text-decoration: none;
  color: #f2f3f3;
  background-color: #0d1a32;
  font-size: 1.2em;
}
#resourcenav a + a {
  margin-inline-start: 0.6em;
}
#resourcenav a:hover, #resourcenav a:focus {
  background-color: #363650;
}
#resourcenav a:active {
  background-color: #5f5f6d;
}
#resourcenav a i[class^=ph] {
  font-size: 1.65em;
}
#resourcenav a.current-page {
  position: relative;
}
#resourcenav a.current-page::after {
  position: absolute;
  top: -0.1em;
  left: -0.15em;
  content: "\eba6";
  font-family: "Phosphor-Fill" !important;
  font-size: 0.6em;
  display: block;
  width: 1em;
  height: 1em;
  padding: 0.3em;
  border-radius: 100%;
  background: linear-gradient(to bottom right, #64bbfe, #017afb, #0040c9);
  box-shadow: -1px 0 2px rgba(0, 0, 0, 0.5), inset 1px 1px 2px rgba(100, 187, 254, 0.2);
}

#moreinfo {
  display: contents;
}
#moreinfo summary {
  width: 5.75vw;
  min-width: 3.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  background-color: #172039;
  cursor: pointer;
}
#moreinfo summary:hover, #moreinfo summary:focus {
  background-color: #363650;
}
#moreinfo summary:active {
  background-color: #5f5f6d;
}
#moreinfo summary::before {
  box-sizing: content-box;
  border-block: medium solid;
  height: 0.5em;
}
#moreinfo summary::after {
  border-block-end: medium solid;
}
#moreinfo summary::before, #moreinfo summary::after {
  content: "";
  display: block;
  width: 2em;
  border-color: #4a4d63;
}
#moreinfo .contents {
  position: fixed;
  z-index: 101;
  top: 4em;
  right: 0;
}
#moreinfo .contentitem {
  display: block;
  background-color: #0d1a32;
  color: #f2f3f3;
  text-decoration: none;
  padding: 0.75em 1em;
  font-size: 1.1em;
  text-align: center;
}
#moreinfo .contentitem i {
  display: none;
}
#moreinfo a.contentitem:hover, #moreinfo a.contentitem:focus {
  background-color: #363650;
}
#moreinfo a.contentitem:active {
  background-color: #5f5f6d;
}
#moreinfo a.contentitem.current-page::before {
  position: absolute;
  top: -0.1em;
  left: -0.15em;
  content: "\eba6";
  font-family: "Phosphor-Fill" !important;
  font-size: 0.6em;
  display: block;
  width: 1em;
  height: 1em;
  padding: 0.3em;
  border-radius: 100%;
  background: linear-gradient(to bottom right, #64bbfe, #017afb, #0040c9);
  box-shadow: -1px 0 2px rgba(0, 0, 0, 0.5), inset 1px 1px 2px rgba(100, 187, 254, 0.2);
  position: static;
  display: inline-block;
}

#main {
  flex-grow: 1;
  background-image: var(--bg-img);
  background-size: cover;
  background-position: var(--bg-position, center);
  display: flex;
  flex-direction: column;
  padding-block-end: 8.5em;
  position: relative;
}
#main::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 10em;
  height: 100%;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5) 1em, transparent 6em);
  pointer-events: none;
  z-index: 2;
  transition-property: opacity, width;
  transition-duration: 0.3s;
}
#main:has(#scrolltostart.disabled)::before {
  opacity: 0;
  width: 0;
}

#mainhead {
  display: flex;
  padding: 1.5em 1.5em 0.75em;
  box-sizing: content-box;
  height: 2.35rem;
  gap: 1em;
  z-index: 3;
}

#opensearch {
  border: none;
  box-shadow: 1px 1px #a5a6a7;
  background-color: white;
  color: #015e97;
  padding: 0 0.6em;
  line-height: 1;
  cursor: pointer;
}
#opensearch:hover, #opensearch:focus {
  background-color: #f2f3f3;
}
#opensearch:active {
  box-shadow: inset 1px 1px #a5a6a7;
}

#search {
  margin: 2em 1em 1em;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  gap: 1em;
}
#search * {
  font-size: 1.2em;
}
#search #q {
  grid-column: 2;
  border-width: 0.1em;
  border-style: solid;
  border-color: #38b4fe;
  border-radius: 5em;
  background-color: rgba(1, 94, 151, 0.2);
  color: #f2f3f3;
  text-align: center;
  padding: 0.75em;
  min-width: 25vw;
}
#search button[type=submit] {
  grid-column: 3;
  justify-self: start;
  font-size: 1.2em;
}
#pagetitle {
  margin: 0;
  font-size: 1em;
  font-weight: normal;
}
#pagetitle .label {
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  display: flex;
  align-items: center;
  gap: 0.4ch;
  height: 100%;
  padding: 0 0.6em;
  background-color: rgba(0, 0, 0, 0.6);
  color: #f2f3f3;
  border-width: 0.1em;
  border-style: solid;
  border-color: #a5a6a7;
  border-radius: 0;
}
#pagetitle .label + .label {
  display: none;
}
#pagetitle button.label {
  cursor: pointer;
}
#pagetitle button.label:hover, #pagetitle button.label:focus {
  background-color: rgba(0, 0, 0, 0.7);
}
#pagetitle button.label:active {
  background-color: rgba(0, 0, 0, 0.8);
}
#pagetitle button.label::after {
  display: block;
  margin-inline-start: 0.2ch;
  content: "\e13a";
  font-family: "Phosphor-Bold" !important;
  color: #f2f3f3;
  font-size: 1.2em;
}
#pagetitle .tag::before {
  content: "#";
}
#pagetitle .search_query::before {
  content: "“";
}
#pagetitle .search_query::after {
  content: "”";
}

#tagordering .orderlinks {
  margin: 1em 2vw 0;
  display: flex;
  justify-content: center;
  gap: 1em;
}
#tagordering a {
  display: block;
  font-size: 1.2em;
}
#tagordering .button-solid-blue {
  position: relative;
}
#tagordering .button-solid-blue::after {
  position: absolute;
  top: -0.1em;
  right: -0.15em;
  content: "\eba6";
  font-family: "Phosphor-Fill" !important;
  font-size: 0.6em;
  display: block;
  width: 1em;
  height: 1em;
  padding: 0.3em;
  border-radius: 100%;
  background: linear-gradient(to bottom right, #64bbfe, #017afb, #0040c9);
  box-shadow: -1px 0 2px rgba(0, 0, 0, 0.5), inset 1px 1px 2px rgba(100, 187, 254, 0.2);
}

#posts {
  flex-grow: 1;
  align-self: center;
  display: flex;
  align-items: center;
  gap: 2em;
  max-width: 100vw;
  overflow-x: scroll;
  padding-inline: 2em;
  scrollbar-width: none;
  width: -moz-min-content;
  width: min-content;
  margin: 1em auto;
  padding-block: 1.1em;
}

.blanknotice {
  width: 20em;
  height: 20em;
  background-color: var(--accent);
  color: #f2f3f3;
  padding: 1em;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1.5;
}
.blanknotice .search_query::before {
  content: "“";
}
.blanknotice .search_query::after {
  content: "”";
}

.noscriptenabled ~ .blanknotice {
  display: none;
}

#scrolltostart {
  position: absolute;
  left: -2rem;
  top: calc(50% - 1.8rem);
  transform: translateY(-50%);
  color: #a5a6a7;
  text-decoration: none;
  padding: 1rem;
  font-size: 7em;
  line-height: 1;
  display: flex;
  align-items: center;
  z-index: 3;
  transition: opacity 0.3s, color 0.2s;
}
#scrolltostart:not(.disabled) {
  cursor: pointer;
}
#scrolltostart:not(.disabled):hover, #scrolltostart:not(.disabled):focus {
  color: #f2f3f3;
}
#scrolltostart.disabled {
  opacity: 0;
  pointer-events: none;
}
#scrolltostart i:last-child {
  position: absolute;
  left: 0.275em;
}

.post {
  width: 15em;
  height: 21.75em;
  flex-shrink: 0;
  color: #f2f3f3;
  transition-property: scale, margin-inline;
  transition-duration: 0.2s;
  scrollbar-width: none;
}
.post:has(.postcard:hover, .postcard:focus) {
  scale: 110%;
  margin-inline: 0.75em;
}
.post .postcontent {
  display: none;
}

.postcard {
  width: 100%;
  height: 100%;
  border: 1px solid #a5a6a7;
  background: rgba(0, 0, 0, 0.6);
  padding: 0;
  display: grid;
  grid-template-rows: 1fr auto;
  color: inherit;
  cursor: pointer;
}
.postcard .top {
  background-color: var(--accent);
  padding: 1em 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.postcard .top img, .postcard .top svg {
  display: block;
  width: 12.75rem;
  height: 12.75rem;
  -o-object-fit: cover;
     object-fit: cover;
  margin-block-end: auto;
}
.postcard .top svg {
  background-color: black;
  color: #f2f3f3;
  padding: 3em;
}
.postcard:hover .top::after {
  content: "\e30c";
  font-family: "Phosphor-Light" !important;
  font-size: 2em;
  line-height: 1;
  color: white;
  background-color: #f54034;
  position: absolute;
  top: calc(12.75rem - 1.1em);
  left: calc(12.75rem - 0.4em);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.15em 0.2em 0.2em 0.15em;
  box-shadow: 1px 1px #98110c, 0.1em 0.1em 0.25em rgba(0, 0, 0, 0.6);
}
.postcard .posttitle, .postcard .subtitle {
  width: 12.75rem;
  text-align: center;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.postcard .posttitle {
  font-weight: 375;
  font-size: 1.4em;
}
.postcard .subtitle {
  font-weight: 350;
  font-size: 1.2em;
}
.postcard .bottom {
  margin: 0;
  color: #38b4fe;
  text-align: start;
  padding: 0.5em 0.25em;
}
.postcard .bottom i {
  display: inline-block;
  font-size: 2em;
  border-width: 1px;
  border-style: solid;
  border-color: #38b4fe;
  border-radius: 100%;
  padding: 0.05em;
}

#postviewer[open] {
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: 0.2em;
}
#postviewer[open] > footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1em;
}
#postviewer[open] > footer a, #postviewer[open] > footer button {
  display: block;
  font-size: 1.2em;
  padding-inline: 2em !important;
}
.postcontent {
  overflow-y: scroll;
}
.postcontent > * {
  max-width: 33.75rem;
  margin: auto;
}
.postcontent.filtered > :not(:first-child) {
  display: none;
}
.postcontent > header, .postcontent > footer {
  display: flex;
  text-align: center;
  padding-block: 0.8em;
  align-items: center;
  justify-content: center;
}
.postcontent > header {
  flex-wrap: wrap;
  gap: 0.1em 1em;
  border-block-end: 0.1em solid #4a4d63;
  position: relative;
}
.postcontent > footer {
  flex-direction: column;
  gap: 1em;
  border-block-start: 0.1em solid #4a4d63;
}
.postcontent > footer * {
  margin: 0;
}
.postcontent * + .bodyitem .user {
  border-block-start: 0.1em solid #4a4d63;
}
.postcontent .rounds {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 0.6em;
}
.postcontent .rounds img {
  display: block;
  font-size: 0.75em;
}
.postcontent .rounds a:is(:hover, :focus-within) {
  text-decoration: none;
}
.postcontent .rounds a:is(:hover, :focus-within) img {
  box-shadow: 0 0 0.2em 0.1em rgba(242, 243, 243, 0.5);
}
.postcontent .rounds a:is(:hover, :focus-within) i {
  box-shadow: inset 0 0 0.2em 0.1em rgba(56, 180, 254, 0.75), 0 0 0.2em 0.1em rgba(242, 243, 243, 0.1);
}
.postcontent .rounds i {
  border: 1px solid #38b4fe;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.6em;
  height: 2.6em;
}
.postcontent .rounds i::before {
  font-size: 1.8em;
}

#pinnedpost {
  position: absolute;
  top: calc(100% - 0.65em);
  right: 0.3em;
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 0.2em;
  border-radius: 100%;
  background: linear-gradient(to bottom right, #64bbfe, #017afb, #0040c9);
  box-shadow: -1px 0 2px rgba(0, 0, 0, 0.5), inset 1px 1px 2px rgba(100, 187, 254, 0.2);
}

.customlike {
  position: relative;
}

.like_button, .like_button iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.like_button.liked ~ .to-like,
.like_button:not(.liked) ~ .to-unlike {
  display: none;
}

footer .tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.1em 0.6em;
  justify-content: center;
  word-break: break-word;
}
footer .tags .notecount {
  font-weight: 600;
}

.filter {
  padding: 2em;
  text-align: center;
}
.filter p {
  margin: 0;
}
.filter .tags {
  margin: 1em;
}
.filter .tag {
  color: #38b4fe;
}
.filter button {
  font-size: 1.2em;
  text-transform: uppercase;
}

.bodyitem .user {
  border-block-end: 0.1em solid rgba(74, 77, 99, 0.25);
}
.bodyitem .user.deactivated .name::after {
  content: "(deactivated)";
  margin-inline-start: 0.2em;
  opacity: 0.8;
  color: #a5a6a7;
}
.bodyitem .user a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5em 1em;
  gap: 0.5em;
  font-size: 1.2em;
}
.bodyitem .user a .avatar {
  flex-shrink: 0;
  font-size: 0.75em;
}
.bodyitem .user .badges {
  --size: 0.875rem;
  flex-grow: 1;
  display: flex;
  align-items: center;
  gap: 0.15rem;
  height: var(--size);
}
.bodyitem .user .badges span {
  position: relative;
  flex-grow: 1;
  max-width: var(--size);
  height: var(--size);
}
.bodyitem .user .badges span:not(:last-child) img {
  position: absolute;
  left: 0;
}
.bodyitem .user .badges img {
  width: var(--size);
  height: var(--size);
  max-width: unset;
  filter: drop-shadow(0 0 0.1em rgba(242, 243, 243, 0.5));
  display: block;
}
.bodyitem .ask {
  margin-block-start: 1rem;
  margin-inline: 0.5rem;
  border: 0.1em solid #38b4fe;
  padding-inline: 1em;
}
.bodyitem .ask:last-child {
  margin-block-end: 1rem;
}
.bodyitem .ask .user a {
  gap: 0.2em;
  text-decoration: none;
}
.bodyitem .ask .user a :first-child {
  margin-inline-end: 0.3em;
}
.bodyitem .ask .user a :last-child {
  color: #f2f3f3;
}
.bodyitem .ask .user a:is(:hover, :focus) .name {
  -webkit-text-decoration: solid underline;
          text-decoration: solid underline;
}

.bodyitemcontent {
  padding-block: 1rem;
}
.bodyitemcontent > :first-child {
  margin-block-start: 0 !important;
}
.bodyitemcontent > * {
  margin-block: 1rem;
}
.bodyitemcontent > :last-child {
  margin-block-end: 0 !important;
}
.bodyitemcontent .heading2 {
  font-weight: 600;
  font-size: 1.4em;
}
.bodyitemcontent a:not([class*=button]) {
  color: #13dd67;
  text-underline-offset: 0.2em;
}
.bodyitemcontent a:not([class*=button]):not(:hover, :focus) {
  text-decoration: none;
}
.bodyitemcontent a.readmore {
  display: block;
  max-width: 10em;
  font-size: 1.2em;
  text-transform: uppercase;
  margin-inline: auto;
}
.bodyitemcontent hr.readmore {
  border: none;
  border-block-start: 0.1em dotted #4a4d63;
  max-width: 60%;
  position: relative;
  margin-block: 1.5em;
}
.bodyitemcontent hr.readmore::after {
  line-height: 1;
  position: absolute;
  top: -1.1em;
  left: 50%;
  transform: translateX(-50%);
  background-color: #0d1a32;
  padding: 0.5em;
  text-transform: lowercase;
  font-style: italic;
  color: #4a4d63;
}

.postcontent .body .heading1 {
  font-weight: 600;
  font-size: 1.75em;
}
.postcontent .body .heading1 a:not([class*=button]) {
  color: #13dd67;
  text-underline-offset: 0.2em;
}
.postcontent .body .heading1 a:not([class*=button]):not(:hover, :focus) {
  text-decoration: none;
}
.postcontent .body .npf-link-block {
  border: 0.1em solid #13dd67;
  border-radius: 0;
  margin-inline: 0.5em;
}
.postcontent .body .npf-link-block a {
  color: #13dd67;
}
.postcontent .body .npf-link-block .poster {
  border-block-end: 0.1em solid #13dd67;
}
.postcontent .body .npf-link-block .poster::before {
  opacity: 0.6;
}
.postcontent .body .npf_indented {
  margin-inline-start: 0.95em;
  padding-inline-start: 0.95em;
  border-inline-start: 0.1em solid #38b4fe;
}
.postcontent .body img {
  max-width: 100%;
  height: auto;
  display: block;
}
.postcontent .body figure {
  margin-inline: 0;
}
.postcontent .body .row {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  gap: min(0.2em, 1vw);
  margin-block: min(0.2em, 1vw);
}
.postcontent .body .row figure {
  margin: 0;
  display: flex;
  flex-direction: column;
}
.postcontent .body .row img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}
.postcontent .body .video, .postcontent .body iframe {
  width: 100%;
  min-height: 20vh;
  max-height: 65vh;
  margin-inline: auto;
  display: block;
}
.postcontent .body iframe {
  margin-block: 0;
}

.audiowrapper {
  background-color: var(--accent);
  color: #f2f3f3;
  display: flex;
  flex-direction: column;
}
.audiowrapper .top {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  padding: 1em 2em;
}
.audiowrapper .hasart {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.audiowrapper .hasart .top {
  -webkit-backdrop-filter: blur(1em);
          backdrop-filter: blur(1em);
  background-color: rgba(0, 0, 0, 0.6);
}
.audiowrapper .albumart {
  max-width: 5em !important;
  max-height: 5em;
  border-radius: 100%;
}
.audiowrapper .textinfo {
  display: flex;
  flex-direction: column;
  line-height: 1;
  align-self: center;
  gap: 0.4em;
}
.audiowrapper .textinfo:empty {
  display: none;
}
.audiowrapper .trackname {
  font-weight: 700;
}
.audiowrapper .artist, .audiowrapper .album {
  font-size: 0.875em;
}
.audiowrapper .bottom {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  padding: 0.75em 1em;
  gap: 1em;
}
.audiowrapper .bottom .total.time {
  justify-self: end;
}
.audiowrapper .buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 1;
  gap: 0.5em;
}
.audiowrapper .buttons button {
  width: 2em;
  height: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font: inherit;
  font-size: 1.25em;
  border: none;
  border-radius: 100%;
  background-color: transparent;
  color: inherit;
}
.audiowrapper .buttons button:hover {
  color: rgba(242, 243, 243, 0.5);
  text-shadow: 0 0 #13dd67;
}
.audiowrapper .buttons button.active {
  color: #13dd67;
}
.audiowrapper .buttons .playpause {
  background-color: #f2f3f3;
  color: var(--accent);
  margin-inline: 0.25em;
}
.audiowrapper .buttons .playpause:hover {
  color: var(--accent);
  text-shadow: unset;
  background-color: #13dd67;
  background-image: linear-gradient(rgba(242, 243, 243, 0.75), rgba(242, 243, 243, 0.75));
}
.audiowrapper audio,
.audiowrapper audio.playing ~ .bottom .buttons .play,
.audiowrapper audio:not(.playing) ~ .bottom .buttons .pause,
.audiowrapper .volume.active .mute,
.audiowrapper .volume:not(.active) .unmute,
.audiowrapper .loop.active .repeat,
.audiowrapper .loop:not(.active) .unrepeat {
  display: none;
}

.seekbar {
  width: 100%;
  height: 0.5em;
  margin: 0;
  background-color: rgba(242, 243, 243, 0.15);
  -webkit-appearance: none;
  position: relative;
}
.seekbar:focus {
  outline: none;
}
.seekbar::before {
  content: "";
  background-color: #13dd67;
  display: block;
  height: 100%;
  width: var(--progress-width);
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}
.seekbar::-webkit-slider-runnable-track {
  background: transparent;
  border: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.seekbar::-webkit-slider-thumb {
  width: 0px;
  height: 0px;
  border: 0;
  cursor: pointer;
  -webkit-appearance: none;
}
.seekbar::-moz-range-track {
  background: transparent;
  border: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.seekbar::-moz-range-thumb {
  width: 0px;
  height: 0px;
  border: 0;
  cursor: pointer;
}
.seekbar::-moz-range-progress {
  background-color: #13dd67;
  height: 100%;
}
.seekbar::-ms-track {
  background: transparent;
  border-color: transparent;
  border-width: 0 0;
  color: transparent;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.seekbar::-ms-fill-lower {
  background: #13dd67;
  border: 0;
}
.seekbar::-ms-fill-upper {
  background: transparent;
  border: 0;
}
.seekbar::-ms-thumb {
  width: 0px;
  height: 0px;
  border: 0;
  cursor: pointer;
  margin-top: 0px;
}

.mediawrapper {
  padding-block: 1rem;
}
.mediawrapper > :first-child {
  margin-block-start: 0 !important;
}
.mediawrapper > :last-child {
  margin-block-end: 0 !important;
}
.mediawrapper .heading1 {
  text-align: center;
}

#pfoot {
  height: 8.5em;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  display: grid;
  grid-template-columns: 23.5em 1fr 23.5em;
}

#pagination {
  grid-column: 1;
  background-color: #0d1a32;
  color: #f2f3f3;
  padding: 0.5em 0.6em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
#pagination .text {
  margin: 0;
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.25em;
}
#pagination .pagecount {
  text-transform: uppercase;
}
#pagination .pagelinks {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.6em;
}
#pagination a {
  display: block;
  font-size: 1.3em;
  padding-block: 0.95em;
}
#pagination a:not([href]), #pagination a:not([href]):is(:hover, :focus, :active) {
  background-color: #54595d;
  cursor: unset;
}

#pages {
  grid-column: 2;
  display: flex;
  gap: 0.25em;
  max-height: 8.5em;
  padding: 0.5em;
  --max-card-width: 5.5em;
}
#pages a {
  flex-grow: 1;
  min-width: 1em;
  transition-property: max-width, filter;
  transition-duration: 0.2s;
  filter: drop-shadow(0 0 0.25em rgba(242, 243, 243, 0.75));
  max-width: var(--max-card-width);
  position: relative;
}
#pages a:not(:hover) {
  filter: drop-shadow(-0.1em 0 0.25em rgba(242, 243, 243, 0.25));
}
#pages a:not(:hover):not(:last-child) {
  max-width: max(1em, var(--max-card-width) - 1em);
}
#pages a:not(:hover):not(:last-child) img, #pages a:not(:hover):not(:last-child) svg {
  position: absolute;
  left: 0;
  top: 0;
}
#pages a.current-page::after {
  color: #f2f3f3;
  position: absolute;
  top: -0.1em;
  left: -0.15em;
  content: "\eba6";
  font-family: "Phosphor-Fill" !important;
  font-size: 0.6em;
  display: block;
  width: 1em;
  height: 1em;
  padding: 0.3em;
  border-radius: 100%;
  background: linear-gradient(to bottom right, #64bbfe, #017afb, #0040c9);
  box-shadow: -1px 0 2px rgba(0, 0, 0, 0.5), inset 1px 1px 2px rgba(100, 187, 254, 0.2);
}
#pages img, #pages svg {
  height: 100%;
  width: auto;
  max-width: var(--max-card-width);
  -o-object-fit: contain;
     object-fit: contain;
}

#footright {
  grid-column: 3;
  display: flex;
  flex-direction: column;
  color: #f2f3f3;
}
#footright .text {
  margin: 0;
  padding: 1em;
  line-height: 1;
  background-color: #1b1517;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
}
#footright svg {
  width: 1.25em;
  height: 1.25em;
}

#home {
  display: block;
  flex-grow: 1;
  text-transform: uppercase;
  font-size: 2.75em;
  padding-block: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 70em) {
  #userprofile .cards {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }
  #userprofile .cards .card:has(+ .card) {
    margin-inline-end: 0.6em;
  }
  #userprofile .cards .card + .card {
    padding-inline-start: 0.6em;
  }
  #userprofile .cards .card + .card::before {
    content: "";
    position: absolute;
    left: -0.05em;
    top: 0.5em;
    height: calc(100% - 1em);
    border-inline-start: var(--border);
  }
  #desc {
    display: grid;
    grid-template-columns: 14vw 1fr;
  }
  #desc .title {
    padding-inline-end: 0.75em;
    border-inline-end: var(--border);
    margin-inline-end: 0.75em;
  }
}
@media (max-width: 70em) {
  #userprofile .cards .card + .card::before {
    content: "";
    position: absolute;
    top: -0.05em;
    left: 0.5em;
    width: calc(100% - 1em);
    border-block-start: var(--border);
  }
  #desc .title {
    padding-block-end: 0.75em;
    border-block-end: var(--border);
    margin-block-end: 0.75em;
  }
}