body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #017afb;
  font-family: "Source Sans 3", sans-serif;
}

.visuallyhidden, #skip:not(:focus-within) {
  position: fixed;
  font-size: 1px;
  top: -100rem;
}

#skip {
  position: absolute;
  top: 0.5em;
  left: 50%;
  transform: translateX(-50%);
}

.button-basic, .button-solid, .button-outline {
  color: #f2f3f3;
  padding: 0.75em 1em;
  line-height: 1;
  text-decoration: none;
}

.button-outline {
  background-color: #38b4fe;
  border: 0.1875em solid #015e97;
}
.button-outline:active {
  background-color: #063b5d;
  border-color: #015e97;
}

.button-solid {
  background-color: #38b4fe;
  border: none;
}
.button-solid:hover, .button-solid:focus {
  background-color: #5fb1e0;
}
.button-solid:active {
  background-color: #7bc3eb;
}

#phead {
  height: 4em;
  background-color: #0d1a32;
  display: flex;
}

.avatar {
  width: 3.25em;
  height: 3.25em;
  border-width: 0.15em;
  border-style: solid;
  border-color: #f2f3f3;
  border-radius: 100%;
}

#userbadge {
  flex-grow: 1;
  display: flex;
  gap: 0.6em;
  padding: 0 1.3em;
  align-items: center;
  border: none;
  border-radius: 0;
  background: none;
  cursor: pointer;
  text-align: start;
}
#userbadge:hover, #userbadge:focus {
  background-color: #363650;
}
#userbadge:active {
  background-color: #5f5f6d;
}
#userbadge hgroup {
  font-size: 1.3em;
  line-height: 1.2;
}
#userbadge h1 {
  font-weight: normal;
  font-size: 1.1em;
  margin: 0;
  color: #f2f3f3;
}
#userbadge p {
  margin: 0;
  color: #a5a6a7;
}
#userbadge p.bronze {
  color: #fe9500;
}
#userbadge p.silver {
  color: #c8cde1;
}
#userbadge p.gold {
  color: #fee822;
}
#userbadge p.platinum {
  color: #5cedfd;
}
#userbadge p.master {
  color: #df81ff;
}

#resourcenav {
  background-color: #172039;
  display: flex;
  padding-block: 0.75em;
}
#resourcenav:not(.empty) {
  padding-inline: 1.5em 0.6em;
}
#resourcenav a {
  height: 100%;
  display: inline-flex;
  align-items: center;
  padding: 0 1.6em;
  text-decoration: none;
  color: #f2f3f3;
  background-color: #0d1a32;
  font-size: 1.2em;
}
#resourcenav a + a {
  margin-inline-start: 0.6em;
}
#resourcenav a:hover, #resourcenav a:focus {
  background-color: #363650;
}
#resourcenav a:active {
  background-color: #5f5f6d;
}

#moreinfo {
  display: contents;
}
#moreinfo summary {
  width: 5.75vw;
  min-width: 3.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  background-color: #172039;
  cursor: pointer;
}
#moreinfo summary:hover, #moreinfo summary:focus {
  background-color: #363650;
}
#moreinfo summary:active {
  background-color: #5f5f6d;
}
#moreinfo summary::before {
  box-sizing: content-box;
  border-block: medium solid;
  height: 0.5em;
}
#moreinfo summary::after {
  border-block-end: medium solid;
}
#moreinfo summary::before, #moreinfo summary::after {
  content: "";
  display: block;
  width: 2em;
  border-color: #4A4D63;
}
#moreinfo .contents {
  position: fixed;
  z-index: 1;
  top: 4em;
  right: 0;
}
#moreinfo .contents .contentitem {
  display: block;
  background-color: #0d1a32;
  color: #f2f3f3;
  text-decoration: none;
  padding: 0.75em 1em;
  font-size: 1.1em;
  text-align: center;
}
#moreinfo .contents a.contentitem:hover, #moreinfo .contents a.contentitem:focus {
  background-color: #363650;
}
#moreinfo .contents a.contentitem:active {
  background-color: #5f5f6d;
}

main {
  flex-grow: 1;
  background-image: var(--bg-img);
  background-size: cover;
  background-position: var(--bg-position, center);
}

#pfoot {
  background-color: #3c4c76;
}