body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #017afb;
  font-family: "Source Sans 3", sans-serif;
}

.visuallyhidden, #skip:not(:focus-within, :focus) {
  position: fixed;
  font-size: 1px;
  top: -100rem;
}

#skip {
  position: absolute;
  top: 0.5em;
  left: 50%;
  transform: translateX(-50%);
}

.button-basic, .button-solid, .button-outline {
  color: #f2f3f3;
  padding: 0.75em 1em;
  line-height: 1;
  text-decoration: none;
  cursor: pointer;
}

.button-outline {
  background-color: #015e97;
  border: 0.1875em solid #38b4fe;
}
.button-outline:active {
  background-color: #063b5d;
  border-color: #015e97;
}

.button-solid {
  background-color: #38b4fe;
  border: none;
}
.button-solid:hover, .button-solid:focus {
  background-color: #5fb1e0;
}
.button-solid:active {
  background-color: #7bc3eb;
}

.bronze {
  color: #fe9500 !important;
}

.silver {
  color: #c8cde1 !important;
}

.gold {
  color: #fee822 !important;
}

.platinum {
  color: #5cedfd !important;
}

.master {
  color: #df81ff !important;
}

#phead {
  height: 4em;
  background-color: #0d1a32;
  display: flex;
}

.avatar {
  width: 3.25em;
  height: 3.25em;
  border-width: 0.15em;
  border-style: solid;
  border-color: #f2f3f3;
  border-radius: 100%;
}

#userbadge {
  flex-grow: 1;
  display: flex;
  gap: 0.6em;
  padding: 0 1.3em;
  align-items: center;
  border: none;
  border-radius: 0;
  background: none;
  cursor: pointer;
  text-align: start;
}
#userbadge:hover, #userbadge:focus {
  background-color: #363650;
}
#userbadge:active {
  background-color: #5f5f6d;
}
#userbadge hgroup {
  font-size: 1.3em;
  line-height: 1.2;
}
#userbadge h1 {
  font-weight: normal;
  font-size: 1.1em;
  margin: 0;
  color: #f2f3f3;
}
#userbadge p {
  margin: 0;
  color: #a5a6a7;
}

#userprofile {
  width: 80vw;
  border: none;
  padding: 1em 1.25em;
  background-color: #0d1a32;
  color: #f2f3f3;
}
#userprofile::backdrop {
  background-color: #017afb;
}
#userprofile a {
  color: #38b4fe;
  text-underline-offset: 0.1em;
}
#userprofile dd {
  margin-inline-start: 0;
}
#userprofile header {
  border-block-end: 0.1em solid #4A4D63;
  --closebtn-size: 4.5em;
  display: grid;
  grid-template-columns: var(--closebtn-size) 1fr var(--closebtn-size);
  align-items: center;
  padding-block: 0 0.25em;
}
#userprofile header h2 {
  margin: 0;
  line-height: 1;
  grid-column: 2;
  text-align: center;
  font-size: 2.9em;
  font-weight: normal;
}
#userprofile header .closeprofile {
  grid-column: 3;
  border: none;
  background: none;
  color: #f2f3f3;
  cursor: pointer;
}
#userprofile header .closeprofile:hover, #userprofile header .closeprofile:focus {
  color: #a5a6a7;
}
#userprofile header .closeprofile:active {
  color: #4A4D63;
}
#userprofile header .closeprofile svg {
  height: 100%;
  width: 100%;
}
#userprofile .profilesection {
  margin: 1em;
  background-color: #22272b;
  --border: 0.1em solid rgba(242, 243, 243, 0.25);
}
#userprofile #about {
  background-color: var(--profile-accent);
}
#userprofile .cards {
  display: grid;
  padding: 0.5em 1em;
}
#userprofile .cards p {
  margin: 0;
}
#userprofile .cards .card {
  font-size: 1.4em;
  color: rgba(242, 243, 243, 0.9);
  position: relative;
}
#userprofile footer {
  border-block-start: 0.1em solid #4A4D63;
  padding-block-start: 1em;
}
#userprofile footer .closeprofile {
  display: block;
  margin-inline: auto;
  padding: 1em 9vw;
  font-size: 1.6em;
}

#profilename {
  display: grid;
  grid-template-columns: auto 1fr;
  -moz-column-gap: 0.6em;
       column-gap: 0.6em;
  align-items: center;
  padding-block: 1em;
}
#profilename .avatar {
  grid-row: 1/span 2;
}

#profilestatus, #profilefavcard {
  padding-block: 0.75em;
  display: grid;
  grid-template-rows: auto 1fr;
  row-gap: 0.8em;
}
#profilestatus .title, #profilefavcard .title {
  line-height: 1;
}
#profilestatus .text, #profilefavcard .text {
  font-size: 0.8em;
  color: #a5a6a7;
}

#profilefavcard {
  padding-block: 0.5em;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto 1fr;
  align-items: center;
}
#profilefavcard .title {
  padding-block-start: 0.25em;
}
#profilefavcard .text {
  padding-block-end: 0.3125em;
}
#profilefavcard img {
  grid-row: 1/span 2;
  grid-column: 2;
  max-height: 4.35em;
  max-width: 6em;
  -o-object-fit: contain;
     object-fit: contain;
}

#profilebanner {
  display: block;
  width: 100vw;
  height: 42.8571428571vw;
  -o-object-fit: cover;
     object-fit: cover;
}

#desc {
  min-height: 30vh;
  padding: 1em;
  font-size: 1.4em;
}
#desc .title {
  line-height: 1;
  margin: 0;
}
#desc .text {
  font-size: 0.8em;
  color: #a5a6a7;
}
#desc .text > * {
  margin-block: 0;
}
#desc .text > * + * {
  margin-block-start: 0.6em;
}

#groupmembers {
  padding: 0.5em;
  font-size: 1.15em;
}
#groupmembers h3 {
  margin: 0 0 0.6em;
  font-size: 1em;
  font-weight: normal;
  color: #38b4fe;
}
#groupmembers a {
  display: block;
  text-decoration: none;
}
#groupmembers a:hover, #groupmembers a:focus {
  background-color: rgba(84, 89, 93, 0.5);
}
#groupmembers a:active {
  background-color: #54595d;
}
#groupmembers a + a {
  border-block-start: var(--border);
}
#groupmembers figure {
  margin: 0;
  padding: 0.6em;
  display: grid;
  grid-template-columns: 2.5em 1fr auto;
  gap: 0 0.5em;
  align-items: center;
}
#groupmembers img {
  border: 0.1em solid #54595d;
  background-color: #54595d;
  grid-row: 1/span 2;
}
#groupmembers figcaption {
  display: contents;
  line-height: 1;
}
#groupmembers .name {
  font-size: 0.9em;
  color: #f2f3f3;
}
#groupmembers svg {
  grid-column: 3;
  grid-row: 1/span 2;
  color: #a5a6a7;
}

#resourcenav {
  background-color: #172039;
  display: flex;
  padding-block: 0.75em;
}
#resourcenav:not(.empty) {
  padding-inline: 1.5em 0.6em;
}
#resourcenav a {
  height: 100%;
  min-width: 9em;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.6em;
  text-decoration: none;
  color: #f2f3f3;
  background-color: #0d1a32;
  font-size: 1.2em;
}
#resourcenav a + a {
  margin-inline-start: 0.6em;
}
#resourcenav a:hover, #resourcenav a:focus {
  background-color: #363650;
}
#resourcenav a:active {
  background-color: #5f5f6d;
}

#moreinfo {
  display: contents;
}
#moreinfo summary {
  width: 5.75vw;
  min-width: 3.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  background-color: #172039;
  cursor: pointer;
}
#moreinfo summary:hover, #moreinfo summary:focus {
  background-color: #363650;
}
#moreinfo summary:active {
  background-color: #5f5f6d;
}
#moreinfo summary::before {
  box-sizing: content-box;
  border-block: medium solid;
  height: 0.5em;
}
#moreinfo summary::after {
  border-block-end: medium solid;
}
#moreinfo summary::before, #moreinfo summary::after {
  content: "";
  display: block;
  width: 2em;
  border-color: #4A4D63;
}
#moreinfo .contents {
  position: fixed;
  z-index: 1;
  top: 4em;
  right: 0;
}
#moreinfo .contents .contentitem {
  display: block;
  background-color: #0d1a32;
  color: #f2f3f3;
  text-decoration: none;
  padding: 0.75em 1em;
  font-size: 1.1em;
  text-align: center;
}
#moreinfo .contents a.contentitem:hover, #moreinfo .contents a.contentitem:focus {
  background-color: #363650;
}
#moreinfo .contents a.contentitem:active {
  background-color: #5f5f6d;
}

main {
  flex-grow: 1;
  background-image: var(--bg-img);
  background-size: cover;
  background-position: var(--bg-position, center);
}

#pfoot {
  background-color: #3c4c76;
}

@media (min-width: 70em) {
  #userprofile .cards {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }
  #userprofile .cards .card:has(+ .card) {
    margin-inline-end: 0.6em;
  }
  #userprofile .cards .card + .card {
    padding-inline-start: 0.6em;
  }
  #userprofile .cards .card + .card::before {
    content: "";
    position: absolute;
    left: -0.05em;
    top: 0.5em;
    height: calc(100% - 1em);
    border-inline-start: var(--border);
  }
  #desc {
    display: grid;
    grid-template-columns: 14vw 1fr;
  }
  #desc .title {
    padding-inline-end: 0.75em;
    border-inline-end: var(--border);
    margin-inline-end: 0.75em;
  }
}
@media (max-width: 70em) {
  #userprofile .cards .card + .card::before {
    content: "";
    position: absolute;
    top: -0.05em;
    left: 0.5em;
    width: calc(100% - 1em);
    border-block-start: var(--border);
  }
  #desc .title {
    padding-block-end: 0.75em;
    border-block-end: var(--border);
    margin-block-end: 0.75em;
  }
}