// #region COLORS
// Basic colors
$ssjyp-blue: #017afb;
$white: #f2f3f3;
$lightgray: #a5a6a7;
$darkgray: #4A4D63;
$darkblue: #0d1a32;
$darkblue-variant: #172039;
$darkblue-hover: #363650;
$darkblue-active: #5f5f6d;
$mediumblue: #015e97;
$mediumblue-darken: #063b5d;
$lightblue: #38b4fe;
$lightblue-lighten-1: #5fb1e0;
$lightblue-lighten-2: #7bc3eb;
$lightblue-darken: #286381;
// League colors
$bronze: #fe9500;
$silver: #c8cde1;
$gold: #fee822;
$platinum: #5cedfd;
$master: #df81ff;
// #endregion

// #region GLOBAL STYLES
body {
	height: 100vh;
	display: flex;
	flex-direction: column;
	background-color: $ssjyp-blue;
	font-family: "Source Sans 3", sans-serif;
}
.visually-hidden, #skip:not(:focus-within) {
	position: fixed;
	font-size: 1px;
	top: -100rem;
}
#skip {
	position: absolute;
	top: 0.5em;
	left: 50%;
	transform: translateX(-50%);
}
// Buttons
.button-basic {
	color: $white;
	padding: 0.75em 1em;
	line-height: 1;
	text-decoration: none;
}
.button-outline {
	@extend .button-basic;
	background-color: $lightblue;
	border: 0.1875em solid $mediumblue;

	&:active {
		background-color: $mediumblue-darken;
		border-color: $mediumblue;
	}
}
.button-solid {
	@extend .button-basic;
	background-color: $lightblue;
	border: none;

	&:hover, &:focus { background-color: $lightblue-lighten-1 }
	&:active { background-color: $lightblue-lighten-2 }
}
// #endregion



// #region HEADER
$header-height: 4em;
#phead {
	height: $header-height;
	background-color: $darkblue;
	display: flex;
}

.avatar {
	$size: 3.25em;
	width: $size;
	height: $size;
	border: {
		width: 0.15em;
		style: solid;
		color: $white;
		radius: 100%;
	}
}

#userbadge {
	flex-grow: 1;
	display: flex;
	gap: 0.6em;
	padding: 0 1.3em;
	align-items: center;
	border: none;
	border-radius: 0;
	background: none;
	cursor: pointer;
	text-align: start;

	&:hover, &:focus { background-color: $darkblue-hover }
	&:active { background-color: $darkblue-active }

	hgroup {
		font-size: 1.3em;
		line-height: 1.2;
	}

	// Username
	h1 {
		font: {
			weight: normal;
			size: 1.1em;
		}
		margin: 0;
		color: $white;
	}

	// Blog title
	p {
		margin: 0;
		// "League unregistered" by default
		color: $lightgray;

		&.bronze { color: $bronze }
		&.silver { color: $silver }
		&.gold { color: $gold }
		&.platinum { color: $platinum }
		&.master { color: $master }
	}
}

#resourcenav {
	background-color: $darkblue-variant;
	display: flex;
	padding-block: 0.75em;
	&:not(.empty) { padding-inline: 1.5em 0.6em }

	a {
		height: 100%;
		display: inline-flex;
		align-items: center;
		padding: 0 1.6em;
		text-decoration: none;
		color: $white;
		background-color: $darkblue;
		font-size: 1.2em;

		& + a { margin-inline-start: 0.6em }

		&:hover, &:focus { background-color: $darkblue-hover }
		&:active { background-color: $darkblue-active }
	}
}

#moreinfo {
	display: contents;

	summary {
		width: 5.75vw;
		min-width: 3.5em;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		$spacing: 0.5em;
		gap: $spacing;
		background-color: $darkblue-variant;
		cursor: pointer;

		&:hover, &:focus { background-color: $darkblue-hover }
		&:active { background-color: $darkblue-active }

		&::before {
			box-sizing: content-box;
			border-block: medium solid;
			height: $spacing;
		}
		&::after { border-block-end: medium solid }
		&::before, &::after {
			content: "";
			display: block;
			width: 2em;
			border-color: $darkgray;
		}
	}

	.contents {
		position: fixed;
		z-index: 1;
		top: $header-height;
		right: 0;

		.contentitem {
			display: block;
			background-color: $darkblue;
			color: $white;
			text-decoration: none;
			padding: 0.75em 1em;
			font-size: 1.1em;
			text-align: center;
		}

		a.contentitem:hover, a.contentitem:focus { background-color: $darkblue-hover }
		a.contentitem:active { background-color: $darkblue-active }
	}
}
// #endregion



// #region CENTER
main {
	flex-grow: 1;
	background: {
		image: var(--bg-img);
		size: cover;
		position: var(--bg-position, center);
	};
}
// #endregion



// #region FOOTER
#pfoot {
	background-color: #3c4c76;
}
// #endregion