// #region GLOBAL VARIABLES
// Basic colors
$ssjyp-blue:			#017afb;
$white:					#f2f3f3;
$lightgray:				#a5a6a7;
$darkgray:				#54595d;
$darkgrayblue:			#4A4D63;
$darkestgray:			#22272b;
$black:					#1b1517;
$darkblue:				#0d1a32;
$darkblue-variant:		#172039;
$darkblue-hover:		#363650;
$darkblue-active:		#5f5f6d;
$mediumblue:			#015e97;
$mediumblue-darken:		#063b5d;
$lightblue:				#38b4fe;
$lightblue-lighten-1:	#5fb1e0;
$lightblue-lighten-2:	#7bc3eb;
$lightblue-darken:		#286381;
// Footer sizing
$footer-height: 8.5em;
// #endregion

// #region GLOBAL STYLES
body {
	height: 100vh;
	display: flex;
	flex-direction: column;
	background-color: $ssjyp-blue;
	font-family: "Source Sans 3", sans-serif;
}
.visuallyhidden, #skip:not(:focus-within, :focus) {
	position: fixed;
	font-size: 1px;
	top: -100rem;
}
#skip {
	position: absolute;
	top: 0.5em;
	left: 50%;
	transform: translateX(-50%);
}
// Buttons
.button-basic {
	color: $white;
	padding: 0.75em 1em;
	line-height: 1;
	text-decoration: none;
	cursor: pointer;
	text-align: center;
}
button[disabled] { cursor: initial }
.button-outline {
	@extend .button-basic;
	background-color: $mediumblue;
	border: 0.1875em solid $lightblue;

	&:not([disabled]):active {
		background-color: $mediumblue-darken;
		border-color: $mediumblue;
	}
}
.button-solid-blue {
	@extend .button-basic;
	background-color: $lightblue;
	border: none;

	&:not([disabled]) {
		&:hover, &:focus { background-color: $lightblue-lighten-1 }
		&:active { background-color: $lightblue-lighten-2 }
	}
}
.button-solid-gray {
	@extend .button-basic;
	background-color: $darkgray;
	border: none;

	&:not([disabled]) {
		&:hover, &:focus { background-color: $darkblue-active }
		&:active { background-color: $lightgray }
	}
}
// Weekly league colors
.bronze		{ color: #fe9500 !important }
.silver		{ color: #c8cde1 !important }
.gold		{ color: #fee822 !important }
.platinum	{ color: #5cedfd !important }
.master		{ color: #df81ff !important }
// Links
@mixin bluelinks {
	a:not([class*=button]) {
		color: $lightblue;
		text-underline-offset: 0.1em;
	}
}
// Checkmark icon
@mixin checkmark($vertical, $horizontal) {
	// Position
	position: absolute;
	#{$vertical}: -0.1em;
	#{$horizontal}: -0.15em;
	// Content
	content: "\eba6";	// check
	font-family: "Phosphor-Fill" !important;
	font-size: 0.6em;
	// Display
	display: block;
	$size: 1em;
	width: $size;
	height: $size;
	padding: 0.3em;
	border-radius: 100%;
	background: linear-gradient(
		to bottom right,
		adjust-color($color: $ssjyp-blue, $hue: -5, $lightness: +20%),
		$ssjyp-blue,
		adjust-color($color: $ssjyp-blue, $hue: +10, $lightness: -10%, $saturation: +30%)
	);
	box-shadow:
		-1px 0 2px rgba(0, 0, 0, 0.5),
		inset 1px 1px 2px adjust-color($color: $ssjyp-blue, $hue: -5, $lightness: +20%, $alpha: -0.8);
}
// Modals
.modal {
	width: 80vw;
	border: none;
	padding: 1em 1.25em;
	background-color: $darkblue;
	color: $white;

	&::backdrop { background-color: $ssjyp-blue }

	@include bluelinks();

	header {
		border-block-end: 0.1em solid $darkgrayblue;
		--closebtn-size: 4.5em;
		display: grid;
		grid-template-columns: minmax(0, var(--closebtn-size)) 1fr var(--closebtn-size);
		align-items: center;
		padding-block: 0 0.25em;

		h2 {
			// Reset
			margin: 0;
			line-height: 1;
			// Style
			grid-column: 2;
			text-align: center;
			font: {
				size: 2.9em;
				weight: normal;
			}
		}

		.closemodal {
			grid-column: 3;
			border: none;
			background: none;
			color: $white;
			cursor: pointer;

			&:hover, &:focus { color: $lightgray }
			&:active { color: $darkgrayblue }

			i { font-size: 4em }
		}
	}

	footer {
		border-block-start: 0.1em solid $darkgrayblue;
		padding-block-start: 1em;

		.closemodal {
			display: block;
			margin-inline: auto;
			padding: 1em 9vw;
			font-size: 1.6em;
		}
	}
}
// Tumblr controls
.tmblr-iframe--unified-controls {
	top: 5em !important;
	right: 1em !important;
}
// #endregion



// #region HEADER
$header-height: 4em;
#phead {
	height: $header-height;
	background-color: $darkblue;
	display: flex;
}

.avatar {
	$size: 3.25em;
	width: $size;
	height: $size;
	border: {
		width: 0.15em;
		style: solid;
		color: $white;
		radius: 100%;
	}
}

#userbadge {
	flex-grow: 1;
	display: flex;
	gap: 0.6em;
	padding: 0 1.3em;
	align-items: center;
	border: none;
	border-radius: 0;
	background: none;
	cursor: pointer;
	text-align: start;

	&:hover, &:focus { background-color: $darkblue-hover }
	&:active { background-color: $darkblue-active }

	.text {
		font-size: 1.3em;
		line-height: 1.2;
		* { margin: 0 }
	}

	.username {
		font: {
			weight: normal;
			size: 1.1em;
		}
		color: $white;
	}

	.league {	// Blog title
		color: $lightgray;	// "League unregistered" by default
	}
}

// #region Profile modal
#userprofile {
	dd { margin-inline-start: 0 }

	.profilesection {
		margin: 1em;
		background-color: $darkestgray;
		--border: 0.1em solid #{adjust-color($color: $white, $alpha: -0.75)};
	}

	#about { background-color: var(--profile-accent) }

	.cards {
		display: grid;
		padding: 0.5em 1em;

		p { margin: 0 }

		.card {
			font-size: 1.4em;
			color: adjust-color($white, $alpha: -0.1);
			position: relative;
		}
	}
}

#profilename {
	display: grid;
	grid-template-columns: auto 1fr;
	column-gap: 0.6em;
	align-items: center;
	padding-block: 1em;

	.avatar { grid-row: 1 / span 2 }
}

#profilestatus, #profilefavcard {
	padding-block: 0.75em;
	display: grid;
	grid-template-rows: auto 1fr;
	row-gap: 0.8em;

	.title { line-height: 1 }

	.text {
		font-size: 0.8em;
		color: $lightgray;
	}
}

#profilefavcard {
	padding-block: 0.5em;
	display: grid;
	grid-template-columns: 1fr auto;
	grid-template-rows: auto 1fr;
	align-items: center;

	.title	{ padding-block-start: 0.25em }
	.text	{ padding-block-end: 0.3125em }

	img {
		grid-row: 1 / span 2;
		grid-column: 2;
		max-height: 4.35em;
		max-width: 6em;
		object-fit: contain;
	}
}

#profilebanner {
	display: block;
	width: 100vw;
	height: calc((9/21) * 100vw);
	object-fit: cover;
	object-position: var(--profile-banner-position);
}

#desc {
	min-height: 30vh;
	padding: 1em;
	font-size: 1.4em;

	.title {
		line-height: 1;
		margin: 0;
	}

	.text {
		font-size: 0.8em;
		color: $lightgray;

		& > * {
			margin-block: 0;
			& + * { margin-block-start: 0.6em }
		}
	}
}

.weeklytop5 {
	padding: 0.5em;
	font-size: 1.15em;

	h3 {
		margin: 0 0 0.6em;
		font: {
			size: 1em;
			weight: normal;
		}
		color: $lightblue;
	}

	a {
		display: block;
		text-decoration: none;

		&:hover, &:focus { background-color: adjust-color($darkgray, $alpha: -0.5) }
		&:active { background-color: $darkgray }

		& + a { border-block-start: var(--border) }

		&[href] figure::after {
			content: "\e13a";	// caret-right
			font-family: "Phosphor" !important;
			color: $lightgray;
			font-size: 1.8em;
			display: block;
			grid-column: 3;
			grid-row: 1 / span 2;
		}
	}

	figure {
		margin: 0;
		padding: 0.6em;
		display: grid;
		grid-template-columns: auto 1fr auto;
		gap: 0 0.5em;
		align-items: center;
	}

	img, svg {
		color: $lightgray;
		$size: 2.5em;
		width: $size;
		height: $size;
		border: 0.1em solid $darkgray;
		background-color: $darkgray;
		grid-row: 1 / span 2;
	}

	figcaption {
		display: contents;
		line-height: 1;
	}

	.name {
		grid-column: 2;
		font-size: 0.9em;
		color: $white;
	}

	.score { grid-column: 2 }
}
// #endregion

#resourcenav {
	background-color: $darkblue-variant;
	display: flex;
	padding-block: 0.75em;
	&:is(.ask, .submit, .random, .archive):not(.empty) { padding-inline: 1.5em 0.6em }

	a {
		height: 100%;
		min-width: 9em;
		display: inline-flex;
		align-items: center;
		justify-content: space-between;
		padding: 0 0.6em;
		text-decoration: none;
		color: $white;
		background-color: $darkblue;
		font-size: 1.2em;

		& + a { margin-inline-start: 0.6em }

		&:hover, &:focus { background-color: $darkblue-hover }
		&:active { background-color: $darkblue-active }

		i[class^="ph"] { font-size: 1.65em }

		&.current-page {
			position: relative;
			&::after { @include checkmark($vertical: top, $horizontal: left) }
		}
	}
}

#moreinfo {
	display: contents;

	summary {
		width: 5.75vw;
		min-width: 3.5em;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		$spacing: 0.5em;
		gap: $spacing;
		background-color: $darkblue-variant;
		cursor: pointer;

		&:hover, &:focus { background-color: $darkblue-hover }
		&:active { background-color: $darkblue-active }

		&::before {
			box-sizing: content-box;
			border-block: medium solid;
			height: $spacing;
		}
		&::after { border-block-end: medium solid }
		&::before, &::after {
			content: "";
			display: block;
			width: 2em;
			border-color: $darkgrayblue;
		}
	}

	.contents {
		position: fixed;
		z-index: 101;
		top: $header-height;
		right: 0;
	}

	.contentitem {
		display: block;
		background-color: $darkblue;
		color: $white;
		text-decoration: none;
		padding: 0.75em 1em;
		font-size: 1.1em;
		text-align: center;

		i { display: none }
	}

	a.contentitem:hover, a.contentitem:focus { background-color: $darkblue-hover }
	a.contentitem:active { background-color: $darkblue-active }
}
// #endregion



// #region CENTER
main {
	flex-grow: 1;
	background: {
		image: var(--bg-img);
		size: cover;
		position: var(--bg-position, center);
	};

	// Stretch posts container to fill center
	display: flex;
	flex-direction: column;

	// Space for footer (is overlaid on main, so need to leave room)
	padding-block-end: $footer-height;
}

// #region Main section: header
#mainhead {
	display: flex;
	padding: 1.5em 1.5em 0.75em;
	box-sizing: content-box;
	height: 2.35rem;
	gap: 1em;
}

#opensearch {
	border: none;
	box-shadow: 1px 1px $lightgray;
	background-color: white;
	color: $mediumblue;
	padding: 0 0.6em;
	line-height: 1;
	cursor: pointer;

	&:hover, &:focus { background-color: $white }
	&:active { box-shadow: inset 1px 1px $lightgray }
}

#search {
	margin: 2em 1em 1em;
	display: grid;
	grid-template-columns: 1fr auto 1fr;
	gap: 1em;

	* { font-size: 1.2em }

	#q {
		grid-column: 2;
		border: {
			width: 0.1em;
			style: solid;
			color: $lightblue;
			radius: 5em;
		}
		background-color: adjust-color($color: $mediumblue, $alpha: -0.8);
		color: $white;
		text-align: center;
		padding: 0.75em;
		min-width: 25vw;

	}

	button[type='submit'] {
		grid-column: 3;
		justify-self: start;
		font-size: 1.2em;

		&[disabled] { @extend .button-solid-gray }
	}
}

#pagetitle {
	margin: 0;
	font: {
		size: 1em;
		weight: normal;
	}

	.label {
		backdrop-filter: blur(3px);
		display: flex;
		align-items: center;
		gap: 0.4ch;
		height: 100%;
		padding: 0 0.6em;
		background-color: adjust-color($color: #000000, $alpha: -0.4);
		color: $white;
		border: {
			width: 0.1em;
			style: solid;
			color: $lightgray;
			radius: 0;
		}

		& + .label { display: none }
	}

	button.label {
		cursor: pointer;

		&:hover, &:focus { background-color: adjust-color($color: #000000, $alpha: -0.3) }
		&:active { background-color: adjust-color($color: #000000, $alpha: -0.2) }

		&::after {
			display: block;
			margin-inline-start: 0.2ch;
			content: "\e13a";	// caret-right
			font-family: "Phosphor-Bold" !important;
			color: $white;
			font-size: 1.2em;
		}
	}

	.tag::before { content: "#" };

	.search_query {
		&::before { content: "“" }
		&::after { content: "”" }
	}
}

#tagordering {
	.orderlinks {
		margin: 1em 2vw 0;
		display: flex;
		justify-content: center;
		gap: 1em;
	}

	a {
		display: block;
		font-size: 1.2em;
	}

	.button-solid-blue {
		position: relative;

		&::after {
			@include checkmark($vertical: top, $horizontal: right);
		}
	}
}
// #endregion

// #region Main section: posts
#posts {
	// Take up all available space in main
	flex-grow: 1;
	align-self: center;
	// Horizontal post scroll
	display: flex;
	align-items: center;
	gap: 2em;
	max-width: 100vw;
	overflow-x: scroll;
	padding-inline: 2em;
	// Center when fewer posts than window size
	width: min-content;
	margin: 1em auto;
	// Allow for post scaling
	padding-block: 1.1em;
}

.post {
	width: 15em;
	height: 21.75em;
	flex-shrink: 0;

	transition: {
		property: scale, margin-inline;
		duration: 0.2s;
	}

	&:hover, &:focus {
		scale: 110%;
		margin-inline: 0.75em;
	}
}
// #endregion
// #endregion



// #region FOOTER
#pfoot {
	// Sizing and placement
	height: $footer-height;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100vw;

	// Coloring
	background-color: rgba(0, 0, 0, 0.6);
	backdrop-filter: blur(3px);

	// Layout
	display: grid;
	$size: 23.5em;
	grid-template-columns: $size 1fr $size;
}

#pagination {
	grid-column: 1;
	background-color: $darkblue;
	color: $white;
	padding: 0.5em 0.6em;
	display: flex;
	flex-direction: column;
	gap: 0.5em;

	.text {
		margin: 0;
		flex-grow: 1;
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-size: 1.25em;
	}

	.pagecount { text-transform: uppercase }

	.pagelinks {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 0.6em;
	}

	a {
		display: block;
		font-size: 1.3em;
		padding-block: 0.95em;
	}

	a:not([href]), a:not([href]):is(:hover, :focus, :active) {
		background-color: $darkgray;
		cursor: unset;
	}

	.index:has(+ .day) { display: none }
}

#pages {
	grid-column: 2;
	display: flex;
	gap: 0.25em;
	max-height: $footer-height;
	padding: 0.5em;
	--max-card-width: 5.5em;

	a {
		// Sizing
		flex-grow: 1;
		min-width: 1em;
		transition: {
			property: max-width, filter;
			duration: 0.2s;
		}
		filter: drop-shadow(0 0 0.25em adjust-color($color: $white, $alpha: -0.5));
		max-width: var(--max-card-width);

		// Stacking
		// set relative positioning on all, to keep z-indexes right
		position: relative;
		// stack cards and dim glow when not hovering
		&:not(:hover) {
			filter: drop-shadow(-0.1em 0 0.25em adjust-color($color: $white, $alpha: -0.75));

			&:not(:last-child) {
				max-width: max(1em, calc(var(--max-card-width) - 1em));

				img, svg {
					position: absolute;
					left: 0;
					top: 0;
				}
			}
		}

		// Mark current page
		&.current-page::after {
			color: $white;
			@include checkmark($vertical: top, $horizontal: left);
		}
	}

	img, svg {
		height: 100%;
		width: auto;
		max-width: var(--max-card-width);
		object-fit: contain;
	}
}

#footright {
	grid-column: 3;
	display: flex;
	flex-direction: column;
	color: $white;

	.text {
		margin: 0;
		padding: 1em;
		line-height: 1;
		background-color: $black;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 1em;
	}

	svg {
		$size: 1.25em;
		width: $size;
		height: $size;
	}
}
#home {
	display: block;
	flex-grow: 1;
	text-transform: uppercase;
	font-size: 2.75em;
	padding-block: 0.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
}
// #endregion



// #region MEDIA QUERIES
@media (min-width: 70em) {	// Desktop
	#userprofile .cards {
		grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));

		.card {
			$card-spacing: 0.6em;

			&:has(+ .card) { margin-inline-end: $card-spacing }

			&+.card {
				padding-inline-start: $card-spacing;

				&::before {
					content: "";
					position: absolute;
					left: -0.05em;
					top: 0.5em;
					height: calc(100% - 1em);
					border-inline-start: var(--border);
				}
			}
		}
	}

	#desc {
		display: grid;
		grid-template-columns: 14vw 1fr;

		.title {
			$desc-spacing: 0.75em;
			padding-inline-end: $desc-spacing;
			border-inline-end: var(--border);
			margin-inline-end: $desc-spacing;
		}
	}
}

@media (max-width: 70em) {	// Mobile
	#userprofile .cards .card + .card::before {
		content: "";
		position: absolute;
		top: -0.05em;
		left: 0.5em;
		width: calc(100% - 1em);
		border-block-start: var(--border);
	}

	#desc .title {
		$desc-spacing: 0.75em;
		padding-block-end: $desc-spacing;
		border-block-end: var(--border);
		margin-block-end: $desc-spacing;
	}
}
// #endregion