* {
	scrollbar-color: var(--tt-text) var(--tt-bg);
	scrollbar-width: thin;
}
::-webkit-scrollbar {
	width: 0.5em;
	height: 0.5em;
	background-color: var(--tt-bg);
}
::-webkit-scrollbar-corner { background-color: var(--tt-text) }
::-webkit-scrollbar-thumb { background-color: var(--tt-text) }
html {
	background-color: var(--bg);
	color: var(--text);
	font-family: var(--bfont);
}
a { text-decoration: none }
/* Accessibility */
#skip, #hiddentitle {
	position: fixed;
	font-size: 1px;
	top: -100rem;
}



/********************************* TITLE BAR *********************************/
#left {
	position: fixed;
	top: 0;
	left: 1.5em;
	background-color: var(--tt-bg);
	background-image: var(--tt-image);
	height: 100vh;
	width: 7em;
}
#title {
	width: 100vh;
	transform: rotate(-90deg);
	transform-origin: bottom left;
	position: absolute;
	bottom: 1em;
	left: calc(50% + 1em);
	transition: transform .5s;
	color: var(--tt-text);
	overflow: hidden;
	white-space: nowrap;
}
#title h1 {
	font-family: var(--tfont);
	font-weight: var(--tweight);
	margin: 0;
	padding: 0;
	font-size: 2em;
}
#avatar {
	position: absolute;
	top: 2em;
	left: 65%;
	--size: 6em;
	width: var(--size);
	height: var(--size);
}
#avatar.highlight {
	border: medium solid var(--tt-bg);
	background: var(--tt-text);
}
#avatar.circle {
	border-radius: 100%;
	overflow: hidden;
}



/*********************************** TAPES ***********************************/
#tapes {
	position: fixed;
	bottom: -1em;
	right: 1.5em;
	display: flex;
	flex-direction: row-reverse;
}
.tape {
	border: none;
	position: relative;
	padding: 1em 0.5em;
	margin: 0 0 0 0.75em;
	display: block;
	height: 80vh;
	width: 4em;
	text-align: left;
	background: conic-gradient(at 50% var(--start), var(--background) 15%, transparent 15% 85%, var(--background) 85%), var(--image);
	background-color: var(--background);
	color: var(--color);
	text-transform: uppercase;
	font-weight: var(--tweight);
}
button.tape {
	writing-mode: vertical-rl;
	cursor: pointer;
	transition: transform .2s;
}
button.tape:hover {
	transform: translateY(-1em);
}
.tape[data-page*='posts'] {
	--background: var(--t1-bg);
	--image: var(--t1-image);
	--color: var(--t1-text);
	--start: 21%;
}
.tape[data-page*='about'], span.tape {
	--background: var(--t2-bg);
	--image: var(--t2-image);
	--color: var(--t2-text);
	--start: 21.5%;
	top: 5em;
}
span.tape {
	display: flex;
	flex-direction: column;
	align-items: center;
}
span.tape a {
	color: var(--t2-text);
	margin-bottom: 1em;
}
.tape[data-page*='nav'] {
	--background: var(--t3-bg);
	--image: var(--t3-image);
	--color: var(--t3-text);
	--start: 27%;
	top: 10em;
}
.tape[data-page*='about'] + span.tape,
.tape[data-page*='nav']:not(.pages, .search) { display: none }
#sticker {
	position: absolute;
	bottom: 2em;
	left: -5.5em;
	max-height: 10em;
	max-width: 10em;
}