* {
	scrollbar-color: var(--tt-text) var(--tt-bg);
	scrollbar-width: thin;
	background-position: center !important;
}
::-webkit-scrollbar {
	width: 0.5em;
	height: 0.5em;
	background-color: var(--tt-bg);
}
::-webkit-scrollbar-corner { background-color: var(--tt-text) }
::-webkit-scrollbar-thumb { background-color: var(--tt-text) }
html {
	background-color: var(--bg);
	color: var(--text);
	font-family: var(--bfont);
}
a { text-decoration: none }
/* Accessibility */
#skip, #hiddentitle, #search label {
	position: fixed;
	font-size: 1px;
	top: -100rem;
}
#s-m-t-tooltip {
	margin: 1em;
	background-color: var(--tt-bg);
	background-image: var(--tt-image);
	background-repeat: var(--tt-repeat);
	background-size: var(--tt-size);
	color: var(--tt-text);
	padding: 0.25em 0.5em;
}



/********************************* TITLE BAR *********************************/
#left {
	position: fixed;
	top: 0;
	left: 1.5em;
	background-color: var(--tt-bg);
	background-image: var(--tt-image);
	background-repeat: var(--tt-repeat);
	background-size: var(--tt-size);
	height: 100vh;
	width: 7em;
}
#title {
	width: 100vh;
	transform: rotate(-90deg);
	transform-origin: bottom left;
	position: absolute;
	bottom: 1em;
	left: calc(50% + 1em);
	transition: transform .5s;
	color: var(--tt-text);
	overflow: hidden;
	white-space: nowrap;
}
#title h1 {
	font-family: var(--tfont);
	font-weight: var(--tweight);
	margin: 0;
	padding: 0;
	font-size: 2em;
}
#avatar {
	position: absolute;
	top: 2em;
	left: 65%;
	--size: 6em;
	width: var(--size);
	height: var(--size);
}
#avatar.highlight {
	border: medium solid var(--tt-bg);
	background: var(--tt-text);
}
#avatar.circle {
	border-radius: 100%;
	overflow: hidden;
}



/*********************************** TAPES ***********************************/
#tapes {
	position: fixed;
	bottom: -1em;
	right: 1.5em;
	display: flex;
	flex-direction: row-reverse;
}
.tape {
	border: none;
	position: relative;
	padding: 1em 0.5em;
	margin: 0 0 0 0.75em;
	display: block;
	height: 30em;
	width: 4em;
	text-align: left;
	background: conic-gradient(at 50% var(--start), var(--background) 15%, transparent 15% 85%, var(--background) 85%), var(--image);
	background-color: var(--background);
	color: var(--color);
	text-transform: uppercase;
	font-weight: var(--tweight);
}
.tape.active { background-image: conic-gradient(at 50% var(--start), var(--background) 15%, transparent 15% 85%, var(--background) 85%), conic-gradient(at 50% calc(var(--start) + 1%), var(--color) 15%, transparent 15% 85%, var(--color) 85%), var(--image) }
button.tape {
	writing-mode: vertical-rl;
	transition: transform .2s;
}
.tape[data-page] { cursor: pointer }
.tape[data-page]:hover { transform: translateY(-1em) }
.tape[data-page*='posts'] {
	--background: var(--t1-bg);
	--image: var(--t1-image);
	--color: var(--t1-text);
	background-repeat: var(--t1-repeat);
	background-size: var(--t1-size);
	--start: 21%;
}
.tape[data-page*='about'], span.tape {
	--background: var(--t2-bg);
	--image: var(--t2-image);
	--color: var(--t2-text);
	background-repeat: var(--t2-repeat);
	background-size: var(--t2-size);
	--start: 21.5%;
	top: 5em;
}
span.tape {
	display: flex;
	flex-direction: column;
	align-items: center;
	--start: 0%;
}
span.tape.a, span.tape.s, span.tape.r, span.tape.c { --start: 14% }
span.tape.a.s, span.tape.a.r, span.tape.a.c, span.tape.s.r, span.tape.s.c, span.tape.r.c { --start: 22% }
span.tape.s.r.c, span.tape.a.r.c, span.tape.a.s.c, span.tape.a.s.r { --start: 30% }
span.tape.a.s.r.c { --start: 38% }
span.tape a {
	color: var(--t2-text);
	margin-bottom: 1em;
}
.tape.nav {
	--background: var(--t3-bg);
	--image: var(--t3-image);
	--color: var(--t3-text);
	background-repeat: var(--t3-repeat);
	background-size: var(--t3-size);
	--start: 27%;
	top: 10em;
}
/* Special cases */
.tape[data-page*='about'] + span.tape { display: none }
.tape.nav:not(.pages, .search) {
	color: transparent;
	background: var(--t3-image) var(--t3-repeat);
	background-color: var(--t3-bg);
	background-size: var(--t3-size);
}
#sticker {
	position: absolute;
	bottom: 2em;
	left: -5.5em;
	max-height: 10em;
	max-width: 10em;
}



/*********************************** MIDDLE **********************************/
#main section {
	position: absolute;
	left: 14em;
	width: calc(100% - 14em - 22em);
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#desc, #blognav, #search, #pages { max-width: var(--post-width) }
#desc {
	text-align: center;
	margin-bottom: 1em;
	position: relative;
	margin-top: 2.75em;
}
#desc::before {
	content: "";
	width: 100%;
	height: 2em;
	display: block;
	background: var(--tt-image) var(--tt-repeat);
	background-size: var(--tt-size);
	background-color: var(--tt-bg);
	position: absolute;
	bottom: 100%;
	margin-bottom: 0.75em;
}
#blognav, #pages {
	display: flex;
	flex-flow: row wrap;
}
#blognav a, #pages a {
	flex-grow: 1;
	padding: 0.5em 1em;
	margin: 0.25em;
	text-align: center;
	position: relative;
}
#blognav a::before, #pages a::before {
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0.175;
}
#blognav a:nth-child(3n+1), #pages a:nth-child(3n+1) {
	background-color: var(--t1-bg);
	color: var(--t1-text);
}
#blognav a:nth-child(3n+1)::before, #pages a:nth-child(3n+1)::before {
	background: var(--t1-image) var(--t1-repeat);
	background-size: var(--t1-size);
}
#blognav a:nth-child(3n+2), #pages a:nth-child(3n+2) {
	background-color: var(--t2-bg);
	color: var(--t2-text);
}
#blognav a:nth-child(3n+2)::before, #pages a:nth-child(3n+2)::before {
	background: var(--t2-image) var(--t2-repeat);
	background-size: var(--t2-size);
}
#blognav a:nth-child(3n), #pages a:nth-child(3n) {
	background-color: var(--t3-bg);
	color: var(--t3-text);
}
#blognav a:nth-child(3n)::before, #pages a:nth-child(3n)::before {
	background: var(--t3-image) var(--t3-repeat);
	background-size: var(--t3-size);
}
#search {
	background: var(--tt-image) var(--tt-repeat);
	background-size: var(--tt-size);
	background-color: var(--tt-bg);
	color: var(--tt-text);
	width: 100%;
	padding: 0.5em 0.5em;
	display: flex;
	align-items: center;
}
#search input {
	border: none;
	margin-left: 0.5em;
	background-color: var(--tt-bg);
	color: var(--tt-text);
	flex-grow: 1;
	padding: 0.25em 0.5em;
}
#search + #pages { margin-top: 1em }