* {
	scrollbar-color: var(--tt-text) var(--tt-bg);
	scrollbar-width: thin;
	background-position: center !important;
}
::-webkit-scrollbar {
	width: 0.5em;
	height: 0.5em;
	background-color: var(--tt-bg);
}
::-webkit-scrollbar-corner { background-color: var(--tt-text) }
::-webkit-scrollbar-thumb { background-color: var(--tt-text) }
html {
	background-color: var(--bg);
	color: var(--text);
	font-family: var(--bfont);
	height: 100%;
}
a {
	color: var(--links);
	text-decoration: none;
	transition: text-shadow .2s;
}
a:hover { text-shadow: 0 0 1em }
/* Accessibility */
#skip, #hiddentitle, #search label {
	position: fixed;
	font-size: 1px;
	top: -100rem;
}
#s-m-t-tooltip {
	margin: 1em;
	padding: 0.25em 0.5em;
}
/* Casing */
body.upper #left, body.upper .tape,
body.upper #blognav a, body.upper #pages a,
body.upper #s-m-t-tooltip,
body.upper .post .username, body.upper .post .title,
body.upper .post.notes .action > a,
body.upper .link .name,
body.upper .stickies,
body.upper .tags,
body.upper .page.title a, body.upper #curr {
	text-transform: uppercase;
}
body.lower #left, body.lower .tape,
body.lower #blognav a, body.lower #pages a,
body.lower #s-m-t-tooltip,
body.lower .post .username, body.lower .post .title,
body.lower .link .name,
body.lower .stickies,
body.lower .tags,
body.lower .page.title a, body.lower #curr {
	text-transform: lowercase;
}
/* Roundness */
#s-m-t-tooltip,
#avatar img,
.post .body, .stickies > *, .viasource img, .tags a, .tags a::before,
.post .title a, .post.notes .title, .read_more, .photowrapper .highres, .link,
.audiowrapper .custom_audio_buttons, .audiowrapper .albumart, .custom_audio_seekbar,
.seekbar span, .ask,
.page.title a, #pagination > *, .post.notes .more_notes_link_container > *,
#desc::before, #blognav a, #blognav a::before,
#search, #search input, #pages a, #pages a::before,
#buttons a, #buttons a::before, #scrolltotop_arrow, #scrolltotop_arrow::before {
	border-radius: var(--roundness)
}



/******************************** TAPE STYLES ********************************/
/* Title tape */
#left,
body.alltapes #s-m-t-tooltip,
body.alltapes #desc::before, body.alltapes #search,
body.alltapes .stickies > *,
body.alltapes .post .title a, body.alltapes .post.notes .title,
body.alltapes .read_more,
body.alltapes .post.notes .more_notes_link_container > *,
body.alltapes .custom_audio_buttons div {
	background-image: var(--tt-image);
	background-repeat: var(--tt-repeat);
	background-size: var(--tt-size);
}
#left,
#s-m-t-tooltip,
#desc::before, #search,
.stickies > *,
.post .title a, .post.notes .title,
.read_more,
.post.notes .more_notes_link_container > *,
.custom_audio_buttons div {
	background-color: var(--tt-bg);
	color: var(--tt-text);
}
/* Accent tape 1 */
.tape[data-page*='posts'],
#blognav a:nth-child(3n+1)::before, #pages a:nth-child(3n+1)::before,
.post .tags a:nth-child(3n+1)::before,
body.alltapes .post .bodyitem:nth-of-type(3n+1) .user,
blockquote:nth-of-type(3n+1)::before, body.alltapes .post:nth-child(3n+1) .quote .separator,
.seekbar span::after, body.alltapes .ask .user,
body.alltapes #prev::before, body.alltapes .post.notes li:nth-of-type(3n+1)::before,
#scrolltotop_parent:nth-last-child(3) #scrolltotop_arrow::before {
	background-image: var(--t1-image);
	background-repeat: var(--t1-repeat);
	background-size: var(--t1-size);
}
.tape[data-page*='posts'],
#blognav a:nth-child(3n+1), #pages a:nth-child(3n+1), .post .tags a:nth-child(3n+1),
.post .bodyitem:nth-of-type(3n+1) .user, .post .bodyitem:nth-of-type(3n+1) .username,
blockquote:nth-of-type(3n+1)::before, .post:nth-child(3n+1) .quote .separator,
.post:nth-child(3n+1) .quote .separator i, .seekbar span, .ask .user, .ask .username,
#prev, .post.notes li:nth-of-type(3n+1)::before,
#scrolltotop_parent:nth-last-child(3) #scrolltotop_arrow {
	background-color: var(--t1-bg);
	color: var(--t1-text);
}
/* Accent tape 2 */
.tape[data-page*='about'], nav.tape,
#blognav a:nth-child(3n+2)::before, #pages a:nth-child(3n+2)::before,
.post .tags a:nth-child(3n+2)::before,
#scrolltotop_parent:nth-last-child(2) #scrolltotop_arrow::before, #darklight::before,
body.alltapes .post .bodyitem:nth-of-type(3n+2) .user,
blockquote:nth-of-type(3n+2)::before, body.alltapes .post:nth-child(3n+2) .quote .separator,
.link .name::before, .chat li:nth-child(odd)::before,
body.alltapes .page.title a:first-child::before,
body.alltapes #curr::before, body.alltapes .post.notes li:nth-of-type(3n+2)::before {
	background-image: var(--t2-image);
	background-repeat: var(--t2-repeat);
	background-size: var(--t2-size);
}
.tape[data-page*='about'], nav.tape,
#blognav a:nth-child(3n+2), #pages a:nth-child(3n+2), .post .tags a:nth-child(3n+2),
#scrolltotop_parent:nth-last-child(2) #scrolltotop_arrow, #darklight,
.post .bodyitem:nth-of-type(3n+2) .user, .post .bodyitem:nth-of-type(3n+2) .username,
blockquote:nth-of-type(3n+2)::before, .post:nth-child(3n+2) .quote .separator,
.post:nth-child(3n+2) .quote .separator i, .link .name, .chat li:nth-child(odd),
.page.title a:first-child, #curr, .post.notes li:nth-of-type(3n+2)::before {
	background-color: var(--t2-bg);
	color: var(--t2-text);
}
/* Accent tape 3 */
.tape.nav,
#blognav a:nth-child(3n)::before, #pages a:nth-child(3n)::before,
.post .tags a:nth-child(3n)::before, #credit::before,
body.alltapes .post .bodyitem:nth-of-type(3n) .user,
blockquote:nth-of-type(3n)::before,
body.alltapes .post:nth-child(3n) .quote .separator,
.link .excerpt::before, .chat li:nth-child(even)::before,
body.alltapes .custom_audio_seekbar_progress,
body.alltapes .page.title a:last-child::before,
body.alltapes #next::before, body.alltapes .post.notes li:nth-of-type(3n)::before {
	background-image: var(--t3-image);
	background-repeat: var(--t3-repeat);
	background-size: var(--t3-size);
}
.tape.nav,
#blognav a:nth-child(3n), #pages a:nth-child(3n),
.post .tags a:nth-child(3n), #credit,
.post .bodyitem:nth-of-type(3n) .user, .post .bodyitem:nth-of-type(3n) .username,
blockquote:nth-of-type(3n)::before,
.post:nth-child(3n) .quote .separator, .post:nth-child(3n) .quote .separator i,
.link .excerpt, .chat li:nth-child(even),
.custom_audio_seekbar,
.page.title a:last-child, #next, .post.notes li:nth-of-type(3n)::before {
	background-color: var(--t3-bg);
	color: var(--t3-text);
}
/* Accent tape bands, general */
#blognav, #pages, .post .tags {
	display: flex;
	flex-flow: row wrap;
}
#blognav a, #pages a, .post .tags a {
	flex-grow: 1;
	padding: 0.5em 1em;
	margin: 0.25em;
	text-align: center;
	position: relative;
}
#blognav a::before, #pages a::before, .post .tags a::before,
#buttons a::before, #scrolltotop_arrow::before,
.link .name::before, .link .excerpt::before,
.chat li::before, .seekbar span::after,
.page.title a::before, #pagination > *::before,
.post.titled.pinned #pinnedpost::before {
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0.2;
	border-radius: inherit;
}
/* Showing images on main tapes only, or no images */
body.maintapes #blognav a::before, body.maintapes #pages a::before, body.maintapes .post .tags a::before,
body.maintapes #buttons a::before, body.maintapes #scrolltotop_arrow::before,
body.maintapes .link .name::before, body.maintapes .link .excerpt::before,
body.maintapes .chat li::before, body.maintapes .seekbar span::after { content: none }
body.maintapes blockquote::before { background-image: none }
body.maintapes .user::before,
html:not(.alt) body.noimg1 .bodyitem:nth-of-type(3n+1) .user::before,
html:not(.alt) body.noimg1 .ask .user::before,
html:not(.alt) body.noimg2 .bodyitem:nth-of-type(3n+2) .user::before,
html:not(.alt) body.noimg3 .bodyitem:nth-of-type(3n) .user::before,
html.alt body.noaimg1 .bodyitem:nth-of-type(3n+1) .user::before,
html.alt body.noaimg2 .bodyitem:nth-of-type(3n+2) .user::before,
html.alt body.noaimg3 .bodyitem:nth-of-type(3n) .user::before { filter: drop-shadow(-0.1em 0 0em) }
body.maintapes .user::after,
html:not(.alt) body.noimg1 .bodyitem:nth-of-type(3n+1) .user::after,
html:not(.alt) body.noimg1 .ask .user::after,
html:not(.alt) body.noimg2 .bodyitem:nth-of-type(3n+2) .user::after,
html:not(.alt) body.noimg3 .bodyitem:nth-of-type(3n) .user::after,
html.alt body.noaimg1 .bodyitem:nth-of-type(3n+1) .user::after,
html.alt body.noaimg2 .bodyitem:nth-of-type(3n+2) .user::after,
html.alt body.noaimg3 .bodyitem:nth-of-type(3n) .user::after { filter: drop-shadow(0.1em 0 0em) }
body.maintapes .quote .separator i,
html:not(.alt) body.noimg1 .post:nth-child(3n+1) .quote .separator i,
html:not(.alt) body.noimg2 .post:nth-child(3n+2) .quote .separator i,
html:not(.alt) body.noimg3 .post:nth-child(3n) .quote .separator i,
html.alt body.noaimg1 .post:nth-child(3n+1) .quote .separator i,
html.alt body.noaimg2 .post:nth-child(3n+2) .quote .separator i,
html.alt body.noaimg3 .post:nth-child(3n) .quote .separator i { border: double; border-width: 0 0.3em }
body.maintapes #search input,
html:not(.alt) body.noimgt #search input,
html.alt body.noaimgt #search input { background-color: rgba(var(--tt-text--rgb), 0.1) }



/********************************* TITLE BAR *********************************/
#title { color: var(--tt-text) }
#title h1 {
	font-family: var(--tfont);
	font-weight: var(--tweight);
	margin: 0;
	padding: 0;
	font-size: 2em;
}
#avatar {
	position: absolute;
	top: 2em;
	--size: 6em;
	width: var(--size);
	height: var(--size);
}
#avatar.highlight img {
	border: medium solid var(--tt-bg);
	background: var(--tt-text);
}
#avatar.circle img {
	border-radius: 100%;
	overflow: hidden;
}



/*********************************** TAPES ***********************************/
#tapes {
	display: flex;
	align-items: end;
	font-size: 1.2em;
}
.tape {
	border: none;
	padding: 0;
	display: block;
	text-align: left;
	background-color: var(--background);
	color: var(--color);
	font-family: var(--tfont);
	font-weight: var(--tweight);
}
body:not(.lower) .tape { font-variant: small-caps }
button.tape { transition: transform .2s }
.tape[data-page] { cursor: pointer }
/* Tape labels */
.tape span {
	display: flex;
	align-items: center;
	position: relative;
}
.tape[data-page*='posts'] span {
	background-color: var(--t1-bg);
	--color: var(--t1-bg);
	--highlight: var(--t1-text);
}
.tape[data-page*='about'] span, nav.tape span {
	background-color: var(--t2-bg);
	--color: var(--t2-bg);
	--highlight: var(--t2-text);
}
.tape.nav span {
	background-color: var(--t3-bg);
	--color: var(--t3-bg);
	--highlight: var(--t3-text);
}
nav.tape:not(.a, .s, .r, .c) span { display: none }
/* Arrows and highlights */
.tape span::after {
	content: "";
	display: block;
	position: absolute;
}
/* Icon about */
nav.tape a {
	color: var(--t2-text);
	padding: 0.5em;
	display: flex;
	align-items: center;
}
/* Description enabled OR pages/search disabled */
.tape[data-page*="about"] + nav.tape, .tape.nav:not(.pages, .search) span, html:not(.alt) #darklight .ph-sun, html.alt #darklight .ph-moon, html:not(.alt) .alt.sticker, html.alt .og.sticker { display: none; }
.sticker { position: absolute }



/*********************************** MIDDLE **********************************/	
#main {
	display: grid;
	justify-items: center;
	align-items: center;
	position: relative;
	grid-template-columns: var(--post-width);
}
#main > section {
	position: absolute;
	max-width: var(--post-width);
}
#desc, #blognav, #search, #pages { max-width: var(--post-width) }
#desc {
	text-align: center;
	margin-bottom: 1em;
	position: relative;
	margin-top: 2.75em;
}
#desc::before {
	content: "";
	width: 100%;
	height: 2em;
	display: block;
	position: absolute;
	bottom: 100%;
	margin-bottom: 0.75em;
}
#search {
	width: 100%;
	padding: 0.5em 0.5em;
	display: flex;
	align-items: center;
}
#search input {
	border: none;
	margin-left: 0.5em;
	background-color: var(--tt-bg);
	color: var(--tt-text);
	flex-grow: 1;
	padding: 0.25em 0.5em;
}
#search + #pages { margin-top: 1em }
#blognav .current-page, #pages .current-page { font-weight: bold }
/* Scroll to top/palette toggle/credit buttons */
#buttons {
	position: fixed;
	z-index: 6;
}
#buttons a, #scrolltotop_arrow {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 2em;
	width: 2em;
	margin-top: 0.75em;
	position: relative;
	cursor: pointer;
}



/*********************************** POSTS ***********************************/
#posts { width: 100% }
.post {
	margin-bottom: 3.5em;
	position: relative;
}
/* Page titles */
.page.title {
	text-align: center;
	margin-bottom: 2em;
}
.page.title a {
	padding: 0.5em;
	margin: 0 0.5em;
	position: relative;
}
.page.title .tag::before { content: "#" }
.search_query::before { content: "\201C" }
.search_query::after { content: "\201D" }
/* No posts */
#no-posts { margin-bottom: 0 }
#no-posts .body { padding: 0.25em 1em; text-align: center }
/* Reblogs */
.post .body {
	background-color: rgba(var(--tt-bg--rgb), 0.1);
	padding: 1.75em 0 2em;
}
.post .bodyitem + .bodyitem { margin-top: 1em }
/* Post titles */
.post .title a, .post.notes .title {
	display: block;
	text-align: center;
	font-size: 1.5em;
	padding: 0.2em 0.6em;
	margin-bottom: 0.5em;
}
/* Post usernames */
.post .user, .post .username, .read_more {
	display: flex;
	align-items: center;
	justify-content: center;
}
.post .user {
	height: 2em;
	margin-bottom: 0.5em;
}
.post .username {
	height: 100%;
	position: relative;
	padding: 0 0.25em;
	transition: padding .2s;
	text-shadow: none;
}
.post .user[href]:hover .username { padding: 0 0.75em }
.post .user::before,
.post .user::after {
	content: "";
	border: solid transparent;
	border-width: 1em 0.7em;
}
.deactivated.user .username::after {
	content: "(deactivated)";
	margin-left: 0.2em;
	font-size: 0.95em;
	opacity: 0.6;
}
.bodyitem:nth-of-type(3n+1) .user::before, .ask .user::before { border-right-color: var(--t1-bg) }
.bodyitem:nth-of-type(3n+1) .user::after, .ask .user::after { border-left-color: var(--t1-bg) }
.bodyitem:nth-of-type(3n+2) .user::before { border-right-color: var(--t2-bg) }
.bodyitem:nth-of-type(3n+2) .user::after { border-left-color: var(--t2-bg) }
.bodyitem:nth-of-type(3n) .user::before { border-right-color: var(--t3-bg) }
.bodyitem:nth-of-type(3n) .user::after { border-left-color: var(--t3-bg) }
/* Body content */
.post .bodyitemcontent { margin: 0 1em }
.bodyitemcontent > :first-child, .ask .question > :first-child { margin-top: 0 }
.bodyitemcontent > :last-child, .ask .question > :last-child { margin-bottom: 0 }
blockquote {
	position: relative;
	margin-left: 0;
	padding-left: 2.5em;
}
blockquote::before {
	content: "";
	display: block;
	height: 100%;
	width: 1em;
	position: absolute;
	left: 0.5em;
}
.read_more { padding: 0.5em 1em }
/* Post tags */
.post .tags { margin-top: 0.25em }
/* Stickies general */
.stickies, .likereblog a {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	text-align: center;
}
.stickies a, .submitted {
	color: var(--tt-text);
	padding: 0.5em;
}
.stickies a:hover, #pagination a:hover { text-shadow: 0 0 0.2em }
.stickies { row-gap: 0.25em; column-gap: 1.5em }
header.stickies { margin-bottom: -0.75em }
footer .stickies { margin-top: -0.75em }
/* Pinned post label */
#pinnedpost {
	cursor: help;
	display: flex;
	align-items: center;
}
/* Footer stickies */
.source { padding-left: 0.5em }
.submitted, .source, .viasource, .viasource a { display: flex; align-items: center }
.viasource a { padding: 0.3em 0.5em }
.viasource img {
	--size: 1.75em;
	width: var(--size);
	height: var(--size);
	transition: box-shadow .2s;
}
.viasource a:hover img { box-shadow: 0 0 0.5em }
.likereblog {
	display: flex;
	align-items: center;
	justify-content: center;
}
#pinnedpost, .likereblog a { padding: 0.5em 0.6em }
#pinnedpost i, .likereblog i, #buttons i { font-size: 1.15em }
.showtags { cursor: pointer }
.showtags.active i::before { content: "\f873" }
/* Like button */
.customlike { position: relative }
.customlike .like_button.liked + i::before { content: "\fc8f"; }
.customlike iframe {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
	opacity: 0;
}
/* Ask page FAQ wrapper */
.askwrapper { margin-bottom: 1em }
/* Post notes */
.post.notes .title { margin-top: -0.5em }
.post.notes .notes {
	margin: 0;
	padding: 0 1em;
	list-style: none;
}
.post.notes .notes .avatar_frame { display: none }
.post.notes li {
	position: relative;
	padding: 0.25em 1.25em;
}
.post.notes li::before {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 0.75em;
	height: 100%;
}
.post.notes li blockquote { margin: 0.5em 0 0 }
.post.notes .more_notes_link_container::before { content: none }
.post.notes .more_notes_link_container > * {
	display: block;
	margin: 0.25em -1.25em 0;
	padding: 0.5em;
}
/* Pagination */
#pagination {
	display: flex;
	margin: -1em 0 2em;
}
#pagination > * {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 2em;
}
#pagination a { width: 2em }
#prev { margin-right: 0.5em }
#curr { flex-grow: 1 }
#next { margin-left: 0.5em }



/********************************* POST TYPES ********************************/
/* Photo posts */
.photowrapper { position: relative }
.photowrapper a[href*="image"], .photopost { display: flex }
.photopost { width: 100% }
.photowrapper .highres {
	position: absolute;
	bottom: 1em;
	left: 1em;
	background-color: var(--bg);
	padding: 0.4em 0.5em;
	transition: opacity .2s;
}
.photowrapper:not(:hover) .highres { opacity: 0 }
/* Photoset posts */
.bodyitem .npf_photoset { margin: 0 -1em }
.npf_photoset .npf_image { object-fit: cover }
/* Quote posts */
.body .quote { text-align: center }
.quote h2 { font-weight: normal; margin: 0 0.5em }
.quote .separator {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0.5em 0;
}
.quote .separator i { padding: 0.5em }
/* Link posts */
.link {
	display: flex;
	flex-direction: column;
	text-shadow: none;
	transition: box-shadow .2s;
	overflow: hidden;
}
.link:hover { box-shadow: 0 0 0.25em var(--links) }
.link img {
	width: 100%;
	height: 10em;
	object-fit: cover;
}
.link .name, .link .excerpt {
	position: relative;
	padding: 0.3em 0.75rem;
	text-shadow: none;
}
.link .name { font-size: 1.2em }
/* Chat posts */
.chat {
	padding: 0;
	margin: 0;
	list-style: none;
}
.chat li {
	position: relative;
	padding: 0.2em 0.5em;
}
.chat li:nth-child(even) { padding-left: 1em }
/* Audio posts */
.audiowrapper {
	display: grid;
	grid-template-columns: 4em 1fr auto;
	column-gap: 1em;
	background: rgba(var(--tt-bg--rgb), 0.1);
	padding: 0.5em;
}
.audiowrapper span[id*='audio_player'] { display: none }
.audiowrapper .custom_audio_buttons, .custom_audio_buttons div:not([style]),
.custom_audio_buttons div[style*='block'], .seekbar span {
	display: flex !important;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}
.custom_audio_buttons div {
	height: 4em;
	width: 100%;
	cursor: pointer;
}
.custom_audio_buttons .custom_audio_error_icon { color: red }
.audiowrapper .textinfo {
	display: flex;
	flex-direction: column;
}
.textinfo .trackname { font-size: 1.1em }
.textinfo .artist, .textinfo .album { font-size: 0.8em }
.textinfo .album { font-style: italic }
.audiowrapper .albumart { height: 4em }
.audiowrapper .seekbar {
	grid-column: 1 / span 3;
	height: 1.2em;
	display: grid;
	align-items: center;
	text-align: center;
	grid-template-columns: 4em 1fr 4em;
	column-gap: 1em;
	margin-top: 0.5em;
}
.custom_audio_seekbar { cursor: pointer; overflow: hidden }
.seekbar span, .custom_audio_seekbar,
.custom_audio_seekbar_progress { height: 100% }
body.maintapes .custom_audio_seekbar_progress,
html:not(.alt) body.noimg3 .custom_audio_seekbar_progress,
html.alt body.noaimg3 .custom_audio_seekbar_progress {
	box-shadow: inset -0.05em 0 0, 0.05em 0 0;
}
.seekbar span {
	position: relative;
	font-size: 0.8em;
}
.custom_audio_time_left::before {
	content: "-";
	padding-right: 0.2em;
}
.bodyitem iframe { max-width: 100% }
/* Video posts */
.videowrapper div, .videowrapper iframe { width: 100% !important }
/* Ask posts */
.ask {
	margin: 0 1em 0.75em;
	background-color: rgba(var(--tt-bg--rgb), 0.1);
	overflow: hidden;
}
.ask .user i { margin-right: 0.5em }
.ask .question { padding: 0 1em 0.75em }



/******************************* MEDIA QUERIES *******************************/
@media (min-width: 70em) {
	/* Tapes (title, nav) */
	#left {
		position: fixed;
		top: 0;
		left: 1.5em;
		height: 100vh;
		width: 7em;
		z-index: 5;
	}
	#title {
		width: 100vh;
		transform: rotate(-90deg);
		transform-origin: bottom left;
		position: absolute; 
		bottom: 1em;
		left: calc(50% + 1em);
		overflow: hidden;
		white-space: nowrap;
	}
	#avatar { left: 65% }
	#tapes {
		position: fixed;
		bottom: -1em;
		right: 1.5em;
		flex-direction: row-reverse;
		z-index: 5;
	}
	.tape { margin-left: 0.75em; width: 3em; }
	button.tape { writing-mode: vertical-rl }
	.tape[data-page]:hover { transform: translateY(-1em) }
	.tape, .tape span { border-radius: var(--roundness) var(--roundness) 0 0 }
	/* Step down */
	.tape[data-page*='posts'] { height: 85vh }
	.tape[data-page*='about'], nav.tape { height: 71vh }
	.tape.nav { height: 57vh }
	/* Labels */
	.tape span {
		width: 100%;
		height: fit-content;
		padding: 1em 0.5em 0;
	}
	.tape span::after {
		width: 100%;
		height: 1.75em;
		top: 100%;
		left: 0;
		background-image: conic-gradient(at 50% 85%, var(--color) 15%, transparent 15% 85%, var(--color) 85%);
	}
	.tape.active span::after {
		background-image: conic-gradient(at 50% 85%, var(--color) 15%, transparent 15% 85%, var(--color) 85%), conic-gradient(at 50% 100%, var(--highlight) 15%, transparent 15% 85%, var(--highlight) 85%);
	}
	/* Icon about */
	nav.tape span {
		flex-direction: column;
		padding-top: 0.5em;
	}
	/* Sticker */
	.sticker {
		bottom: 2em;
		left: -5.5em;
		max-height: 10rem;
		max-width: 10rem;
	}
	
	/* Layout */
 	body {
		height: 100%;
		display: grid;
		justify-items: center;
		align-items: center;
		width: calc(100% - 14em - 22em);
		margin-left: 14em;
	}
	#main > section { max-height: 100vh }
	#posts { padding-top: 3em }
	.post .title { margin: 0 -0.75em }
	/* Scroll to top/palette toggle/credit buttons */
	#buttons {
		bottom: 1em;
		left: 7.5em;
	}
	
	/* Pinned post label */
	#pinnedpost {
		margin: 0;
		position: absolute;
		left: 100%;
		top: 2.5em;
		border-radius: 0 var(--roundness) var(--roundness) 0;
	}
	.post.titled.pinned #pinnedpost {
		top: 4.1em;
		left: calc(100% + 1.1em);
		background-color: var(--t2-bg);
		background-image: none;
		color: var(--t2-text);
	}
	body.alltapes .post.titled.pinned #pinnedpost::before {
		background-image: var(--t2-image);
		background-repeat: var(--t2-repeat);
		background-size: var(--t2-size);
	}
}
@media (max-width: 70em) {
	/* Tapes (title, nav) */
	#left {
		position: relative;
		margin: 1em 0;
	}
	#title {
		display: block;
		padding: 0.5em 6.5em 0.5em 1em;
		min-height: 3.6em;
	}
	#avatar {
		right: 1em;
		top: 50%;
		transform: translateY(-50%);
		--size: 4.5em;
	}
	#tapes {
		position: relative;
		overflow: hidden;
		flex-direction: column;
	}
	.tape { margin-right: -1em }
	.tape[data-page]:hover { transform: translateX(-1em) }
	.tape, .tape span { border-radius: var(--roundness) 0 0 var(--roundness) }
	.tape { height: 3em }
	.tape + .tape { margin-top: 0.75em }
	/* Step down */
	.tape[data-page*='posts'] { width: 85vw }
	.tape[data-page*='about'], nav.tape { width: 71vw }
	.tape.nav { width: 57vw }
	/* Labels */
	.tape span {
		width: fit-content;
		height: 100%;
		padding: 0.5em 0 0.5em 1em;
	}
	.tape span::after {
		width: 1.75em;
		height: 100%;
		top: 0;
		left: 100%;
		background-image: conic-gradient(at 85% 50%, transparent 60%, var(--color) 60% 90%, transparent 90%);
	}
	.tape.active span::after {
		background-image: conic-gradient(at 85% 50%, transparent 60%, var(--color) 60% 90%, transparent 90%), conic-gradient(at 100% 50%, transparent 60%, var(--highlight) 60% 90%, transparent 90%);
	}
	/* Icon about */
	nav.tape span { padding-left: 0.5em }
	/* Sticker */
	.sticker {
		bottom: 0;
		left: 0.75em;
		max-height: 7em;
		max-width: 23vw;
	}
	
	
	#main > section {
		top: 2em;
		padding: 0 0.5em;
	}
	.post .title { margin: 0 -0.2em }
	/* Scroll to top/palette toggle/credit buttons */
	#buttons {
		left: 0.5em;
		bottom: 0.5em;
	}
}
@media (max-width: 30em) {
	html { font-size: 14px }
}