.collapsible { margin-bottom: 1em }
.collapsible > .clpbutton {
	position: relative;
	cursor: pointer;
	text-decoration: underline;
	text-underline-offset: 0.2em;
	margin-bottom: 0.5em;
	padding-left: 1.25em;
	transition: color .2s;
}
.collapsible > .clpbutton:hover { color: var(--accent) }
.collapsible > .clpbutton::before {
	content: "";
	display: block;
	position: absolute;
	border: 0.4em solid transparent;
	border-left-color: inherit;
	top: 0.3em;
	left: 0.4em;
}
.collapsible.active > .clpbutton::before {
	border-left-color: transparent;
	border-top-color: inherit;
	left: 0.1em;
	top: 0.55em;
}

.collapsible > .clpcontent {
	padding: 0.1em 1em 0.3em;
	transition: max-height 0.4s ease;
	background-color: var(--bg-pg);
	border-left: 0.1em solid var(--accent);
}
.collapsible.even > .clpcontent { background-color: var(--bg) }