/* #region Global */
body {
	background: var(--bg);
	color: var(--text);
	font-family: var(--title-font), "Helvetica Neue", HelveticaNeue, Arial, sans-serif;
}
a { color: var(--accent) }
.visually-hidden {
	position: fixed;
	top: 100vh;
	left: 100vw;
	font-size: 1rem;
	margin: 0 !important;
	padding: 0 !important;
	clip-path: rect(0 0 0 0);
}
/* #endregion */

/* #region Header */
.blog-title {
	font-weight: var(--title-font-weight);
}
/* #endregion */

/* #region Posts */
.post {
	border: solid var(--accent);
	margin: 1em auto;
	--padding: 0.5em;
	padding: 0.5em var(--padding);
	max-width: calc(33.75em + (var(--padding) * 2));

	&.filtered .filter ~ * { display: none }
}
.user {
	a {
		display: flex;
		align-items: center;
		gap: 0.4em;
	}

	&.deactivated .name::after {
		content: "deactivated";
		opacity: 0.6;
		margin-left: 0.25em;
	}

	.avatar {
		--size: 2.5em;
		width: var(--size);
		height: var(--size);
		border-radius: 0.25em;

		&.circle { border-radius: 100% }
	}

	.badges {
		--size: 0.875em;
		flex-grow: 1;
		display: flex;
		align-items: center;
		gap: 0.15em;
		height: var(--size);

		span {
			position: relative;
			flex-grow: 1;
			max-width: var(--size);
			height: var(--size);

			&:not(:last-child) img {
				position: absolute;
				left: 0;
			}
		}

		img {
			width: var(--size);
			height: var(--size);
			max-width: unset;
			filter: drop-shadow(0 0 0.1em var(--bg));
			display: block;
		}
	}
}

hr.readmore {
	border-color: rgb(from var(--text) r g b / 0.5);
	border-style: dashed;
	margin-inline: 0.3em;
}

.ask {
	border: solid var(--accent);
	padding: 0.5em;
	white-space: pre-line;
	margin-bottom: 1em;

	.user {
		display: flex;
		align-items: center;

		a { margin-inline-end: 0.2em }
	}
}

.video {
	width: 100%;
	min-height: 20vh;
	max-height: 80vh;
	background: rgb(from var(--accent) r g b / 0.2);
}

/* #region Images and image rows */
img {
	max-width: 100%;
	height: auto;
}
figure { margin: 0 }
.row {
	display: grid;
	grid-auto-flow: column;
	grid-auto-columns: 1fr;
	--spacing: min(0.2em, 1vw);
	gap: var(--spacing);
	margin-block: var(--spacing);

	figure {
		display: flex;
		flex-direction: column;
	}
	img {
		object-fit: cover;
		height: 100%;
		width: 100%;
	}
}
/* #endregion */
/* #region Lightbox */
body:has(#lightbox[open]) { overflow: hidden }
#lightbox {
	border: none;
	background: none;
	padding: 0;
	overflow: visible;

	&::backdrop {
		background-color: rgb(from var(--bg) r g b / 0.9);
	}

	#close {
		position: fixed;
		top: min(1em, 2.5vh);
		right: min(1em, 2.5vw);
		border: none;
		background: none;
		padding: 0;
		color: #fff;
		cursor: pointer;

		&::before {
			content: "🗙";
			font-size: 1.5em;
			cursor: pointer;
			padding: 0.5em;
			display: inline-block;
		}

		&:hover, &:focus { color: #acacac }

		i { font-size: 4em }
	}

	img {
		cursor: pointer;
		box-shadow: 0 0 1em;
		display: block;
		max-width: calc(100vw - 10em);
		max-height: 90vh;
		width: auto;
		height: auto;
		transition-property: none;

		&.left, &.right {
			position: fixed;
			top: 50%;
			transform: translateY(-50%);
			--positioning: calc(100vw - 2em);
			max-height: 75vh;

			&:hover {
				--positioning: calc(100vw - 3em);
				transition-duration: 0.2s;
			}
		}
		&.left {
			right: var(--positioning);
			transition-property: right;
		}
		&.right {
			left: var(--positioning);
			transition-property: left;
		}
	}
}
/* #endregion */

/* Align poll colors to theme colors */
div.poll-post a.poll-row {
	color: var(--text);
	background-color: rgb(from var(--accent) r g b / 0.2);
}

/* #region Default Tumblr audio block */
.audiowrapper {
	--box: 5.3125em;
	background-color: var(--accent);
	color: var(--bg);
	display: grid;
	grid-template-columns: 1fr auto;
	min-height: var(--box);

	.left {
		position: relative;
		display: grid;
		grid-template-columns: var(--box) 1fr;
	}
	.textinfo {
		display: flex;
		flex-direction: column;
		line-height: 1;
		align-self: center;
		gap: 0.4em;
	}
	.trackname { font-weight: 700 }
	.artist, .album { font-size: 0.875em }
	.buttons {
		align-self: center;
		justify-self: center;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		font: inherit;
		padding: 0.1em;
		border: none;
		background-color: transparent;
		color: inherit;
		position: relative;
		z-index: 2;
		cursor: pointer;
	}
	audio,
	audio.playing ~ .left .buttons .play,
	audio:not(.playing) ~ .left .buttons .pause {
		display: none;
	}
	.albumart {
		width: var(--box);
		height: max(var(--box), 100%);
		object-fit: cover;
	}
}

/* Seekbar styling */
.seekbar {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	background-color: transparent;
	-webkit-appearance: none;
	--progress-bg: rgb(from var(--bg) r g b / 0.15);

	&:focus { outline: none }

	&::before {
		content: "";
		background-color: var(--progress-bg);
		display: block;
		height: 100%;
		width: var(--progress-width);
		position: absolute;
		top: 0;
		left: 0;
	}

	&::-webkit-slider-runnable-track {
		background: transparent;
		border: 0;
		width: 100%;
		height: 100%;
		cursor: pointer;
	}
	&::-webkit-slider-thumb {
		width: 0px;
		height: 0px;
		border: 0;
		cursor: pointer;
		-webkit-appearance: none;
	}

	&::-moz-range-track {
		background: transparent;
		border: 0;
		width: 100%;
		height: 100%;
		cursor: pointer;
	}
	&::-moz-range-thumb {
		width: 0px;
		height: 0px;
		border: 0;
		cursor: pointer;
	}
	&::-moz-range-progress {
		background-color: var(--progress-bg);
		height: 100%;
	}

	&::-ms-track {
		background: transparent;
		border-color: transparent;
		border-width: 0 0;
		color: transparent;
		width: 100%;
		height: 100%;
		cursor: pointer;
	}
	&::-ms-fill-lower {
		background: var(--progress-bg);
		border: 0;
	}
	&::-ms-fill-upper {
		background: transparent;
		border: 0;
	}
	&::-ms-thumb {
		width: 0px;
		height: 0px;
		border: 0;
		cursor: pointer;
		margin-top: 0px;
		/* Needed to keep the Edge thumb centered */
	}
}
/* #endregion */

/* #region Custom audio block */
.audiowrapper {
	background-color: var(--bg);
	color: var(--text);
	display: flex;
	flex-direction: column;

	.top {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 1em;
		padding: 1em 2em;
	}
	.hasart {
		background-position: center;
		background-size: cover;

		.top {
			backdrop-filter: blur(1em);
			background-color: rgb(from var(--bg) r g b / 0.75);
		}
	}
	.albumart {
		--size: 5em;
		max-width: var(--size);
		max-height: var(--size);
		border-radius: 100%;
	}
	.textinfo {
		display: flex;
		flex-direction: column;
		line-height: 1;
		align-self: center;
		gap: 0.4em;

		&:empty { display: none }
	}
	.trackname { font-weight: 700 }
	.artist, .album { font-size: 0.875em }
	.buttons {
		padding-block: 0.75em;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		line-height: 1;
		gap: 0.5em;

		button {
			--size: 2em;
			width: var(--size);
			height: var(--size);
			display: flex;
			align-items: center;
			justify-content: center;
			cursor: pointer;
			font: inherit;
			font-size: 1.25em;
			border: none;
			border-radius: 100%;
			background-color: transparent;
			color: inherit;

			&:hover {
				color: rgb(from var(--text) r g b / 0.5);
				text-shadow: 0 0 var(--accent);
			}

			&.active { color: var(--accent) }
		}

		.playpause {
			background-color: var(--text);
			color: var(--bg);
			margin-inline: 0.25em;

			&:hover {
				color: var(--bg);
				text-shadow: unset;
				background-color: var(--accent);
				background-image: linear-gradient(rgb(from var(--text) r g b / 0.75), rgb(from var(--text) r g b / 0.75))
			}
		}
	}

	audio,
	audio.playing ~ .buttons .play,
	audio:not(.playing) ~ .buttons .pause,
	.volume.active .mute,
	.volume:not(.active) .unmute,
	.loop.active .repeat,
	.loop:not(.active) .unrepeat {
		display: none;
	}
}

/* Seekbar styling */
.seekbar {
	width: 100%;
	height: 0.5em;
	margin: 0;
	background-color: rgb(from var(--text) r g b / 0.15);
	-webkit-appearance: none;
	--progress-bg: var(--accent);
	position: relative;

	&:focus { outline: none }
	&::before {
		content: "";
		background-color: var(--progress-bg);
		display: block;
		height: 100%;
		width: var(--progress-width);
		position: absolute;
		top: 0;
		left: 0;
		cursor: pointer;
	}

	&::-webkit-slider-runnable-track {
		background: transparent;
		border: 0;
		width: 100%;
		height: 100%;
		cursor: pointer;
	}
	&::-webkit-slider-thumb {
		width: 0px;
		height: 0px;
		border: 0;
		cursor: pointer;
		-webkit-appearance: none;
	}

	&::-moz-range-track {
		background: transparent;
		border: 0;
		width: 100%;
		height: 100%;
		cursor: pointer;
	}
	&::-moz-range-thumb {
		width: 0px;
		height: 0px;
		border: 0;
		cursor: pointer;
	}
	&::-moz-range-progress {
		background-color: var(--progress-bg);
		height: 100%;
	}

	&::-ms-track {
		background: transparent;
		border-color: transparent;
		border-width: 0 0;
		color: transparent;
		width: 100%;
		height: 100%;
		cursor: pointer;
	}
	&::-ms-fill-lower {
		background: var(--progress-bg);
		border: 0;
	}
	&::-ms-fill-upper {
		background: transparent;
		border: 0;
	}
	&::-ms-thumb {
		width: 0px;
		height: 0px;
		border: 0;
		cursor: pointer;
		margin-top: 0px;
		/* Needed to keep the Edge thumb centered */
	}
}
/* #endregion */

/* #region Paywall block */
.paywall {
	background-color: var(--bg);
	color: var(--text);
	padding: 1em 5%;
	margin-block: 1em;
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	gap: 1em;

	&.divider {
		padding: unset;
		background-color: unset;
		color: var(--color);
		flex-direction: row;
		gap: 0.25em;

		&::before, &::after {
			content: "";
			flex-grow: 1;
			display: block;
			border: thin solid var(--color);
		}
	}

	* { margin-block: 0 }
	h2 { font-family: var(--font) }
	h2, strong, a { color: var(--accent) }
	a {
		text-decoration: none;
		border: solid var(--accent);
		padding: 0.5em 1em;
		display: block;
		border-radius: 5em;
	}
}
/* #endregion */
/* #endregion */