/******************************** GENERAL STYLES ********************************/
body {
	background: var(--bg);
	color: var(--text);
}
a {
	color: var(--links);
	transition: color .2s;
}
a:not(:hover) { text-decoration: none }
a:hover { color: var(--links-hover) }
strong, b { color: var(--bold) }
em, i:not(.fas, .far) { color: var(--italics) }
h1, h2 {
	color: var(--headings);
	font-family: var(--title-font);
}
/* Text highlighting */
::selection {
	background-color: var(--highlight-bg);
	color: var(--highlight);
}
::moz-selection {
	background-color: var(--highlight-bg);
	color: var(--highlight);
}
/* Accessibility skipper */
#skip {
	position: fixed;
	top: -100em;
}