/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

/******************************** GENERAL STYLES ********************************/
html, body { height: 100% }
body {
	background: var(--bg);
	color: var(--text);
}
a {
	color: var(--links);
	-webkit-transition: color .2s;
	-o-transition: color .2s;
	transition: color .2s;
}
a:not(:hover) { text-decoration: none }
a:hover { color: var(--links-hover) }
strong, b { color: var(--bold) }
em, i:not(.cp) { color: var(--italics) }
h1, h2 {
	color: var(--headings);
	font-family: var(--title-font);
}
blockquote {
	margin: 0.25em ;
	border-left: 0.1em solid var(--accent);
	padding-left: 0.5em;
}
pre {
	overflow-x: scroll;
	border: thin solid var(--accent);
	background-color: var(--bg);
	padding: 0.5em 0.75em;
}
:not(pre) > code {
	background-color: rgba(var(--accent--rgb), 0.2);
	padding: 0.1em 0.2em;
}
/* Scrollbar */
* {
	scrollbar-width: thin;
	scrollbar-color: var(--accent) rgba(var(--accent--rgb), 0.2);
}
::-webkit-scrollbar {
    width: 0.5em;
    height: 0.5em;
    background-color: rgba(var(--accent--rgb), 0.2);
}
::-webkit-scrollbar-corner { background-color: var(--bg) }
::-webkit-scrollbar-thumb { background-color: var(--links) }
/* Text highlighting */
::selection {
	background-color: var(--highlight-bg);
	color: var(--highlight);
}
::moz-selection {
	background-color: var(--highlight-bg);
	color: var(--highlight);
}
/* Accessibility */
#skip, #hiddentitle, form label {
	position: fixed;
	top: -100em;
}
/* Frame component */
.frame {
	background-color: var(--post);
	position: relative;
	padding: 1em;
}
.frame::before, .frame::after {
	position: absolute;
	content: "";
	--displacement: -0.625em;
	--size: 2em;
	--color: var(--accent);
	--thickness: 0.0825em;
	display: inline-block;
	width: var(--size);
	height: var(--size);
	/* from https://stackoverflow.com/a/55281827 */
	background:
		-webkit-gradient(linear, left top, left bottom, color-stop(0, var(--color))),
		-webkit-gradient(linear, left top, left bottom, color-stop(0, var(--color)));
	background:
		-o-linear-gradient(var(--color) 0 0),
		-o-linear-gradient(var(--color) 0 0);
	background:
		linear-gradient(var(--color) 0 0),
		linear-gradient(var(--color) 0 0);
	background-position: center;
	background-size: 100% var(--thickness), var(--thickness) 100%;
	background-repeat: no-repeat;
}
.frame::before { top: var(--displacement); left: var(--displacement) }
.frame::after { bottom: var(--displacement); right: var(--displacement) }
.frame > :first-child { margin-top: 0 }
.frame > :last-child { margin-bottom: 0 }
/* Scroll to top button */
#scrolltotop_parent {
	cursor: pointer;
	position: fixed;
	bottom: 0.5em;
	right: 0.5em;
	color: var(--links);
	background-color: var(--post);
	--size: 2em;
	width: var(--size);
	height: var(--size);
	border-radius: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
	-webkit-box-pack: center;
		-ms-flex-pack: center;
			justify-content: center;
	-webkit-transition-duration: .2s;
		 -o-transition-duration: .2s;
			transition-duration: .2s;
	-webkit-transition-property: color, -webkit-transform;
	transition-property: color, -webkit-transform;
	-o-transition-property: color, transform;
	transition-property: color, transform;
	transition-property: color, transform, -webkit-transform;
}
#scrolltotop_parent:hover {
	color: var(--links-hover);
	-webkit-transform: scale(1.15);
		-ms-transform: scale(1.15);
			transform: scale(1.15);
}
/* Tooltips */
.tippy-box[data-theme~="standard"] {
	background-color: var(--post);
	color: var(--text);
	border: 0.1em solid rgba(var(--accent--rgb), 0.5);
	text-align: center;
}
.tippy-box[data-theme~="standard"][data-placement^="top"] > .tippy-arrow::before {
	border-top-color: var(--post);
	-webkit-filter: drop-shadow(0 0.15em rgba(var(--accent--rgb), 0.5));
			filter: drop-shadow(0 0.15em rgba(var(--accent--rgb), 0.5))
}
.tippy-box[data-theme~="standard"][data-placement^="bottom"] > .tippy-arrow::before {
	border-bottom-color: var(--post);
	-webkit-filter: drop-shadow(0 -0.15em rgba(var(--accent--rgb), 0.5));
			filter: drop-shadow(0 -0.15em rgba(var(--accent--rgb), 0.5))
}
.tippy-box[data-theme~="standard"][data-placement^="left"] > .tippy-arrow::before {
	border-left-color: var(--post);
	-webkit-filter: drop-shadow(0.15em 0 rgba(var(--accent--rgb), 0.5));
			filter: drop-shadow(0.15em 0 rgba(var(--accent--rgb), 0.5))
}
.tippy-box[data-theme~="standard"][data-placement^="right"] > .tippy-arrow::before {
	border-right-color: var(--post);
	-webkit-filter: drop-shadow(-0.15em 0 rgba(var(--accent--rgb), 0.5));
			filter: drop-shadow(-0.15em 0 rgba(var(--accent--rgb), 0.5))
}



/***************************** MAIN CONTENT SECTION *****************************/
.posts {
	max-width: var(--post-width);
	width: 100%;
}
/* Space out posts */
.post { margin: 3em 0 }
.post:first-child { margin-top: 0 }
.post:last-child { margin-bottom: 0 }
.post header, .post footer { font-size: 0.9em }
.post header {
	padding: 0 0 0.1em 0.9em;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
		-ms-flex-pack: justify;
			justify-content: space-between;
}
.post header.nodates {
	-webkit-box-pack: end;
		-ms-flex-pack: end;
			justify-content: end;
}
.post footer { padding: 0.2em 0em 0 0 }
/* Tags section */
.post footer .tags {
	margin: 0;
	padding: 0;
	overflow-wrap: break-word;
	hyphens: auto;
}
.post .tags a:not(:last-child)::after {
	content: ",";
	margin-right: 0.3em;
}
/* Show tags on click */
.post footer .showtags {
	font-size: 0.9em;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
	cursor: pointer;
}
.post footer .showtags i {
	margin: 0 0.75em;
	font-size: 0.75em;
	-webkit-transition: 0.4s;
	-o-transition: 0.4s;
	transition: 0.4s;
}
.post .showtags.active i {
	-webkit-transform: rotate(90deg);
		-ms-transform: rotate(90deg);
			transform: rotate(90deg);
}
/* Uppercase variants */
.uppercase .page.title,
.uppercase .post header,
.uppercase .post .user,
.uppercase .post .tags,
.uppercase #notes .title, .uppercase .notes .action a { font-variant: small-caps }
.uppercase .post .showtags { text-transform: uppercase }
/* Lowercase variants */
.lowercase .page.title,
.lowercase .post header,
.lowercase .post .user,
.lowercase .post .showtags,
.lowercase #notes .title, .lowercase .notes .action a { text-transform: lowercase }
.lowercase .post .showtags i {
	-webkit-box-align: baseline;
		-ms-flex-align: baseline;
			align-items: baseline;
}
/* Like/reblog buttons and pinned post icon */
.likereblog {
	margin-right: 0.9em;
	float: right;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-column-gap: 0.5em;
	   -moz-column-gap: 0.5em;
			column-gap: 0.5em;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
}
.pinnedpost {
	color: var(--accent);
	cursor: help;
}
.likereblog a {
	height: 1em; /* <a>s are too tall otherwise; shorten */
	-webkit-transition: .3s ease;
	-o-transition: .3s ease;
	transition: .3s ease;
	text-decoration: none;
}
.likereblog a:hover {
	-webkit-transform: scale(1.2);
		-ms-transform: scale(1.2);
			transform: scale(1.2);
}
.customlike { position: relative }
.customlike .like_button.liked + i { color: var(--like) } /* Pink heart */
.customlike .like_button.liked + i::before { content: "\eb03" } /* Fill heart */
.customlike iframe {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
	opacity: 0;
}
/* Body item spacing */
.bodyitem { padding: 0.75em 0 }
.bodyitem:first-child { padding-top: 0.25em }
.bodyitem:last-child, .ask .question :first-child { padding-bottom: 0.25em }
.bodyitem:not(:last-child) { border-bottom: 0.07em solid rgba(var(--accent--rgb), 0.5) }
.bodyitemcontent :first-child, .ask .question :first-child { margin-top: 0 }
.bodyitemcontent :last-child, .ask .question :last-child { margin-bottom: 0 }
.audiowrapper + .bodyitemcontent, .videowrapper + .bodyitemcontent { margin-top: 0.75em }
/* Usernames */
.user {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
	margin-bottom: 0.5em;
}
.usericon {
	border-radius: 100%;
	--size: 2.5em;
	width: var(--size);
	height: var(--size);
	z-index: 1;
}
.username {
	z-index: 0;
	background-color: rgba(var(--accent--rgb), 0.15);
	padding: 0.25em 0.75em 0.25em 2em;
	border-radius: 2em;
	margin-left: -1.6em;
	-webkit-transition: margin-left .3s ease;
	-o-transition: margin-left .3s ease;
	transition: margin-left .3s ease;
}
.user:hover .username { margin-left: -1.4em }
.deactivated.user .username::after {
	content: " (deactivated)";
	opacity: 0.75;
}
/* Containers for post title, ask post question, read more, notes buttons, and page titles */
.page.title {
	padding: 0.6em 1em;
	margin: 0 1.5em;
	text-align: center;
}
.page.title h2 { margin: 0 0 0.25rem }
.page.title p, .post .title { margin: 0 }
.page.title .tag::before { content: "#" }
.page.title .search_query::before { content: "\201C" }
.page.title .search_query::after { content: "\201D" }
.post .title a, .read_more, .more_notes_link, .notes_loading {
	display: block;
	text-align: center;
}
.page.title, .post .title a, .ask, .read_more, .more_notes_link, .notes_loading {
	position: relative;
	--color: rgba(var(--accent--rgb), 0.6);
	--size: 1.5em;
	--displacement: -0.075em;
	padding: 0.5em 0.75em;
}
.post .title a, .ask, .more_notes_link, .notes_loading {
	background-color: var(--bg);
	margin-bottom: 0.5em;
}
.post .title a:hover, .read_more:hover, .more_notes_link:hover, .notes_loading { --size: 2em }
.page.title, .read_more, .more_notes_link, .notes_loading { background-color: rgba(var(--accent--rgb), 0.15)}
.page.title::before, .page.title::after,
.post .title a::before, .post .title a::after,
.ask::before, .ask::after,
.read_more::before, .read_more::after,
.more_notes_link::before, .more_notes_link::after,
.notes_loading::before, .notes_loading::after {
	position: absolute;
	content: "";
	display: block;
	width: var(--size);
	height: var(--size);
	border: 0.15em solid transparent;
	-webkit-transition: .3s ease;
	-o-transition: .3s ease;
	transition: .3s ease;
	-webkit-transition-property: width, height;
	-o-transition-property: width, height;
	transition-property: width, height;
}
.page.title::before, .post .title a::before, .ask::before, .read_more::before, .more_notes_link::before, .notes_loading::before {
	top: var(--displacement); left: var(--displacement);
	border-top-color: var(--color); border-left-color: var(--color);
}
.page.title::after, .post .title a::after, .ask::after, .read_more::after, .more_notes_link::after, .notes_loading::after {
	bottom: var(--displacement); right: var(--displacement);
	border-bottom-color: var(--color); border-right-color: var(--color);
}
/* Notes section */
#notes h2 {
	text-align: center;
	margin: 0;
}
.notes {
	list-style: none;
	padding: 0;
	margin: 0;
}
.notes .like, .notes .reblog {
	padding: 0.3em 0;
	display: -ms-grid;
	display: grid;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-ms-grid-columns: auto 0.5em 1fr;
	grid-template-columns: auto 1fr;
	-webkit-column-gap: 0.5em;
	   -moz-column-gap: 0.5em;
	        column-gap: 0.5em;
	row-gap: 0.5em;
}
.note .avatar_frame {
	--size: 2em;
	width: var(--size);
	height: var(--size);
}
.notes .clear { display: none }
.notes .action { -ms-grid-column: 3 }
.notes blockquote {
	-ms-grid-column: 3;
		grid-column: 2;
}
.notes .note:not(:first-child, .more_notes_link_container:last-child) { border-top: thin solid rgba(var(--accent--rgb), 0.5) }
.note .avatar { border-radius: 100% }
/* Ask page */
.askwrapper:not(:empty) { margin-bottom: 1em }
/* No posts */
.no-posts { text-align: center }
/* Navigation */
#pagination {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
		-ms-flex-direction: column;
			flex-direction: column;
	row-gap: 0.6em;
	padding: 1em 0;
}
#pagination hr {
	margin: 0;
	border-width: 0.0625em;
	border-color: rgba(var(--accent--rgb), 0.5);
	position: absolute;
	z-index: -1;
}
#pagination .marker {
	font-size: 1.25em;
	color: var(--links);
}
/* For current page, both in page-wise navigation and custom blog page navigation */
.current-page, .current-page:hover {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(var(--accent--rgb), 0.8))), var(--post);
	background: -o-linear-gradient(rgba(var(--accent--rgb), 0.8) 0 0), var(--post);
	background: linear-gradient(rgba(var(--accent--rgb), 0.8) 0 0), var(--post);
	color: var(--bg);
}



/******************************** POST SPECIFIC ********************************/
/* Photo posts */
.photopost { width: 100% }
.photowrapper { position: relative }
.photowrapper .highres {
	position: absolute;
	bottom: 0.75em;
	left: 0.75em;
	background-color: var(--bg);
	padding: 0.5em;
	border-left: 0.1em solid var(--accent);
	border-right: 0.1em solid var(--accent);
	-webkit-transition: opacity .3s;
	-o-transition: opacity .3s;
	transition: opacity .3s;
}
.photowrapper:not(:hover) .highres { opacity: 0 }
/* Video posts */
.videowrapper, iframe, .tumblr_video_container, .tumblr_video_iframe { width: 100% !important }
/* Quote posts */
.quote { text-align: center }
.quote h2 { margin: 0 }
.quote .separator {
	margin: 0.5em auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
	color: var(--accent);
	max-width: 80%;
}
.quote .separator i { margin: 0 0.5em }
.quote .separator::before, .quote .separator::after {
	content: "";
	width: 100%;
	height: 0.07em;
	background-color: rgba(var(--accent--rgb), 0.5);
}
.quote p { margin: 0 0 0.25em }
/* Chat posts */
.chat {
	list-style: none;
	margin: 0;
	padding: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
		-ms-flex-direction: column;
			flex-direction: column;
	row-gap: 0.5em;
}
.chat li { 
	display: -webkit-box; 
	display: -ms-flexbox; 
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
		-ms-flex-direction: column;
			flex-direction: column;
}
.chat li:nth-child(even) {
	-ms-flex-item-align: end;
		-ms-grid-row-align: end;
		align-self: end;
	text-align: right;
	-webkit-box-align: end;
		-ms-flex-align: end;
			align-items: end;
}
.chat .label { margin-bottom: 0.1rem }
.uppercase .chat .label { text-transform: uppercase; font-size: 0.75em }
.lowercase .chat .label { text-transform: lowercase; font-size: 0.8em }
.chat .line {
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
	display: block;
	padding: 0.25em 0.5em;
}
.chat li:nth-child(odd) .line { background-color: rgba(var(--accent--rgb), 0.1); margin-right: 2em; }
.chat li:nth-child(even) .line { background-color: rgba(var(--accent--rgb), 0.2); margin-left: 2em; }
/* Link posts */
.link {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
		-ms-flex-direction: column;
			flex-direction: column;
	border: 0.15em solid rgba(var(--accent--rgb), 0.5);
	text-decoration: none;
	-webkit-transition: .2s;
	-o-transition: .2s;
	transition: .2s;
}
.link:hover { border-color: rgba(var(--accent--rgb), 0.7) }
.link span {
	padding: 0.5em;
	background: rgba(var(--accent--rgb), 0.1);
}
.uppercase .link span { font-variant: small-caps }
.lowercase .link span { text-transform: lowercase }
.link span i {
	float: right;
	margin-right: 0.5em;
	-webkit-transition: margin-right .2s;
	-o-transition: margin-right .2s;
	transition: margin-right .2s;
}
.link:hover span i { margin-right: 0.1em }
.link .excerpt {
	padding: 0.5rem;
	font-size: 0.8em;
	color: var(--text);
}
/* Audio posts */
.audiowrapper {
	--albumsize: 4.5em;
	background: rgba(var(--accent--rgb), 0.1);
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 1fr var(--albumsize);
	grid-template-columns: 1fr var(--albumsize);
	margin: 1em 1em 0;
}
.audiowrapper > span { display: none } /* Bring the hidden player out of the grid */
.audiowrapper .albumart { /* Album art and play/pause button section */
	z-index: 0;
	height: var(--albumsize);
	background-color: var(--bg);
	color: var(--links);
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
		-ms-flex-pack: center;
			justify-content: center;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
	overflow: hidden;
}
.audiowrapper .albumart img { /* Album art, if available */
	z-index: -1;
	position: absolute;
	/* should auto-scale and auto-position, but just in case */
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.audiowrapper .custom_audio_buttons { /* Play/pause buttons */
	background: var(--bg);
	font-size: 0.8em;
	--size: 40%;
	width: var(--size);
	height: var(--size);
	cursor: pointer;
	-webkit-transition: opacity .2s;
	-o-transition: opacity .2s;
	transition: opacity .2s;
}
.post:not(:hover) img + .custom_audio_buttons { opacity: 0 }
.audiowrapper .custom_audio_buttons > div {
	width: 100%;
	height: 100%;
}
.audiowrapper .custom_audio_buttons i {
	padding: 10%;
	width: 100%;
	height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
	-webkit-box-pack: center;
		-ms-flex-pack: center;
			justify-content: center;
}
.audiowrapper .custom_audio_error_icon i { color: red } /* If audio file errors */
.audiowrapper .textinfo { /* General track information */
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
		-ms-flex-direction: column;
			flex-direction: column;
	-webkit-box-pack: justify;
		-ms-flex-pack: justify;
			justify-content: space-between;
	padding: 0.2em 0.5em 0.3em;
	row-gap: 0.1em;
}
/* Track info, uppercase variant */
.uppercase .audiowrapper .trackname { font-variant: small-caps }
.uppercase .audiowrapper .artist, .uppercase .audiowrapper .album { text-transform: uppercase }
/* Track info, lowercase variant */
.lowercase .audiowrapper .textinfo { text-transform: lowercase }
.audiowrapper .trackname { /* Text info: track name */
	color: var(--links);
	font-size: 1.2em;
}
.audiowrapper .artist, .audiowrapper .album { font-size: 0.8em } /* Text info: artist and album */
.audiowrapper .album { font-style: italic } /* Differentiate from artist */
.audiowrapper .custom_audio_seekbar { /* Audio progress bar */
	width: 100%;
	-ms-grid-column: 1;
	-ms-grid-column-span: 2;
	grid-column: 1 / span 2;
	background-color: rgba(var(--accent--rgb), 0.2);
	height: 0.5em;
	overflow: hidden;
	cursor: pointer;
}
.audiowrapper .custom_audio_seekbar_progress { /* Audio progress bar, darkened bit */
	width: 0;
	height: 100%;
	background: var(--links);
}



/*********************************** SIDEBAR ***********************************/
#sidebar {
	padding: 2em;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
		-ms-flex-direction: column;
			flex-direction: column;
	row-gap: 1em;
	max-width: 28em;
}
/* Icon and important links section */
#iconlinks {
	min-height: 7em;
	--drift: 3em;
}
#iconlinks, .planet {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
		-ms-flex-pack: center;
			justify-content: center;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
}
/* Planet icon */
.planet {
	right: 0;
	z-index: 1;
}
.planet img {
	border-radius: 100%;
	--size: 5em;
	width: var(--size);
	height: var(--size);
	background-color: var(--bg);
	border: 0.125em solid var(--accent);
}
.planet .ring {
	border-radius: 100%;
	display: block;
	width: 10em;
	height: 2.5em;
	border: 0.125em solid rgba(var(--accent--rgb), 0.7);
	position: absolute;
	top: 25%;
	-webkit-transform: rotate(-15deg);
		-ms-transform: rotate(-15deg);
			transform: rotate(-15deg);
	z-index: -1;
}
/* Icon buttons */
#buttons {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
		-ms-flex-direction: column;
			flex-direction: column;
	row-gap: .25em;
	z-index: 1;
	position: relative;
}
#buttons a {
	-webkit-transform: scale(0.9);
		-ms-transform: scale(0.9);
			transform: scale(0.9);
}
#darklight:hover { cursor: pointer }
#creditlink { margin-left: 1em }
#copyright:hover { cursor: help }
#btnctr svg {
	position: absolute;
	right: .75em;
	z-index: 0;
}
#btnctr svg line {
	stroke: var(--accent);
	stroke-width: 0.0625em;
	stroke-opacity: 0.75;
}
#btnctr {
	position: absolute;
	top: 50%;
	left: calc(50% + 1.25*var(--drift));
	-webkit-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
	z-index: 0;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
}
.planet, #btnctr {
	-webkit-transition: .5s ease;
		-o-transition: .5s ease;
			transition: .5s ease;
	-webkit-transition-property: left, right, opacity;
		-o-transition-property: left, right, opacity;
			transition-property: left, right, opacity;
}
/* Reveal buttons on hover */
#sidebar:hover .planet { right: var(--drift) }
#sidebar:not(:hover) #btnctr { opacity: 0; }
#sidebar:hover #btnctr { left: calc(50% + 2*var(--drift)) }
/* Blog and custom pages navigation */
#homelinks, #pages {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
	-webkit-box-pack: center;
		-ms-flex-pack: center;
			justify-content: center;
}
#homelinks hr, #pages hr {
	margin: 0;
	border-width: 0.0625em;
	border-color: rgba(var(--accent--rgb), 0.5);
	position: absolute;
	width: 100%;
	z-index: -1;
}
#homelinks nav, #pages nav, #pagination {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
	-webkit-column-gap: 0.75em;
	   -moz-column-gap: 0.75em;
			column-gap: 0.75em;
}
#homelinks nav a,
#pages nav a,
#buttons a,
#pagination a, #pagination > span {
	background-color: var(--post);
	--size: 2em;
	width: var(--size);
	height: var(--size);
	border-radius: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
	-webkit-box-pack: center;
		-ms-flex-pack: center;
			justify-content: center;
	-webkit-transition-property: color, -webkit-transform;
	transition-property: color, -webkit-transform;
	-o-transition-property: color, transform;
	transition-property: color, transform;
	transition-property: color, transform, -webkit-transform;
}
body:not(.light) #darklight .cp-moon-o,
body.light #darklight .cp-sun { display: none }
#homelinks nav a:hover,
#pages nav a:hover,
#buttons > a:hover,
#pagination a:hover {
	text-decoration: none;
	-webkit-transform: scale(1.15);
		-ms-transform: scale(1.15);
			transform: scale(1.15);
}
#homelinks nav::before, #homelinks nav::after,
#pages nav::before, #pages nav::after,
#pagination::before, #pagination::after{
	content: "";
	display: block;
	background-color: var(--accent);
	--size: 0.4rem;
	width: var(--size);
	height: var(--size);
	border-radius: 100%;
}
/* Description */
#sidebartext {
	text-align: center;
	width: -webkit-max-content;
	width: -moz-max-content;
	width: max-content;
	max-width: 100%;
}
#sidebartext:empty { display: none }
#title h1 { margin: 0 }
#description { margin: 0.5em 0 }
#description > :first-child { margin-top: 0 }
#description > :last-child { margin-bottom: 0 }
form {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: auto 1fr;
	grid-template-columns: auto 1fr;
	max-width: 20em;
	margin: 1em auto;
	background: var(--bg);
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
}
form i {
	color: var(--accent);
	padding: 0.5em;
}
form input {
	margin-right: 0.5em;
	background: none;
	color: var(--text);
	border: none;
}



/******************************** MEDIA QUERIES ********************************/
@media (min-width: 60rem) {
	body {
		display: -ms-grid;
		display: grid;
		-ms-grid-columns: 1fr 2.75em var(--sidebar-width);
		grid-template-columns: 1fr var(--sidebar-width);
		-webkit-column-gap: 2.75em;
		   -moz-column-gap: 2.75em;
		        column-gap: 2.75em;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		justify-items: center;
	}
	/* Stop main from overlapping nav/sidebar */
	#main {
		max-width: var(--post-width);
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
			-ms-flex-pack: center;
				justify-content: center;
		-webkit-box-align: end;
			-ms-flex-align: end;
				align-items: end;
		margin-left: 2em;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
			-ms-flex-direction: column;
				flex-direction: column;
	}
	.posts {
		margin: 2em;
		margin-right: 0;
	}
	
	/* Position/resize page nav */
	#pagination {
		position: fixed;
		top: 0;
		right: calc(var(--sidebar-width) - 1.25em);
		height: 100vh;
		-webkit-box-pack: end;
			-ms-flex-pack: end;
				justify-content: end;
	}
	#pagination hr {
		width: 0;
		height: calc(100% - 2em);
	}
	#pagination .current-page i { display: none }
	
	/* Position sidebar */
	#sidebar {
		position: fixed;
		top: 50%;
		-webkit-transform: translate(-50%, -50%);
			-ms-transform: translate(-50%, -50%);
				transform: translate(-50%, -50%);
		left: calc(100% - (var(--sidebar-width)/2));
	}
}

@media (max-width: 60rem) {
	/* Rearrange main/sidebar/navigation to be stacked */
	body {
		display: -ms-grid;
		display: grid;
		justify-items: center;
	}
	#sidebar {
		-ms-grid-row: 1;
			grid-row: 1;
	}
	/* Align posts and navigation to center */
	#main {
		display: -ms-grid;
		display: grid;
		justify-items: center;
		width: 100%;
	}
	
	/* Stop page from scrolling sideways because of crosshairs */
	.posts { padding: 0 1em }
	
	/* Reshape navigation */
	#pagination {
		position: relative;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
			-ms-flex-direction: row;
				flex-direction: row;
		width: -webkit-fit-content;
		width: -moz-fit-content;
		width: fit-content;
		-webkit-box-pack: center;
			-ms-flex-pack: center;
				justify-content: center;
		margin-top: 1.5em;
	}
	#pagination hr { width: 100% }
	#pagination .arrows {
		-webkit-transform: rotate(270deg);
			-ms-transform: rotate(270deg);
				transform: rotate(270deg);
	}
	#pagination .arrows:hover {
		-webkit-transform: rotate(270deg) scale(1.15);
			-ms-transform: rotate(270deg) scale(1.15);
				transform: rotate(270deg) scale(1.15);
	}
	#pagination span { display: none }
}

@media (max-width: 31.5rem) {
	body { font-size: 90% }
	#btnctr svg { right: 0.5em }
}