/******************************** GENERAL STYLES ********************************/
html, body { height: 100% }
body {
	background: var(--bg);
	color: var(--text);
	display: grid;
	grid-template-columns: 1fr var(--sidebar-width);
}
a {
	color: var(--links);
	transition: color .2s;
}
a:not(:hover) { text-decoration: none }
a:hover { color: var(--links-hover) }
strong, b { color: var(--bold) }
em, i:not(.fas, .far) { color: var(--italics) }
h1, h2 {
	color: var(--headings);
	font-family: var(--title-font);
}
/* Text highlighting */
::selection {
	background-color: var(--highlight-bg);
	color: var(--highlight);
}
::moz-selection {
	background-color: var(--highlight-bg);
	color: var(--highlight);
}
/* Accessibility */
#skip, #hiddentitle, form label {
	position: fixed;
	top: -100em;
}
/* Frame component */
.frame {
	background-color: var(--post);
	position: relative;
	padding: 1em;
}
.frame::before, .frame::after {
	position: absolute;
	content: "";
	--displacement: -0.625em;
	--size: 2em;
	--color: #e8b201;
	--thickness: 0.0625em;
	display: inline-block;
	width: var(--size);
	height: var(--size);
	/* from https://stackoverflow.com/a/55281827 */
	background:
		linear-gradient(var(--color) 0 0),
		linear-gradient(var(--color) 0 0);
	background-position: center;
	background-size: 100% var(--thickness), var(--thickness) 100%; /*thickness = 2px, length = 50% (25px)*/
	background-repeat: no-repeat;
}
.frame::before { top: var(--displacement); left: var(--displacement) }
.frame::after { bottom: var(--displacement); right: var(--displacement) }
.frame > :first-child { margin-top: 0 }
.frame > :last-child { margin-bottom: 0 }
/* Scroll to top button */
#scrolltotop_parent {
	cursor: pointer;
	position: absolute;
	bottom: 0.5em;
	right: 0.5em;
	color: var(--links);
	background-color: var(--post);
	--size: 2em;
	width: var(--size);
	height: var(--size);
	border-radius: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	transition-property: color, transform;
}
#scrolltotop_parent:hover {
	color: var(--links-hover);
	transform: scale(1.15);
}



/***************************** MAIN CONTENT SECTION *****************************/
#main {
	background:red; /* temporary */
}
.post {
	max-width: var(--post-width);
}



/*********************************** SIDEBAR ***********************************/
#sidebar {
	padding: 2em;
	display: flex;
	flex-direction: column;
	row-gap: 1em;
	max-width: 25em;
	align-self: center;
}
/* Icon and important links section */
#iconlinks { min-height: 7em }
#iconlinks, .planet {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
/* Planet icon */
.planet {
	left: 0;
	z-index: 1;
}
.planet img {
	border-radius: 100%;
	--size: 5em;
	width: var(--size);
	height: var(--size);
	background-color: var(--accent);
}
.planet .ring {
	border-radius: 100%;
	display: block;
	width: 10em;
	height: 2.5em;
	border: 2px solid var(--accent);
	position: absolute;
	top: 25%;
	transform: rotate(-15deg);
	z-index: -1;
}
/* Icon buttons */
#buttons {
	display: inline-flex;
	flex-direction: column;
	row-gap: .25em;
	z-index: 1;
	position: relative;
}
#buttons a { transform: scale(0.9) }
#darklight:hover { cursor: pointer }
#creditlink { margin-left: 1em }
#copyright:hover { cursor: help }
#btnctr svg {
	position: absolute;
	right: .75em;
	z-index: 0;
}
#btnctr svg line {
	stroke: var(--accent);
	stroke-width: 0.0625em;
	stroke-opacity: 0.75;
}
#btnctr {
	position: absolute;
	top: 50%; left: 50%; transform: translate(-50%, -50%);
	z-index: 0;
	width: fit-content;
}
.planet, #btnctr { transition: .5s ease; transition-property: left, opacity }
#sidebar:hover .planet { left: -15% }
#sidebar:not(:hover) #btnctr { opacity: 0; }
#sidebar:hover #btnctr { left: 80% }
/* Blog and custom pages navigation */
#homelinks, #pages {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}
#homelinks hr, #pages hr {
	margin: 0;
	border-width: 0.0625em;
	border-color: rgba(var(--accent--rgb), 0.5);
	position: absolute;
	width: 100%;
	z-index: -1;
}
#homelinks nav, #pages nav {
	display: flex;
	align-items: center;
	width: 100%;
	justify-content: space-between;
}
#homelinks nav { max-width: 15em }
#pages nav { max-width: 23em }
#homelinks nav a, #pages nav a, #buttons a {
	background-color: var(--post);
	--size: 2em;
	width: var(--size);
	height: var(--size);
	border-radius: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	transition-property: color, transform;
}
body:not(.light) .fa-moon,
body.light .fa-sun { display: none }
#homelinks nav a:hover,
#pages nav a:hover,
#buttons > a:hover {
	text-decoration: none;
	transform: scale(1.15);
}
#homelinks nav::before, #homelinks nav::after,
#pages nav::before, #pages nav::after {
	content: "";
	display: block;
	background-color: var(--accent);
	--size: 0.4rem;
	width: var(--size);
	height: var(--size);
	border-radius: 100%;
}
/* Description */
#sidebartext { text-align: center }
#title h1 { margin: 0 }
#description { margin: 0.5em 0 }
#description > :first-child { margin-top: 0 }
#description > :last-child { margin-bottom: 0 }
form {
	display: grid;
	grid-template-columns: auto 1fr;
	max-width: 20em;
	margin: 1em auto;
	background: var(--bg);
	align-items: center;
}
form i.fa-search {
	color: var(--accent);
	padding: 0.5em;
}
form input {
	margin-right: 0.5em;
	background: none;
	color: var(--text);
	border: none;
}



/******************************** MEDIA QUERIES ********************************/
@media (max-width: 800px) {
	body { grid-template-columns: 1fr }
	#main { grid-row: 2 }
	#sidebar { justify-self: center }
}

@media (max-width: 500px) {
	body { font-size: 90% }
	#btnctr svg { right: 0.5em }
}