/******************************** GENERAL STYLES ********************************/
body {
	background: var(--bg-page);
	color: var(--text);
	--sidebar-width: 16em;
	display: grid;
	grid-template-columns: 1fr min(var(--post-width), calc(100% - var(--sidebar-width))) var(--sidebar-width) 1fr;
}
a {
	color: var(--links);
	text-decoration: none;
}
a:hover { color: var(--links-hover) }
strong, b { color: var(--bold) }
em, i:not(.fas, .far) { color: var(--italics) }
h1, h2 {
	color: var(--headings);
	font-family: var(--title-font);
}
/* Text highlighting */
::selection {
	background-color: var(--highlight-bg);
	color: var(--highlight);
}
::moz-selection {
	background-color: var(--highlight-bg);
	color: var(--highlight);
}
/* Accessibility skipper */
#skip {
	position: fixed;
	top: -100px;
}



/********************************* PAGE HEADER *********************************/
#pageheader {
	background: var(--accent1);
	grid-column: 1 / span 4;
	display: grid;
	grid-template-columns: auto 1fr auto;
	align-items: center;
	column-gap: 1em;
	padding: 0.5em 1em;
}
#pageheader.sticky {
	position: sticky;
	top: 0;
	z-index: 2;
}
#title {
	margin: 0;
	padding: 0.25em;
	height: var(--title-height);
	border: 0.15em solid var(--border);
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}
#pageheader a {
	background: var(--accent2);
	display: flex;
	--size: 2.5rem;
	width: var(--size);
	height: var(--size);
	align-items: center;
	justify-content: center;
	font-size: 1.5em;
}



/***************************** MAIN CONTENT SECTION *****************************/
main {
	background: rgba(var(--bg--rgb), var(--bg-opacity));
	padding: 0.75em 0.5em;
	position: relative;
}
/* Posts */
article {
	background-color: var(--post);
	margin: 1em 0;
	border: 0.25em solid var(--border);
}
article:first-child { margin-top: 0 }
/* Post header; notes, dates, and like/reblog buttons */
.postheader {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	background: var(--accent2);
	padding: 0.25em 0.5em;
}
.postnotecount i { margin-right: 0.5em }
.postdate {
	grid-column: 2;
	justify-self: center;
}
.likereblog {
	grid-column: 3;
	justify-self: end;
	display: flex;
	column-gap: 0.5em;
	align-items: center;
}
.pinnedpost { color: var(--headings) }
.customlike { position: relative }
.customlike .like_button { cursor: pointer }
.customlike .like_button.liked + i { color: var(--like) }
.customlike iframe {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
	opacity: 0;
}
/* Post footer */
.postfooter {
	display: grid;
	grid-template-columns: 2em 1fr;
	margin: 0.75em;
	column-gap: 1em;
}
.postfooter.sharelinks { grid-template-columns: 2em 1fr 2em }
.postfooter > a:first-child,
.postfooter div i {
	width: 2em;
	height: 2em;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--border);
	color: var(--bg);
}
/* Post footer: tags section */
.postfooter .tags {
	background-color: var(--bg);
	border: 0.125em solid var(--border);
	padding: 0.25em 0.5em;
}
.postfooter .tags:empty { background-color: var(--border) }
.postfooter .tags a { margin-right: 0.75em }
/* Post footer: Share menu */
.postfooter .sharelinks {
	position: relative;
	height: fit-content;
}
.postfooter .sharelinks:not(:hover) .dropdown {
	opacity: 0;
	pointer-events: none;
}
.postfooter .dropdown {
	transition: 0.2s;
	position: absolute;
	bottom: 2.25em;
	left: 0;
	background: var(--accent2);
	border: 0.125em solid var(--border);
	text-align: center;
	padding: 0.5em 0.75em;
	z-index: 100;
	width: 13em;
	transform: translateX(-42.5%);
}
.postfooter .dropdown h3 { margin: 0 0 0.5em 0 }
.postfooter .dropdown ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.postfooter .dropdown li { margin: 0.25em 0 }




/*********************************** SIDEBAR ***********************************/
aside {
	background: rgba(var(--bg--rgb), var(--bg-opacity));
	display: flex;
	flex-direction: column;
	padding: 0.75em 0.5em;
}
/* Fixed sidebar (with fixed header or not) */
aside .sticky {
	position: sticky;
	top: 0.5em;
}
aside .sticky.header { top: calc(var(--title-height) + 1.5em) }
/* User icon */
#blogavatar {
	width: 100%;
	border: 0.4em solid var(--border);
	align-items: center;
}
/* Name, ask/submit, description */
#name-asksubmit {
	display: grid;
	grid-template-columns: 2em 1fr 2em;
	column-gap: 0.5em;
	align-items: center;
	justify-items: center;
}
#blogname {
	grid-column: 2;
	background-color: var(--accent1);
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	height: 3em;
	padding: 0.5em;
}
#name-asksubmit a {
	width: 1.75em;
	height: 1.75em;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--accent2);
}
#description {
	border: 0.25em solid var(--border);
	padding: 0.5em;
	text-align: center;
}
/* Tag links and Random/Archive + Credit */
#taglinks, #credit-ra {
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 0.5em;
	row-gap: 0.5em;
	margin: 0.75em 0;
	text-align: center;
}
#taglinks a, #credit-ra a {
	background-color: var(--accent2);
	padding: 0.25em 0.5em;
	display: flex;
	align-items: center;
	justify-content: center;
}
#credit-ra.random:not(.archive) #randomlink,
#credit-ra.archive:not(.random) #archivelink,
#creditlink { grid-column: 1 / span 2 }
/* Search bar */
form {
	display: grid;
	grid-template-columns: auto 1fr;
	align-items: center;
	border: 0.25em solid var(--border);
	margin: 0.75em 0;
}
form label {
	position: fixed;
	top: -100px;
}
form i.fa-search {
	background-color: var(--border);
	color: var(--bg);
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	border-right: 0.25em solid var(--border);
	padding: 0 0.2em;
}
form input {
	width: 100%;
	background-color: var(--bg);
	color: var(--text);
	border: none;
	padding: 0.25em 0.5em;
}
/* Custom page links */
#blogpages {
	border: 0.25em solid var(--border);
	margin: 0.75em 0;
}
#blogpages a {
	display: block;
	text-align: center;
	padding: 0.3em;
}
#blogpages a:not(:last-child) { border-bottom: thin solid var(--accent2) }



/******************* BACK TO TOP / COLOR MODE TOGGLE BUTTONS *******************/
#buttons {
	position: fixed;
	bottom: 0;
	right: 0;
	z-index: 100;
}
#buttons > div {
	background: var(--accent1);
	box-shadow: 0 0 5px var(--border);
	--size: 2em;
	width: var(--size);
	height: var(--size);
	border-radius: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0.5em;
	cursor: pointer;
	opacity: 0.8;
}
#buttons > div:hover {
	opacity: 1;
	color: var(--links);
}
#tmblriframe { transition: transform .4s }
#buttons #tmblriframe.active {
	transform: rotate(-90deg);
	color: var(--links-hover);
}
.tmblr-iframe.tmblr-iframe--unified-controls {
	position: fixed;
	bottom: 0;
	top: unset;
	right: 3em;
}
.tmblr-iframe.tmblr-iframe--unified-controls:not(.active) { display: none }
.scrolltotop_hide_onload { display: none }
body:not(.light) .fa-moon, body.light .fa-sun { display: none }