.post .title a::before, .post .title a::after { transition: .3s }
ul.links {
	display: flex;
	flex-wrap: wrap;
	gap: 0.8em;
	list-style: none;
	margin: 0;
	padding: 0;
}
ul.links li { flex-grow: 1 }
ul.links a {
	text-align: center;
	transition: .2s;
	padding: 0.5em 1em;
	display: block;
	text-decoration: none;
	position: relative;
	background-color: rgba(var(--accent--rgb), 0.05);
	--displacement: 0;
	--color: rgba(var(--accent--rgb), 0.5);
}
ul.links a::before, ul.links a::after {
	position: absolute;
	content: "";
	display: block;
	--size: 0.3em;
	width: var(--size);
	height: var(--size);
	border: 0.15em solid transparent;
	-webkit-transition: .3s ease;
	-o-transition: .3s ease;
	transition: .3s ease;
}
ul.links a:hover::before, ul.links a:hover::after {
	--size: 0.75em;
	--color: var(--links-hover);
}
ul.links a::before {
	top: var(--displacement); left: var(--displacement);
	border-top-color: var(--color); border-left-color: var(--color);
}
ul.links a::after {
	bottom: var(--displacement); right: var(--displacement);
	border-bottom-color: var(--color); border-right-color: var(--color);
}
ul.links a i.cp { margin-right: 0.5rem }
@media (max-width: 60rem) {
	#main { margin-top: 1em }
	#pagination .marker { display: flex }
}