/* #region Basic colors/sizing */
body {
	background: var(--bg);
	color: var(--text);
	font-family: var(--title-font), "Helvetica Neue", HelveticaNeue, Arial, sans-serif;
	font-weight: var(--title-font-weight);
	display: grid;
	/* Including right-hand margins in the minimum widths, so this is actually 17em 51em [remainder] */
	grid-template-columns: minmax(17.5em, 1fr) minmax(1px, 52.25rem) 1fr;
	row-gap: 0.5em;
}
/* #region For when there's nothing in the sidebar */
body:not(.hasdesc, .haspages, .hasmembers) {
	grid-template-columns: 1fr minmax(1px, 52.25rem) 1fr;
}
body:not(.hasdesc, .haspages, .hasmembers) #main {
	grid-column: 2;
}
body:not(.hasdesc, .haspages, .hasmembers) #left { display: none !important }
/* #endregion */
body[data-sidebar-collapsed] {
	grid-template-columns: minmax(5.3em, 1fr) minmax(1px, 52.25rem) 1fr;
}
a {
	color: var(--accent);
	text-underline-offset: 0.05em;
	text-decoration-thickness: 0.1em;
}
/* Accessibility */
.hidden {
	position: fixed;
	top: -10vh;
	left: 0;
	font-size: 1vh;
	line-height: 1;
}
button { cursor: pointer }
.tmblr-iframe--unified-controls { top: 0.3em }
body.hasavatar .tmblr-iframe--unified-controls { right: 3.25em }
/* #endregion */


/* #region Blog header */
#pagehead {
	grid-column: 1 / span 3;
	position: sticky;
	top: 0;
	display: grid;
	grid-template-columns: auto 1fr auto;
	padding: 0.5em 1em 0 0.5em;
	background-color: var(--bg);
	z-index: 1;
}
#pagehead a {
	text-decoration: none;
	color: inherit;
	height: fit-content;
}
#docs, #avatar { grid-row: 1 / span 2 }
#docs svg, #avatar img {
	width: var(--size);
	height: var(--size);
	display: block;
}
#docs svg {
	--size: 3.25em;
	padding: 0.5em;
}
#avatar { grid-column: 3 }
#avatar img {
	--size: 2.5em;
	padding: 0.25em;
	margin-left: 1em;
	margin-top: 0.25em;
}
#avatar:hover img {
	filter: drop-shadow(0 0.0625em rgba(var(--text--rgb), 0.15));
	background-color: rgba(var(--accent--rgb), 0.1);
}
#avatar .square { border-radius: 0.5em }
#avatar .round { border-radius: 100% }
#title h1, #subtitle {
	margin: 0;
	font-weight: 400;
}
#title h1 {
	font-size: 1.125em;
	line-height: 1.375em;
}
#subtitle {
	font-size: 0.875em;
	line-height: normal;
	color: rgba(var(--text--rgb), 0.8);
	text-shadow: 0 0 rgba(var(--accent--rgb), 0.4);
	display: flex;
	flex-flow: row wrap;
	margin-left: -0.4375rem;
	margin-bottom: 0.125em;
}
#subtitle > span, #subtitle a, body.permalink #subtitle:empty::before {
	display: flex;
	align-items: center;
	letter-spacing: 0.0125rem;
	padding: 0.125rem 0.4375rem;
	border-radius: 0.25rem;
	height: unset;
}
#subtitle > span:hover, #subtitle a:hover, body.permalink #subtitle:empty:hover::before { background-color: rgba(var(--text--rgb), 0.05) }
body.permalink:not(.ask-page, .submit-page) #subtitle:empty::before { content: "Media post" }
body.permalink.ask-page #subtitle:empty::before { content: "Ask me anything" }
body.permalink.submit-page #subtitle:empty::before { content: "Submit" }
#subtitle .tag, #subtitle .search_query { margin-inline: 0.2em }
#subtitle .tag::before { content: "#" }
#subtitle .search_query::before { content: "\201C" }
#subtitle .search_query::after { content: "\201D" }
/* #endregion */


/* #region Blog navigation */
#blognav {
	margin-top: 0.375em;
	margin-inline-start: 0.5em;
	grid-column: 1 / span 3;
	display: flex;
	flex-flow: row wrap;
	gap: 0.1875em;
	align-items: center;
	border-radius: 1.1875em;
	background-color: rgba(var(--accent--rgb), 0.05);
	color: rgba(var(--text--rgb), 0.75);
	padding: 0.3125em 0.75em;
}
#blognav .left, #blognav .right {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
}
#blognav .left {
	justify-content: space-evenly;
	row-gap: inherit;
}
#blognav button, #blognav a {
	background: unset;
	border: unset;
	padding: unset;
	margin: unset;
	text-decoration: none;
	color: inherit;
	width: 1.75em;
	height: 1.75em;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 0.25em;
}
#blognav .material-symbols-outlined { font-size: 1.25em }
#blognav a:not([href]) {
	color: rgba(var(--text--rgb), 0.25);
	text-shadow: 0 0 rgba(var(--accent--rgb), 0.1);
}
#blognav button:hover, #blognav a[href]:hover,
#blognav .right > span:hover {
	background-color: rgba(var(--text--rgb), 0.05);
}
#blognav a[href].current-page, #blognav a[href].current-page:hover {
	background-color: rgba(var(--accent--rgb), 0.1);
	color: rgba(var(--text--rgb), 0.6);
	text-shadow: 0 0 var(--accent);
}
#blognav hr {
	height: 1.25em;
	border: 0;
	border-inline-start: 0.0125em solid rgba(var(--text--rgb), 0.22);
	margin: 0 0.1875em;
}
/* #region Search form */
#search:not([data-collapsed]) {
	background-color: var(--post-bg);
	display: flex;
	gap: 0.2em;
	border-radius: 0.25em;
	padding-inline-end: 0.25em;
	margin-inline-end: 0.1875em;
}
#search #togglesearch {
	width: 2.1875em;
	flex-shrink: 0;
}
#search:not([data-collapsed]) #togglesearch {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
#search[data-collapsed] #q { display: none }
#q {
	background: none;
	color: inherit;
	border: none;
	min-width: 0px;
	width: 100%;
}
/* #endregion */
/* #region Right side */
#blognav .right {
	flex-grow: 1;
	justify-content: end;
}
#blognav .right > span {
	height: 1.75em;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 1em;
	padding-inline: 0.5em;
	margin-inline-end: 0.4375em;
	gap: 0.5em;
}
#scrolltotop[disabled] { opacity: 0.38 }
#scrolltotop[disabled]:hover {
	background-color: unset;
	cursor: initial;
}
/* #endregion */
/* #endregion */


/* #region Blog sidebar */
#left {
	position: sticky;
	top: 7em;
	height: fit-content;
	max-width: 17em;
	padding-right: 0.5em;
	padding-top: 3em;
	transition: transform .3s;
	margin-right: 0.5em;
}
#showleft, #hideleft {
	position: absolute;
	top: 0;
	--left: 0.9em;
	left: var(--left);
	background: none;
	border: none;
	padding: 0;
	margin: 0;
	--size: 2.5em;
	height: var(--size);
	width: var(--size);
	border-radius: 100%;
	color: rgba(var(--text--rgb), 0.75);
}
#showleft:hover, #hideleft:hover { background-color: rgba(var(--text--rgb), 0.06) }
#showleft {
	left: 0;
	transform: translateX(-100%);
	transition-duration: inherit;
	transition-property: left, transform;
}
body[data-sidebar-collapsed] #left #showleft {
	left: calc(100% + var(--left));
	transform: translateX(0%);
}
#leftcontent {
	padding-left: 1.5em;
	padding-bottom: 3em;
	max-height: calc(100vh - 10em);
	overflow-y: auto;
}
#left h2 {
	margin: 0;
	font-size: 0.6875em;
	font-weight: 500;
	color: rgba(var(--text--rgb), 0.6);
	text-shadow: 0 0 rgba(var(--accent--rgb), 0.1);
	letter-spacing: 0.00625rem;
	height: 2.25rem;
	display: flex;
	align-items: center;
}
#desc .content {
	font-size: 0.875em;
	padding: 0.5rem;
	margin-inline-start: -0.5rem;
	border: 0.125rem solid transparent;
	color: rgba(var(--text--rgb), 0.73);
	line-height: 1.25rem;
	letter-spacing: 0.0125rem;
}
#pages, #members {
	display: flex;
	flex-direction: column;
	margin-left: -1.5em;
}
#pages h2, #members h2 { margin-left: 1.5rem }
#pages a, #members a {
	text-decoration: none;
	color: rgba(var(--text--rgb), 0.73);
	font-size: 0.875em;
	letter-spacing: 0.015625rem;
	font-weight: 500;
	line-height: 2rem;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	padding-left: 1.5rem;
}
#pages a:hover, #members a:hover { color: rgba(var(--text--rgb), 0.9) }
#pages a.current-page {
	color: var(--accent);
	position: relative;
}
#pages a.current-page:hover {
	color: rgba(var(--text--rgb), 0.15);
	text-shadow: 0 0 var(--accent);
}
#pages a.current-page::before {
	content: "–";
	font-size: 1.0625rem;
	position: absolute;
	left: 0;
	padding-left: 0.5rem;
}
#left hr {
	margin-block: 1.125em;
	border: none;
	border-top: 0.0625em solid rgba(var(--text--rgb), 0.22);
}
#leftcontent hr:first-child { display: none }
/* #endregion */


/* #region Posts section */
#main { margin-right: 1.25em }
#posts {
	display: flex;
	flex-direction: column;
	gap: 0.75em;
	margin-bottom: 1em;
}
.post {
	background-color: var(--post-bg);
	outline: 0.0625em solid rgba(var(--text--rgb), 0.22);
	box-shadow: 0 0.0625em 0.1875em 0.0625em rgba(var(--text--rgb), 0.1);
	padding: 3.75em min(7.5em, 10vw);
}

/* #region Post headers and footers */
.post > header, .post > footer {
	min-height: 3.7em;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	gap: 1em min(5vw, 5em);
}
.post > header { align-items: start }
.post > footer { align-items: end }
.post > footer > * {
	margin: 0;
	display: flex;
	flex-wrap: wrap;
	gap: 0.25em 0.75em;
	justify-content: center;
}
.post > footer .vsn:empty,
.post > footer .lr:empty,
.post > footer .tags:empty { display: none }
/* #region Like button */
.customlike { position: relative }
.customlike .like_button, .customlike iframe {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100% !important;
	height: 100% !important;
	overflow: hidden;
	opacity: 0;
}
.customlike .like_button:not(.liked) ~ .to-unlike,
.customlike .like_button.liked ~ .to-like { display: none }
/* #endregion */
/* #endregion */

/* #region Trail item user labels */
.user a {
	display: flex;
	align-items: center;
	gap: 0.4em;
}
.user .avatar {
	--size: 2.5em;
	width: var(--size);
	height: var(--size);
	border-radius: 0.25em;
}
.user .circle.avatar { border-radius: 100% }
/* Mark deactivated/broken users */
.deactivated.user .name::after {
	content: "deactivated";
	opacity: 0.6;
	margin-left: 0.25em;
}
/* #region Trail item user badges */
.user .badges {
	--size: 0.875em;
	flex-grow: 1;
	display: flex;
	align-items: center;
	gap: 0.15em;
	height: var(--size);
}
.user .badges span {
	position: relative;
	flex-grow: 1;
	max-width: var(--size);
	height: var(--size);
}
/* Stop all but the last badge from collapsing at small widths */
.user .badges img {
	width: var(--size);
	height: var(--size);
	max-width: unset;
	filter: drop-shadow(0 0 0.1em var(--bg));
	display: block;
}
.user .badges span:not(:last-child) img {
	position: absolute;
	left: 0;
}
/* #endregion */
/* #endregion */

/* #region Post body content */
/* #region Ask blocks */
.ask {
	border: solid var(--accent);
	padding: 0.5em;
	white-space: pre-line;
	margin-bottom: 1em;
}
.ask .user {
	display: flex;
	align-items: center;
}
.ask .user a { margin-inline-end: 0.2em }
/* #endregion */
/* #region Video blocks */
.video {
	width: 100%;
	min-height: 20vh;
	max-height: 80vh;
	background: rgba(var(--accent--rgb), 0.2);
}
/* #endregion */
/* #region Image blocks and image rows */
img {
	max-width: 100%;
	height: auto;
}
figure { margin: 0 }
.row {
	display: grid;
	grid-auto-flow: column;
	grid-auto-columns: 1fr;
	--spacing: min(0.2em, 1vw);
	gap: var(--spacing);
	margin-block: var(--spacing);
}
.row figure {
	display: flex;
	flex-direction: column;
}
.row img {
	object-fit: cover;
	height: 100%;
	width: 100%;
}
/* #endregion */
/* #region Lightbox */
body.lightboxed { overflow: hidden }
#lightbox {
	position: fixed;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.75);
	z-index: 2;
}
#lightbox img {
	position: absolute;
	top: 50%;
	max-width: 90vw;
	max-height: 90vh;
	width: auto;
	height: auto;
	box-shadow: 0 0 0.5em rgba(0, 0, 0);
}
#lightbox img.center {
	left: 50%;
	z-index: 2;
	transform: translate(-50%, -50%);
}
#lightbox img.left {
	left: 0;
	transform: translate(-80%, -50%);
}
#lightbox img.right {
	left: 100%;
	transform: translate(-20%, -50%);
}
/* The close button */
#lightbox #close {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	line-height: 1;
	color: #fff;
}
#lightbox #close::before {
	content: "🗙";
	font-size: 1.5em;
	cursor: pointer;
	padding: 0.5em;
	display: inline-block;
}
#lightbox #close:focus::before { color: #acacac }
/* #endregion */
/* #region Poll block */
/* Align poll colors to theme colors */
div.poll-post a.poll-row {
	color: var(--text);
	background-color: rgba(var(--accent--rgb), 0.2);
}
/* #endregion */
/* #region Custom audio block */
.audiowrapper {
	background-color: var(--bg);
	color: var(--text);
	display: flex;
	flex-direction: column;
}
.audiowrapper .top {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1em;
	padding: 1em 2em;
}
.audiowrapper .hasart {
	background-position: center;
	background-size: cover;
}
.audiowrapper .hasart .top {
	backdrop-filter: blur(1em);
	background-color: rgba(var(--bg--rgb), 0.75);
}
.audiowrapper .albumart {
	--size: 5em;
	max-width: var(--size);
	max-height: var(--size);
	border-radius: 100%;
}
.audiowrapper .textinfo {
	display: flex;
	flex-direction: column;
	line-height: 1;
	align-self: center;
	gap: 0.4em;
}
.audiowrapper .textinfo:empty { display: none }
.audiowrapper .trackname { font-weight: 700 }
.audiowrapper .artist, .audiowrapper .album { font-size: 0.875em }
.audiowrapper .buttons {
	padding-block: 0.75em;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	line-height: 1;
	gap: 0.5em;
}
.audiowrapper .buttons button {
	--size: 2em;
	width: var(--size);
	height: var(--size);
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	font: inherit;
	font-size: 1.25em;
	border: none;
	border-radius: 100%;
	background-color: transparent;
	color: inherit;
}
.audiowrapper .buttons button:hover {
	color: rgba(var(--text--rgb), 0.5);
	text-shadow: 0 0 var(--accent);
}
.audiowrapper .buttons .playpause {
	background-color: var(--text);
	color: var(--bg);
	margin-inline: 0.25em;
}
.audiowrapper .buttons .playpause:hover {
	color: var(--bg);
	text-shadow: unset;
	background-color: var(--accent);
	background-image: linear-gradient(rgba(var(--text--rgb), 0.75), rgba(var(--text--rgb), 0.75))
}
.audiowrapper .buttons button.active {
	color: var(--accent);
}
.audiowrapper audio,
.audiowrapper audio.playing ~ .buttons .play,
.audiowrapper audio:not(.playing) ~ .buttons .pause,
.audiowrapper .volume.active .mute,
.audiowrapper .volume:not(.active) .unmute,
.audiowrapper .loop.active .repeat,
.audiowrapper .loop:not(.active) .unrepeat {
	display: none;
}

/* Seekbar styling */
.seekbar {
	width: 100%;
	height: 0.5em;
	margin: 0;
	background-color: rgba(var(--text--rgb), 0.15);
	-webkit-appearance: none;
	--progress-bg: var(--accent);
	position: relative;
}
.seekbar:focus { outline: none }
.seekbar::before {
	content: "";
	background-color: var(--progress-bg);
	display: block;
	height: 100%;
	width: var(--progress-width);
	position: absolute;
	top: 0;
	left: 0;
	cursor: pointer;
}

.seekbar::-webkit-slider-runnable-track {
	background: transparent;
	border: 0;
	width: 100%;
	height: 100%;
	cursor: pointer;
}
.seekbar::-webkit-slider-thumb {
	width: 0px;
	height: 0px;
	border: 0;
	cursor: pointer;
	-webkit-appearance: none;
}

.seekbar::-moz-range-track {
	background: transparent;
	border: 0;
	width: 100%;
	height: 100%;
	cursor: pointer;
}
.seekbar::-moz-range-thumb {
	width: 0px;
	height: 0px;
	border: 0;
	cursor: pointer;
}
.seekbar::-moz-range-progress {
	background-color: var(--progress-bg);
	height: 100%;
}

.seekbar::-ms-track {
	background: transparent;
	border-color: transparent;
	border-width: 0 0;
	color: transparent;
	width: 100%;
	height: 100%;
	cursor: pointer;
}
.seekbar::-ms-fill-lower {
	background: var(--progress-bg);
	border: 0;
}
.seekbar::-ms-fill-upper {
	background: transparent;
	border: 0;
}
.seekbar::-ms-thumb {
	width: 0px;
	height: 0px;
	border: 0;
	cursor: pointer;
	margin-top: 0px;
	/* Needed to keep the Edge thumb centered */
}
/* #endregion */
/* #region Paywall block */
.paywall {
	background-color: var(--bg);
	color: var(--text);
	padding: 1em 5%;
	margin-block: 1em;
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	gap: 1em;
}
.paywall * { margin-block: 0 }
.paywall h2 { font-family: var(--font) }
.paywall h2, .paywall strong, .paywall a { color: var(--accent) }
.paywall a {
	text-decoration: none;
	border: solid var(--accent);
	padding: 0.5em 1em;
	display: block;
	border-radius: 5em;
}
.paywall.divider {
	padding: unset;
	background-color: unset;
	color: var(--color);
	flex-direction: row;
	gap: 0.25em;
}
.paywall.divider::before, .paywall.divider::after {
	content: "";
	flex-grow: 1;
	display: block;
	border: thin solid var(--color);
}
/* #endregion */
/* #endregion */

/* #endregion */


/* #region Media queries */
/* ~Desktop sizing */
@media (min-width: 55em) {
	/* #region Show/hide sidebar */
	body[data-sidebar-collapsed] #left { transform: translateX(-100%) }
	body[data-sidebar-collapsed] #left #leftcontent { display: none }
	#leftcontent {
		--bgTrans: rgba(var(--bg--rgb), 0);
		--shadow: rgba(var(--text--rgb), 0.1);

		background:
			/* Shadow Cover TOP */
			linear-gradient(
				var(--bg) 30%,
				var(--bgTrans)
			) center top,

			/* Ease shadow to right TOP */
			linear-gradient(
				to right,
				var(--bgTrans) 70%,
				var(--bg)
			) center top,
			/* Shadow TOP */
			linear-gradient(
				to bottom,
				var(--shadow),
				rgba(0, 0, 0, 0)
			) center top;

		background-repeat: no-repeat;
		background-size: 100% 1em, 100% 0.25em, 100% 0.25em;
		background-attachment: local, scroll, scroll;
	}
	/* #endregion */
}
/* ~Mobile sizing */
@media (max-width: 55em) {
	/* Stack content */
	body {
		display: flex;
		flex-direction: column;
	}
	
	/* #region Alter sidebar layout and add scroll shadows */
	#showleft, #hideleft { display: none }
	#left {
		padding-top: 0;
		position: static;
		max-width: unset;
	}
	#leftcontent {
		max-height: 50vh;
		padding-bottom: 1em;
		
		--bgTrans: rgba(var(--bg--rgb), 0);
		--shadow: rgba(var(--text--rgb), 0.1);

		background:
			/* Shadow Cover TOP */
			linear-gradient(
				var(--bg) 30%,
				var(--bgTrans)
			) center top,

			/* Shadow Cover BOTTOM */
			linear-gradient(
				var(--bgTrans), 
				var(--bg) 70%
			) center bottom,
			
			/* Shadow TOP */
			linear-gradient(
				to bottom,
				var(--shadow),
				rgba(0, 0, 0, 0)
			) center top,

			/* Shadow BOTTOM */
			linear-gradient(
				to top,
				var(--shadow),
				rgba(0, 0, 0, 0)
			) center bottom;

		background-repeat: no-repeat;
		background-size: 100% 1em, 100% 1em, 100% 0.25em, 100% 0.25em;
		background-attachment: local, local, scroll, scroll;
	}
	/* #endregion */
	
	/* Pad posts */
	#main {
		margin-inline: min(1.25em, 2vw);
	}
}
/* #endregion */