/* #region GENERAL STYLES */
html {
	background-color: var(--bg);
	color: var(--text);
	font-family: var(--bfont);
	line-height: 1.125;
}
a {
	color: inherit;
	text-decoration: none;
	border-bottom: 1px solid;
}
#main a[href]:hover, #desc a[href]:hover { opacity: .5 }
.button {
	cursor: pointer;
	display: inline-block;
	font-size: 0.875rem;
	border-radius: 0.25em;
	padding: 0.3em 0.75em;
	margin: 0.25em 0.4em;
	border: 1px solid var(--bg2);
	color: var(--text);
	background: var(--bg) linear-gradient(var(--bg), var(--bg2));
}
.button:hover, .button:focus, .button.active,
#search input:hover, #search input:focus {
	box-shadow: inset 0.125rem 0.125rem 0.125rem var(--bg2)
}
.button:hover { color: var(--accent) }
.button:active {
	color: var(--text);
	background-image: unset;
}
h1, h2, h3 { font-family: var(--tfont) }
/* Accessibility */
#skip, #hiddentitle, #search label {
	position: fixed;
	font-size: 1px;
	top: -100rem;
}
/* TOOLTIPS */
#s-m-t-tooltip {
	margin: 1em;
	padding: 0.25em 0.5em;
}
/* #region Casing */
body.upper .TODO {
	text-transform: uppercase;
}
body.lower .TODO {
	text-transform: lowercase;
}
/* #endregion */
/* #endregion */



/* #region HEADER */
#header { margin: 0 0 1em }
#title {
	display: flex;
	border: none;
	align-items: center;
	height: 3.3em;
	width: fit-content;
	padding-right: 1em;
}
#title h1 {
	font-weight: var(--tweight);
	font-size: 1.714em;
	margin: 0 0 0 0.2em;
}
#title:hover { color: inherit }
#avatar {
	height: 100%;
	width: auto;
}
/* Links/search bar */
#links-search {
	background: var(--accent) linear-gradient(var(--accent) 50%, rgba(var(--text--rgb), 0.3));
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: space-between;
	padding: 0 0.7em 0 2em;
	font-size: 0.875em;
}
#links > a, #pages span {
	border-bottom: none;
	color: var(--bg);
	display: inline-flex;
	padding: 0.5rem 0.75rem;
}
#links > a:hover, #pages:hover span {
	color: var(--text);
	background-color: var(--bg2);
}
/* Custom pages */
#pages { display: inline-block }
#pages:not(:hover) #pages-dropdown { opacity: 0; pointer-events: none }
#pages-dropdown {
	position: absolute;
	left: 0;
	display: flex;
	flex-direction: column;
	background-color: var(--bg2);
	padding: 0.25rem;
	box-shadow: 0.1em 0.1em 0.25em -0.1em rgba(var(--text--rgb), 0.75);
}
#pages span { cursor: help }
#pages-dropdown a {
	padding: .75rem .5rem .5rem;
	border-color: var(--text);
}
#pages-dropdown a:last-child { border-bottom: none }
#pages-dropdown a:hover {
	color: inherit;
	background-color: rgba(var(--bg--rgb), 0.25);
}
/* Search bar */
#search input {
	border: none;
	margin: 0.25em 0;
	color: var(--text);
	background: var(--bg) linear-gradient(var(--bg), var(--bg2));
}
#search #q {
	height: 1.586em;
	border-radius: 1em;
	padding: 0.15em 0.25em;
	margin: 0 0.7em;
}
#search input.button { height: 1.5625rem }
/* #endregion */



/* #region CENTER */
#page {
	padding: 0.5em 2.5em 3.5em;
	display: grid;
}
/* Subtitle */
#secondary {
	font-weight: var(--tweight);
	font-size: 1.875em;
	margin: .5em 0;
	display: inline;
}
#secondary a {
	color: inherit;
	line-height: 1.5;
	border-bottom: 1px dotted;
}
#secondary a:hover {
	background-color: var(--accent);
	color: var(--bg);
}
/* Actions menu */
#actions {
	margin-bottom: 0.25rem;
	text-align: right;
	position: sticky;
	top: 0.25em;
}
.button.active, a.curr {
	box-shadow: inset 0.125rem 0.125rem 0.125rem rgba(var(--text--rgb), 0.2);
	background: var(--bg2);
}
#scrolltotop_parent { display: inline-block }
#page:not(.desc) #sidebar, #page:not(.desc) #right { display: none }
/* Pagination */
.pagination {
	text-align: center;
	margin-bottom: 0.5em;
}
.pagination a { margin: 0 0.3em }
#prev:not([href]), #next:not([href]) {
	background: none;
	border: none;
	padding: 0;
}
.pagination a:not([href]):hover {
	color: inherit;
	box-shadow: none;
	cursor: initial;
}
span.curr {
	font-size: 0.875rem;
	margin: 0 0.75em;
}
/* Sidebar: RIGHT */
#right {
	background-color: var(--bg2);
	padding: 1em 2%;
	border: 0.1em solid rgba(var(--text--rgb), 0.1);
	box-shadow: inset 0.1em 0 0.25em rgba(var(--text--rgb), 0.1);
}
#right a { display: inline-block }
#right > :not(:first-child) {
	--spacing: 1em;
	padding-top: var(--spacing);
	border-top: thin solid rgba(var(--bg--rgb), 0.65);
	margin-top: var(--spacing);
}
/* #endregion */



/* #region POSTS */
/* #endregion */



/* #region POST TYPES */
/* #endregion */



/* #region RESPONSIVENESS */
@media (min-width: 50em) { /* Desktop */
	#pages { position: relative }
	#pages-dropdown {
		left: 0;
		min-width: 20rem;
	}
	
	
	#page { grid-template-columns: auto 1fr auto }
	#secondary, #actions, .pagination { grid-column: 2 / span 2 }
	.top.pagination { grid-row: 3 }
	.bottom.pagination { grid-row: 5 }
	#left {
		grid-column: 1;
		grid-row: 1 / span 5;
		width: 11.25em;
		margin-right: 2em;
	}
	#left:empty { display: none }
	#main { grid-column: 2 }
	#page:not(.desc) #main { grid-column: 2 / span 2 }
	#right {
		margin: .5em;
		grid-column: 3;
		width: 25vw;
		height: fit-content;
		margin-left: 3vw;
	}
	#sidebar, #back { display: none }
}

@media (max-width: 50em) { /* Mobile */
	html { font-size: 0.875em }
	#page { padding: 0.5em 3.5% 3.5em }
	
	#links-search {
		flex-flow: column;
		justify-content: unset;
		padding: 0 0.7em
	}
	#links { align-self: start }
	#search { align-self: end }
	#pages-dropdown { width: 100% }
	
	
	#left {
		grid-row: 1;
		grid-column: 1;
	}
	/* About section toggling*/
	#body.showright {
		--right-width: 16em;
		position: relative;
		right: var(--right-width);
	}
	#right {
		position: absolute;
		top: 0;
		left: 100%;
		min-height: 100vh;
		height: 100%;
		width: var(--right-width);
	}
	#body:not(.showright) #right { display: none }
	#back {
		position: fixed;
		top: 0;
		left: 0;
		width: calc(100% - var(--right-width));
		height: 100%;
	}
}
/* #endregion */